.pillWrapper {
    white-space: normal;
}

.pillContent.priority {
    padding: 0;

    @include media-breakpoint-down(lg) {
        min-height: inherit;
    }
}

.pillText.priority {
    margin: 0;
    padding-left: 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    line-height: 18px;

    @media (width >= 768px) and (width < 992px) {
        font-size: 12px;
        line-height: 16px;
    }
}

.urgentPillWrapper {
    display: block;
}

.urgentPillContent.priority {
    color: $colorUrgencyRed;
    background-color: rgba(235, 50, 35, 0.1);
}
