<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <sites>
            <site patch:before="site[@name='website']" inherits="website" name="MicroApps" hostName="*" rootPath="/sitecore/content/EasyJet/MicroApps" startItem="/micro-apps" database="#{Sitecore.Jss.Website.Database}" enableTracking="false" htmlCacheSize="300MB" cacheHtml="true" alwaysIncludeServerUrl="false" />
        </sites>
    </sitecore>
</configuration>
