.creditItemInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.recentCredit {
    .date,
    .description,
    .type {
        color: $colorGreen;
    }
}

.logo {
    width: 51px;
    height: auto;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    color: $clrTextHeading;
    text-align: left;
}

.type {
    font-size: 16px;
    line-height: 1.375;
    color: $clrTextMain;
}

.description {
    font-size: 14px;
    line-height: 1.285;
    color: $clrTextMain;
}
