<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Presentation" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                   
                    
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Presentation.Templates" database="master" path="/sitecore/templates/Foundation/Presentation"/>
                        <include name="Presentation.Settings" database="master" path="/sitecore/system/Settings/Foundation/Presentation"/>
                        <include name="Presentation.PersonalizationParameters" database="master" path="/sitecore/templates/System/Layout/Rendering Parameters/Standard Rendering Parameters/Personalization"/>
                        <include name="Presentation.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/Presentation"/>
                        <!-- Component Rules -->
                        <include name="Presentation.ComponentRuleTags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/easyJet Component Rules"/>
                        <include name="Presentation.ComponentRuleElements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/easyJet Component Rules"/>
                        <include name="Presentation.ComponentRules" database="master" path="/sitecore/system/Settings/Rules/easyJet Component Rules"/>
                        <include name="Presentation.Rules.ConditionalRenderings" database="master" path="/sitecore/system/Settings/Rules/Conditional Renderings/Tags/Default"/>

                        <!-- Global Rules -->
                        <include name="Presentation.GlobalRuleTags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/easyJet Global Rules"/>
                        <include name="Presentation.GlobalRuleElements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/easyJet Global Rules"/>
                        <include name="Presentation.GlobalRules" database="master" path="/sitecore/system/Settings/Rules/easyJet Global Rules"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
