<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <renderJsonRendering>
                        <processor type="easyJet.Foundation.Presentation.Pipelines.RenderJsonRendering.GetImageUrlRenderingParameterProcessor, easyJet.Foundation.Presentation" resolve="true" />
                    </renderJsonRendering>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Foundation.Presentation.Pipelines.GetLayoutServiceContext.ExtendContextDataProcessor, easyJet.Foundation.Presentation" resolve="true" />
                    </getLayoutServiceContext>
                </pipelines>
            </group>
            <mvc.renderRendering>
                <processor type="easyJet.Foundation.Presentation.Pipelines.RenderRendering.ExperienceContextProviderCacheKeyProcessor, easyJet.Foundation.Presentation"
                           patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GetRenderedRenderingFromCache, Sitecore.Mvc']"
                           resolve="true" />
            </mvc.renderRendering>
            <mvc.getXmlBasedLayoutDefinition>
                <processor type="easyJet.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.ArrangeHotelsDetailsRenderings, easyJet.Foundation.Presentation" patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.GetXmlBasedLayoutDefinition.GetFromLayoutField, Sitecore.Mvc']" resolve="true">
                    <websites hint="list:AddWebsite">
                        <website>Holidays</website>
                        <website>TradePortal</website>
                    </websites>
                </processor>
                <processor type="easyJet.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.AddPartialDesignsRenderings, easyJet.Foundation.Presentation" patch:after="*[@type='easyJet.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.ArrangeHotelsDetailsRenderings, easyJet.Foundation.Presentation']" resolve="true">
                    <websites hint="list:AddWebsite">
                        <website>Holidays</website>
                        <website>TradePortal</website>
                    </websites>
                </processor>
                <processor type="easyJet.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.ApplyExperienceContextProviders, easyJet.Foundation.Presentation"  
                           patch:after="*[@type='easyJet.Foundation.Presentation.Pipelines.GetXmlBasedLayoutDefinition.AddPartialDesignsRenderings, easyJet.Foundation.Presentation']" resolve="true" />
            </mvc.getXmlBasedLayoutDefinition>
            <mvc.requestBegin>
                <processor type="easyJet.Foundation.Presentation.Pipelines.RequestBegin.RulesProcessor, easyJet.Foundation.Presentation"
                           patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']" resolve="true" />
                <processor type="easyJet.Foundation.Presentation.Pipelines.RequestBegin.EvaluateTestExposure, easyJet.Foundation.Presentation"
                           patch:instead="processor[@type='Sitecore.ContentTesting.Mvc.Pipelines.Response.RequestBegin.EvaluateTestExposure, Sitecore.ContentTesting.Mvc']" resolve="true" />
            </mvc.requestBegin>
            <startTest>
                <processor type="easyJet.Foundation.Presentation.Pipelines.StartTest.Deploy, easyJet.Foundation.Presentation"
                           patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.StartTest.Deploy, Sitecore.ContentTesting']" resolve="true"/>
            </startTest>
            <getTestToRun>
                <processor type="easyJet.Foundation.Presentation.Pipelines.GetTestToRun.GetFromPageDesigns, easyJet.Foundation.Presentation"
                         patch:before="processor[@type='Sitecore.ContentTesting.Pipelines.GetTestToRun.GetFromFinalLayout, Sitecore.ContentTesting']" resolve="true"/>
                <processor type="easyJet.Foundation.Presentation.Pipelines.GetTestToRun.EnsurePageDesignTest, easyJet.Foundation.Presentation"
                         patch:instead="processor[@type='Sitecore.ContentTesting.Pipelines.GetTestToRun.EnsurePageTest, Sitecore.ContentTesting']" resolve="true"/>
            </getTestToRun>
            <mvc.customizeRendering>
                <processor type="easyJet.Foundation.Presentation.Pipelines.CustomizeRendering.IsPersonalizationEnabled, easyJet.Foundation.Presentation"
                           patch:before="processor[@type='Sitecore.ContentTesting.Mvc.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.ContentTesting.Mvc']" resolve="true"/>
                <processor type="easyJet.Foundation.Presentation.Pipelines.CustomizeRendering.CheckCookieConsent, easyJet.Foundation.Presentation"
                           patch:before="processor[@type='Sitecore.ContentTesting.Mvc.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.ContentTesting.Mvc']" resolve="true"/>
                <processor type="easyJet.Foundation.Presentation.Pipelines.CustomizeRendering.Personalize, easyJet.Foundation.Presentation"
                           patch:instead="processor[@type='Sitecore.Personalization.Mvc.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Personalization.Mvc']" resolve="true"/>

            </mvc.customizeRendering>
            <mvc.getRenderer>
                <processor type="easyJet.Foundation.Presentation.Pipelines.MvcGetRenderer.HideRendering, easyJet.Foundation.Presentation" patch:before="*[position()=last()]" resolve="true">
                    <websites hint="list:AddWebsite">
                        <website>Holidays</website>
                        <website>TradePortal</website>
                    </websites>
                </processor>
            </mvc.getRenderer>
            <getContentEditorWarnings>
                <processor
                    type="easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ExperienceContextProviderContentEditorWarningsProcessor, easyJet.Foundation.Presentation"
                    resolve="true" />
                <processor
        type="easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ExperienceContextProviderPageContentEditorWarningsProcessor, easyJet.Foundation.Presentation"
        patch:after="processor[@type='easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ExperienceContextProviderContentEditorWarningsProcessor, easyJet.Foundation.Presentation']"
        resolve="true" />
                <processor
                    type="easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ExperienceContextProviderPageTemplateContentEditorWarningsProcessor, easyJet.Foundation.Presentation"
                    patch:after="processor[@type='easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ExperienceContextProviderPageContentEditorWarningsProcessor, easyJet.Foundation.Presentation']"
                    resolve="true" />
                <processor
                    type="easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.PageDesignContentEditorWarningsProcessor, easyJet.Foundation.Presentation"
                    patch:after="processor[@type='easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ExperienceContextProviderPageTemplateContentEditorWarningsProcessor, easyJet.Foundation.Presentation']"
                    resolve="true" />
                <processor
                    type="easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.AssignedPageDesignContentEditorWarningsProcessor, easyJet.Foundation.Presentation"
                    patch:after="processor[@type='easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.PageDesignContentEditorWarningsProcessor, easyJet.Foundation.Presentation']"
                    resolve="true" />
                <processor
                    type="easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.ProviderPageDesignMissingRuleContentEditorWarningsProcessor, easyJet.Foundation.Presentation"
                    patch:after="processor[@type='easyJet.Foundation.Presentation.Pipelines.GetContentEditorWarnings.AssignedPageDesignContentEditorWarningsProcessor, easyJet.Foundation.Presentation']"
                    resolve="true" />
            </getContentEditorWarnings>
        </pipelines>
        <contentTesting>
            <contentTestStore type="easyJet.Foundation.Presentation.ContentTesting.Data.ContentTestStore, easyJet.Foundation.Presentation"
                              patch:instead="contentTestStore[@type='Sitecore.ContentTesting.Data.SitecoreContentTestStore, Sitecore.ContentTesting']" />
        </contentTesting>
        <settings>
            <setting name="Foundation.Presentation.RulesPathPattern" value="{0}/Rules" />
            <setting name="Foundation.Presentation.ParentPagesUrlSegmentForExcluding" value="destinations" />
        </settings>
    </sitecore>
</configuration>
