.subtitle {
    margin-top: 6px;
    font-family: $fontRoundedDemy;
    font-size: 18px;
    font-weight: 400;
    margin-block: 0;
}

.title {
    margin-block: 0;
}

.headingGroup {
    margin-block: 32px;

    @include media-breakpoint-down(md) {
        margin-block: 16px 0;
    }
}

.fullWidthContent {
    width: 100%;

    @include media-breakpoint-down(md) {
        width: auto;
        margin-inline: -15px;
    }
}
