.card {
    --iframe-card-padding: 8px;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--iframe-card-padding);
    background-color: $colorWhite;
    border: 1px solid $colorGeyser;
    border-radius: 8px;
}
