.flightPlusHotelContainer {
    h2 {
        font-weight: 400;
    }

    :global(.additional-text) {
        display: flex;
        flex-direction: column;
        gap: 8px;

        br {
            display: none;
        }

        span {
            line-height: 1.37;
        }
    }
}
