.numControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    display: flex;
    align-items: center;
}

.description {
    margin-left: 15px;
    font-family: $fontRoundedBook;
    font-size: 16px;
    line-height: 1.125;
    color: $clrTextMain;
}

.numControls {
    flex-shrink: 0;
}

.error {
    .description {
        color: $colorRed;
    }
}

.errorMessage {
    @include media-breakpoint-down(md) {
        margin: 10px 0 !important;
    }
}
