h3.boardsSubtitle {
    @include media-breakpoint-down(md) {
        padding-left: 0;
    }
}

.spoilerBox + :global(.show-more) {
    margin-top: 12px;
}

.boardCardAlert {
    padding: 12px 16px;
    background-color: $colorPorcelain;

    @include media-breakpoint-down(md) {
        padding: 8px;
    }
}

.price {
    font-size: 24px;
    font-weight: 700;
}

.priceLabel {
    margin-left: 5px;
}
