<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Destinations" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Destinations.Templates" database="master" path="/sitecore/templates/Feature/Destinations"/>
                        <include name="Destinations.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Destinations"/>
                        <include name="Destinations.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Destinations"/>
                        <include name="Destinations.Media" database="master" path="/sitecore/media library/Feature/Destinations"/>
                        <include name="Destinations.System.Settings" database="master" path="/sitecore/system/Settings/Feature/Destinations"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>