<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Bundles" dependencies="Bundles.Serialization" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Bundles.Templates"  database="master" path="/sitecore/templates/Feature/Bundles"/>
                        <include name="Bundles.Renderings"  database="master" path="/sitecore/layout/Renderings/Feature/Bundles"/>
                        <include name="Bundles.ContentResolvers"  database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Feature/Bundles"/>
                        <include name="Bundles.PlaceholderSettings"  database="master" path="/sitecore/layout/Placeholder Settings/Feature/Bundles"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
