.filterWrapper {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    @include media-breakpoint-down(md) {
        padding-bottom: 110px;
    }
}

.checkboxTreeGroup {
    display: flex;
    flex-direction: column;

    .checkboxGroup {
        padding-left: 33px;
    }
}

.checkboxGroup {
    display: flex;
    flex-direction: column;
}
