.content {
    display: flex;
    flex-direction: column;
    border-radius: 0;

    @include media-breakpoint-up(md) {
        max-width: 800px;
        border-radius: 4px;
    }
}

.heading {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
    }
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 280px;
    border-bottom: 1px solid $colorGrayMiddle;

    @include media-breakpoint-up(md) {
        width: unset;
        padding: 0;
        border: none;
    }
}

.titleIcon {
    width: 42px;
    height: 42px;
    margin-top: 4px;
    margin-bottom: 12px;
    
    @include media-breakpoint-up(md) {
        width: 48px;
        height: 48px;
        margin: 0;
        padding: 6px
    }
}

.title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: $fontRoundedDemy;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.375;
    color: $clrTextMain;

    @include media-breakpoint-up(md) {
        margin: 0;
        font-size: 25px;
        line-height: 1.28;
    }
}

.subtext {
    font-size: 14px;
    line-height: 1.285;

    @include media-breakpoint-up(md) {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.375;
    }

    a {
        text-decoration: underline;
    }

    p {
        margin: 0;  
    }

    p:not(:last-child) {
        margin-top: 0;
        margin-bottom: 10px;

        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }
    }
}

.body .footer {
    .primaryButton {
        width: 100%;
        margin-top: 24px;
        padding: 12px 24px;
        font-size: 14px;

        @include media-breakpoint-up(md) {
            width: unset;
            margin-top: unset;
            margin-left: auto;
            padding: 16px 24px;
            font-size: 16px;
            border-radius: 4px;
        }
    }
}

.footer {
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(md) {
        padding-top: 18px;
        padding-bottom: 16px;
    }
}
