.success-section {
    min-height: 700px;
}

.title {
    :global(.text-block__header) {
        font-size: 30px;
    }
}

.description {
    margin-bottom: 36px;

    p {
        font-size: 18px;
    }
}
