<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="easyJet.ChangeTracking.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/Change Tracking" />
            <setting name="easyJet.ChangeTracking.CacheExpiredInMinutes" value="60" />
        </settings>
        <hooks>
            <hook type="easyJet.Feature.ChangeTracking.Hooks.ChangeTrackerHook, easyJet.Feature.ChangeTracking"  resolve="true"  />
        </hooks>
        <pipelines>
            <getFieldValue>
                <processor patch:before="processor[@type='Sitecore.Pipelines.GetFieldValue.GetStandardValue, Sitecore.Kernel']" type="easyJet.Feature.ChangeTracking.Pipelines.getFieldValue.AddChangeTrackingEditorTabProcessor, easyJet.Feature.ChangeTracking" resolve="true"  />
            </getFieldValue>
        </pipelines>
    </sitecore>
</configuration>