<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.ChangeTracking" dependencies="Foundation.Serialization" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include database="core"   name="CoreApplicationsContentEditorEasyJetChangeTracking" path="/sitecore/content/Applications/Content Editor/Editors/Items/EasyJet Change Tracking"/>
                        <include database="master" name="MasterTemplates" path="/sitecore/templates/Feature/Change Tracking"/>
                        <include database="master" name="MasterSettings" path="/sitecore/system/Settings/Feature/Change Tracking"/>
                        <include database="master" name="MasterPowerShellUI" path="/sitecore/system/Modules/PowerShell/Script Library/Dialogs"/>
                        
                        <include database="core" name="Core.Ribbon.ChangeTrackingReport" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Change Tracking Report" />
                        <include database="core" name="Core.Strips.ChangeTrackingReport" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Change Tracking Report" />
                        <include database="core" name="Core.Chunks.ChangeTrackingReport" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Change Tracking Report" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>