<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting name="Xdb.Enabled" xdt:Transform="Remove" xdt:Locator="Match(name)" />
            <setting name="Xdb.Tracking.Enabled" xdt:Transform="Remove" xdt:Locator="Match(name)"/>

            <!--DISABLE ROBOT DEVICE DETECTION
            During development, tracking endpoints will flag us as a bot.
            These settings will disable tracking of robot activity for ease of testing (development ONLY).-->
            <setting xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="DeviceDetection.Enabled" set:value="false" />
        </settings>
    </sitecore>
</configuration>
