<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="Xdb.Enabled">
                <patch:attribute name="value">#{Sitecore.Xdb.Enabled}</patch:attribute>
            </setting>
            <setting name="Xdb.Tracking.Enabled">
                <patch:attribute name="value">#{Sitecore.Xdb.Enabled}</patch:attribute>
            </setting>
            <setting name="Media.MediaLinkPrefix">
                <patch:attribute name="value">-/jssmedia</patch:attribute>
            </setting>
            <setting name="Media.MediaLinkServerUrl">
                <patch:attribute name="value">/holidays/cms/media</patch:attribute>
            </setting>
            <setting name="Media.AlwaysIncludeServerUrl">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <setting name="DefaultRegionalIsoCode">
                <patch:attribute name="value">en-GB</patch:attribute>
            </setting>
            <setting name="Analytics.PerformLookup">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <setting name="Media.RequestProtection.SharedSecret">
                <patch:attribute name="value">4KNi.RVNWKJ9VpeYEt|B(b,6Xn7EM9S-klUn8tWRn\4nbrN-Yqb#0;lLXLbaPVRI</patch:attribute>
            </setting>
            <setting name="ItemCloning.DeleteClonesWithOriginalItem">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
        </settings>

        <encodeNameReplacements>
            <replace mode="on" find=" " replaceWith="-" />
        </encodeNameReplacements>

        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <renderJsonRendering>
                        <processor type="easyJet.Foundation.Presentation.Pipelines.RenderJsonRendering.GetImageUrlRenderingParameterProcessor, easyJet.Foundation.Presentation" resolve="true">
                        </processor>
                    </renderJsonRendering>
                </pipelines>
            </group>
            <synchronize>
                <processor type="easyJet.Foundation.Destinations.Pipelines.Synchronize.SynchronizeDataParamsProcessor, easyJet.Foundation.Destinations" resolve="true">
                    <websites hint="list:AddWebsite">
                        <website>Holidays</website>
                    </websites>
                </processor>
            </synchronize>


            <httpRequestBegin>
                <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="easyJet.Foundation.Multisite.Pipelines.MvcRequestBegin.HandleMaintenancePageProcessor, easyJet.Foundation.Multisite" resolve="true">
                    <websites hint="list:AddWebsite">
                        <website>Holidays</website>
                    </websites>
                </processor>
            </httpRequestBegin>
        </pipelines>
        <events>
            <event name="publish:end">
                <handler type="easyJet.Foundation.SitecoreExtensions.Cache.DictionaryCacheClearer, easyJet.Foundation.SitecoreExtensions" method="ClearCache"/>
            </event>
            <event name="publish:end:remote">
                <handler type="easyJet.Foundation.SitecoreExtensions.Cache.DictionaryCacheClearer, easyJet.Foundation.SitecoreExtensions" method="ClearCache"/>
            </event>
        </events>

        <mediaLibrary>
            <mediaTypes>
                <mediaType name="PDF file" extensions="pdf">
                    <forceDownload>false</forceDownload>
                </mediaType>
            </mediaTypes>
        </mediaLibrary>

        <publishing.service>
            <api>
                <services>
                    <allowedPublishRoles>
                        <role name="easyJetContentAuthor">sitecore\easyJet Content Author</role>
                        <role name="eJBookingManager">sitecore\eJ Booking Manager</role>
                        <role name="eJSEOManager">sitecore\easyJet SEO Manager</role>
                        <role name="eJSMediaCenterAuthor">sitecore\easyJet Media Center Author</role>
                    </allowedPublishRoles>
                </services>
            </api>
        </publishing.service>
    </sitecore>
    <mediaType extensions="pdf">
        <mimeType>application/pdf</mimeType>
    </mediaType>
</configuration>
