<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.Holidays" dependencies="Foundation.*, Feature.*" extends="Helix.Project">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Holidays.Templates" database="master" path="/sitecore/templates/Project/Holidays"/>
                        <include name="Holidays.BranchTemplates" database="master" path="/sitecore/templates/Branches/Project/Holidays"/>
                        <include name="Holidays.Layouts" database="master" path="/sitecore/layout/Layouts/Project/Holidays"/>
                        <include name="Holidays.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Holidays"/>
                        <include name="Holidays.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/Holidays"/>
                        <!-- Media Library - Default -->
                        <include name="Holidays.Media.Default" database="master" path="/sitecore/media library/Project/Holidays">
                            <exclude children="true" />
                        </include>
                        <!-- JSS API Key -->
                        <include name="Holidays.JSSApiKey" database="master" path="/sitecore/system/Settings/Services" />
                        <include name="Holidays.Languages" database="master" path="/sitecore/system/Languages" />
                        <!-- Settings -->
                        <include name="Holidays.Settings" database="master" path="/sitecore/system/Settings/Project/Holidays">
                            <exclude childrenOfPath="/sitecore/system/Settings/Project/Holidays/Sort Ordering"/>
                        </include>
                        <!-- Scripts -->
                        <include name="Holidays.Scripts.Helpers" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Helpers" />
                        <include name="Holidays.Scripts.Reports" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Reports" />
                        <include name="Holidays.Scripts.Extensions" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE/Extensions/EasyJet" />
                    </predicate>

                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="sitecore" pattern="Global Link Access"/>
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>