.customerCard {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
    background: $colorPorcelain;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.15);

    .customerName {
        font-family: $fontRoundedDemy;
        font-size: 16px;
        line-height: 22px;
        color:$clrTextMain;
    }
}
