.refLink {
    display: inline-flex;
    align-items: center;
    font-size: 17px;
}

.noFlightInfo {
    display: flex;
    flex-direction: column;
    font-family: $fontRoundedBook;

    @include media-breakpoint-down(lg) {
        margin-left: auto;
        padding-left: 0;
        text-align: end;
        border-left: none;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: start;
    }
}

.noFlightInfoHeader {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    color: $clrTextMain;
    white-space: nowrap;

    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 8px;
    }
}

.noFlightInfoDescription {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.33;
    color: $colorBoulder;

    @include media-breakpoint-down(lg) {
        font-size: 12px;
    }
}
