.wrapper {
    flex: 1 1 0;
    margin: 8px;
    padding: 10px 16px 12px;
    text-align: center;
    word-break: break-all;
    border: 1px $colorGeyser solid;
    border-radius: 4px;

    @include media-breakpoint-down(md) {
        margin: 8px 12px 8px 0;
    }
}

.month {
    margin: 0;
    font-size: 16px;
    line-height: 1.375;
}

.degree {
    margin: 12px 0;
    font-size: 36px;
    line-height: 1.11;
}

.degreeSymbol {
    font-size: 18px;
    vertical-align: text-top;
}

.daysOfRain {
    margin: 0;
    font-size: 14px;
    line-height: 1.28;
}
