.parkingDetailsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        display: block;
        justify-content: center;
    }
}

.parkingDetailsTitle {
    @include media-breakpoint-down(md) {
        margin-bottom: 1rem;
        text-align: left;
    }
}

.parkingDetailsContent {
    margin-top: 4rem;
}

