.container {
    position: relative;
}

.wrapper {
    padding-top: 0;
}

.contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    margin: 0;
    padding-top: 26px;
    font-family: $fontGenerationHeadline;
    font-size: 70px;
    color: $colorWhite;

    @include media-breakpoint-up(md) {
        padding-top: 86px;
        font-size: 100px;
    }
}
