<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:search="http://www.sitecore.net/xmlconfig/search/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="ScrapingTrigger.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/Scraping Trigger Settings" />
            <setting name="ScrapingTrigger.Queue.Arn" value="#{Sitecore.ScrapingTrigger.QueueArn}" />
            <setting name="ScrapingTrigger.Filter.SupportedLanguage" value="en" />
            <setting name="ScrapingTrigger.Filter.SupportedRootPath" value="/sitecore/content/EasyJet/Holidays" />
            <setting name="ScrapingTrigger.Profile.Iam.Arn" value="#{Sitecore.ScrapingTrigger.RoleArn}" />
            <setting name="ScrapingTrigger.Profile.SessionDuration" value="900" />
            <setting name="ScrapingTrigger.Profile.SessionName" value="scrapping-trigger-push" />
            <setting name="ScrapingTrigger.Enabled" value="#{Sitecore.ScrapingTrigger.Enabled}" />
            <setting name="ScrapingTrigger.BaseUrl" value="#{Sitecore.ScrapingTrigger.BaseUrl}" />
            <setting name="ScrapingTrigger.Sqs.MessagesPerBatch" value="10" />
        </settings>
        <pipelines localenv:require="!Dev">
            <publishEndResultBatch>
                <processor type="easyJet.Feature.ScrappingTrigger.Processor.ScrapingTriggerPublishEndProcessor, easyJet.Feature.ScrappingTrigger"
                           patch:after="*[@type='Sitecore.Publishing.Service.Pipelines.BulkPublishingEnd.RaiseRemoteEvents, Sitecore.Publishing.Service']" resolve="true">
                </processor>
            </publishEndResultBatch>
        </pipelines>
    </sitecore>
</configuration>