<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ScrapingTrigger.Queue.Arn" value="arn:aws:sqs:eu-west-1:021499708211:holidays-dev-scraping-queue" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ScrapingTrigger.Profile.Iam.Arn" value="arn:aws:iam::021499708211:role/HolidaysGCT-DevScrapingQueueSender" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ScrapingTrigger.Enabled" value="false" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ScrapingTrigger.BaseUrl" value="http://localhost:3000/en/holidays" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ScrapingTrigger.Profile.SessionName" value="scrapping-trigger-push-dev" />
        </settings>
    </sitecore>
</configuration>