.error-message_trade {
    width: 100%;
    max-width: 385px;
    margin-top: -10px;
    margin-bottom: 30px;
    padding: 17px 0;
}

.error-message_trade .error-message__icon svg {
    width: 17px;
    height: 17px;
}

.error-message_trade .error-message__container {
    align-items: flex-start;
    font-size: 12px;
    line-height: 17px;
}

.error-message_trade .d-flex {
    padding: 0 5px;
}
