.feefoWidgetContainer {
    position: fixed;
    z-index: 1004000;
    right: 0;
    bottom: 0;
    display: block;

    img {
        display: block;
        width: 90px;
        height: 146px;
        border-radius: 4px 0 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }
}
