div.form-element {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 2px;
    background-color: white;
}

div.form-element input {
    border: 0px;
    width: 100%;
}

div.form-element.error {
    border-color: red;
}

div.mapCanvas {
    width: 100%;
}

#ImageFrame {
    width: 100%;
    cursor: crosshair;
}

#focalPoint {
    position: relative;
    display: inline-block;
}

#indicator {
    position: absolute;
}

#indicator:before {
    display: inline-block;
    background-color: yellow;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
}

#coordinates {
    height: 50px;
}

.text-box-coorinates{
    width: 100%;
}
