<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sites>
            <site name="shell">
                <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
                <patch:attribute name="enableFieldLanguageFallback">false</patch:attribute>
            </site>
            <site name="Holidays">
                <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
                <patch:attribute name="enableFieldLanguageFallback">false</patch:attribute>
                <patch:attribute name="enforceVersionPresence">false</patch:attribute>
            </site>
        </sites>
        <pipelines>
            <group name="itemProvider" groupName="itemProvider">
                <pipelines>
                    <getItem>
                        <processor type="easyJet.Foundation.Translation.Pipelines.GetItem.DisabledFallbackAwareGetLanguageFallbackItem, easyJet.Foundation.Translation"
                                   patch:after="processor[@type='Sitecore.Pipelines.ItemProvider.GetItem.GetLanguageFallbackItem, Sitecore.Kernel']"/>
                    </getItem>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
