.item {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.checkboxContainer {
    display: flex;
    align-items: flex-start;
}

.title {
    margin: 0 0 0 16px;
    font-family: $fontRoundedBook;
    font-size: 16px;
    line-height: 1.5;
}

.showMore {
    margin-left: auto;
}

.head {
    display: flex;
    align-items: center;
}

.content {
    display: none;
    margin: 8px 0 8px 38px;

    &.expanded {
        display: block;
    }
}

.subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-family: $fontRoundedBook;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
}

.text,
.text p {
    margin: 0;
    font-size: 14px;
}

.link {
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
}

.linkArrow {
    margin-left: 16px;
}
