.details {
    display: flex;
    grid-area: details;
    padding: 0 10px;

    @include media-breakpoint-up(lg) {
        padding: 0;
    }

    :global(.hotel-card-txt) {
        width: 100%;
    }
}
