.flightItem {
    display: flex;
    align-items: center;
    gap: 8px;

    .itemIcon {
        display: flex;
        align-items: center;

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .flightInfo {
        p {
            margin: 0;
            font-size: 12px;
        }
    }

    .itemTitle {
        font-family: $fontRoundedDemy;
    }
}
