<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="TripAdvisor.Endpoint" value="https://api.tripadvisor.com/api/partner/2.0/" />
            <setting name="TripAdvisor.AutoLocationMappingEnabled" value="true" />
            <setting name="TripAdvisor.ValidDistanceInMiles" value="0.1" />
            <setting name="TripAdvisor.BatchSize" value="500" />
            <setting name="TripAdvisor.SyncReportPath" value="/sitecore/media library/Files/TripAdvisor Failed Syncs" />
        </settings>
        <commands>
            <command name="item:syncreviews" type="easyJet.Foundation.TripAdvisor.Commands.RunSyncReviewsCommand, easyJet.Foundation.TripAdvisor" resolve="true" />
        </commands>
        <pipelines>
            <TripAdvisorReviewUpdateSyncPipeline>
                <processor type="easyJet.Foundation.TripAdvisor.Pipelines.TripAdvisorReviewUpdateSyncPipeline.SyncReviewsProcessor, easyJet.Foundation.TripAdvisor" resolve="true"/>
            </TripAdvisorReviewUpdateSyncPipeline>
        </pipelines>
    </sitecore>
</configuration>
