$payment-booking-border-color: #d8d8d8;

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    font-size: 18px;
    border-top: 1px solid $payment-booking-border-color;

    @include media-breakpoint-down(lg) {
        padding: 10px 0;
        border-top: 1px solid $payment-booking-border-color;
    }

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

.block {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    padding-right: 10px;
    padding-left: 55px;
    font-size: 16px;
    line-height: 1.56;

    @include media-breakpoint-down(lg) {
        margin: 10px 0;
        padding-right: 0;
        padding-left: 35px;
    }

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    @include media-breakpoint-down(lg) {
        width: 20px;
        height: 20px;
    }
}
