<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore xdt:Transform="Replace">
        
        <settings>
            <setting name="Caching.AccessResultCacheSize" set:value="375MB" />
            <setting name="Caching.SecurityCacheExpiration" set:value="04:00:00"/>
        </settings>

        <settings>
            <setting name="Caching.TinyCacheSize" set:value="2MB"/>
        </settings>

        <sites>
            <site name="shell" set:viewStateCacheSize="2MB" />
        </sites>

        <databases>
            <database id="web">
                <cacheSizes>
                    <data>1500MB</data>
                    <items>1500MB</items>
                    <itempaths>100MB</itempaths>
                    <standardValues>8000KB</standardValues>
                </cacheSizes>
            </database>
            <database id="master">
                <cacheSizes>
                    <data>1125MB</data>
                    <items>1125MB</items>
                    <itempaths>100MB</itempaths>
                    <standardValues>8000KB</standardValues>
                </cacheSizes>
            </database>
            <database id="master">
                <dataProviders>
                    <dataProvider>
                        <param desc="headProvider">
                            <dataProvider>
                                <prefetch>
                                    <cacheSize>1125MB</cacheSize>
                                </prefetch>
                            </dataProvider>
                        </param>
                    </dataProvider>
                </dataProviders>
            </database>

            <database id="web">
                <dataProviders>
                    <dataProvider>
                        <param desc="headProvider">
                            <dataProvider>
                                <prefetch>
                                    <cacheSize>1500MB</cacheSize>
                                </prefetch>
                            </dataProvider>
                        </param>
                    </dataProvider>
                </dataProviders>
            </database>
        </databases>
    </sitecore>
</configuration>