<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore search:require="Solr">
        <contentSearch>
            <indexConfigurations>
                <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
                    <fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
                        <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
                            <fieldReader fieldTypeName="html|rich text" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DefaultFieldReader, Sitecore.ContentSearch" />
                        </mapFieldByTypeName>
                    </fieldReaders>
                </defaultSolrIndexConfiguration>

                <!-- Reduce the number of index update jobs - https://kb.sitecore.net/articles/173294 -->
                <indexUpdateStrategies>
                    <intervalAsyncMaster type="Sitecore.ContentSearch.Maintenance.Strategies.IntervalAsynchronousStrategy, Sitecore.ContentSearch" role:require="Standalone or ContentManagement">
                        <param desc="database">master</param>
                        <param desc="interval">00:01:00</param>
                        <CheckForThreshold>true</CheckForThreshold>
                    </intervalAsyncMaster>
                </indexUpdateStrategies>
            </indexConfigurations>

            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes>
                    <index id="sitecore_master_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="Standalone or ContentManagement">
                        <param desc="name">$(id)</param>
                        <param desc="core">sc.holidays_master_index</param>
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                            <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                                <fieldNames hint="raw:AddFieldByFieldName">
                                    <field fieldName="code" returnType="string" patch:instead="field[@fieldName='code']"  />
                                    <field fieldName="hotelbedscode" returnType="string" patch:instead="field[@fieldName='hotelbedscode']"  />
                                    <field fieldName="tripadvisorid" returnType="string" patch:instead="field[@fieldName='tripadvisorid']"  />
                                </fieldNames>
                            </fieldMap>
                            <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                                <IndexAllFields>false</IndexAllFields>
                                <include hint="list:AddIncludedField">
                                    <AtcomCode>{66229976-26F6-4BCD-B86D-97974C0912A8}</AtcomCode>
                                    <Code>{68324654-7020-4F55-B17B-8B58C9E16DBB}</Code>
                                    <Name>{F9D78BF5-6AEC-4B4B-895A-C10AD6AEBAE2}</Name>
                                    <HotelBedsCode>{D7B2D300-DE15-407A-9527-EF6F9FAAAB2E}</HotelBedsCode>
                                    <TripAdvisorId>{4E92DD4F-0274-40F2-BF4F-98A3DAE7C4E9}</TripAdvisorId>
                                    <GiataCode>{879DC5EF-E54A-443E-8ED4-716731901F25}</GiataCode>
                                    <MuzementId>{57725E30-F6D1-4895-BFA3-96E23F3B0150}</MuzementId>
                                </include>
                                <fields hint="raw:AddComputedIndexField">
                                    <field fieldName="tmp_code" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.CodeComputedField, easyJet.Foundation.Destinations</field>
                                </fields>
                            </documentOptions>
                        </configuration>
                        <strategies hint="list:AddStrategy">
                            <strategy patch:instead="*[@ref='contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsyncSingleInstance']" ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>false</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                    <!-- Set manual strategy for sitecore_web_index -->
                    <index id="sitecore_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="Standalone or ContentManagement or ContentDelivery">
                        <param desc="name">$(id)</param>
                        <param desc="core">sc.holidays_web_index</param>
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration" />
                        <strategies hint="list:AddStrategy">
                            <strategy patch:instead="*[@ref='contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsyncSingleInstance']" ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>web</Database>
                                <Root>/sitecore</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>false</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>

    </sitecore>
</configuration>