<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:search="http://www.sitecore.net/xmlconfig/search/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <setting name="InstanceName">
                <patch:attribute name="value">#{Sitecore.InstanceName}</patch:attribute>
            </setting>
            <setting name="Counters.InstanceName">
                <patch:attribute name="value">#{Sitecore.Counters.InstanceName}</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>