<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <tracking>
            <sharedSessionState defaultProvider="#{Sitecore.SessionState.Provider}" patch:instead="*[@defaultProvider='InProc']">
                <providers>
                    <clear />
                    <add name="InProc" type="System.Web.SessionState.InProcSessionStateStore" />
                    <add name="mssql"
                        type="Sitecore.SessionProvider.Sql.SqlSessionStateProvider,Sitecore.SessionProvider.Sql"
                        connectionStringName="sharedSession"
                        pollingInterval="60"
                        compression="true"
                        sessionType="shared"/>
                </providers>
                <manager type="Sitecore.Analytics.Tracking.SharedSessionState.SharedSessionStateManager, Sitecore.Analytics">
                    <param desc="configuration" ref="tracking/sharedSessionState/config" />
                </manager>

                <config type="Sitecore.Analytics.Tracking.SharedSessionState.SharedSessionStateConfig, Sitecore.Analytics">
                    <param desc="maxLockAge">5000</param>
                    <!-- If an item in session state is already locked, this parameter is the time in milliseconds that the system is idle before making another attempt to apply a lock. -->
                    <param desc="timeoutBetweenLockAttempts">200</param>
                </config>
            </sharedSessionState>
            <untrackedPaths>
                <add regex="^\/api\/(?!tracking|PushNotifications|HotelTheme|customerprofile).*"/>
            </untrackedPaths>
        </tracking>
        <analyticsExcludeRobots>
            <excludedUserAgents>
                #{Sitecore.ExcludedUserAgents}
            </excludedUserAgents>
        </analyticsExcludeRobots>
        <settings>
            <setting name="HtmlEditor.DefaultProfile" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Medium"/>
        </settings>
    </sitecore>
</configuration>