<?xml version="1.0"?>
<configuration>
    <sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">

        <settings role:require="Standalone or ContentDelivery or ContentManagement">
            <setting name="Caching.AccessResultCacheSize" set:value="375MB" />
            <setting name="Caching.SecurityCacheExpiration" set:value="04:00:00"/>
        </settings>

        <settings role:require="Standalone or ContentManagement">
            <setting name="Caching.TinyCacheSize" set:value="2MB"/>
        </settings>

        <settings role:require="ContentDelivery">
            <setting name="Caching.CacheKeyIndexingEnabled.AccessResultCache" set:value="true"/>
            <setting name="Caching.CacheKeyIndexingEnabled.ItemCache" set:value="true"/>
            <setting name="Caching.CacheKeyIndexingEnabled.ItemPathsCache" set:value="true"/>
            <setting name="Caching.CacheKeyIndexingEnabled.PathCache" set:value="true"/>
        </settings>

        <sites role:require="Standalone or ContentManagement">
            <site name="shell" set:viewStateCacheSize="2MB" />
        </sites>

        <databases>
            <database id="web" role:require="ContentDelivery or Standalone">
                <cacheSizes>
                    <data>#{Sitecore.Cache.Database.Data}</data>
                    <items>#{Sitecore.Cache.Database.Items}</items>
                    <itempaths>#{Sitecore.Cache.Database.ItemPaths}</itempaths>
                    <standardValues>8000KB</standardValues>
                </cacheSizes>
            </database>
            <database id="master" role:require="Standalone or ContentManagement">
                <cacheSizes>
                    <data>1125MB</data>
                    <items>1125MB</items>
                    <itempaths>100MB</itempaths>
                    <standardValues>8000KB</standardValues>
                </cacheSizes>
            </database>
            <database id="master" role:require="ContentManagement or Standalone">
                <dataProviders>
                    <dataProvider>
                        <param desc="headProvider">
                            <dataProvider>
                                <prefetch>
                                    <cacheSize>1125MB</cacheSize>
                                </prefetch>
                            </dataProvider>
                        </param>
                    </dataProvider>
                </dataProviders>
            </database>

            <database id="web" role:require="ContentDelivery or Standalone">
                <dataProviders>
                    <dataProvider>
                        <param desc="headProvider">
                            <dataProvider>
                                <prefetch>
                                    <cacheSize>#{Sitecore.Cache.Web.Prefetch}</cacheSize>
                                </prefetch>
                            </dataProvider>
                        </param>
                    </dataProvider>
                </dataProviders>
            </database>
        </databases>
    </sitecore>
</configuration>
