<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.Common" dependencies="Foundation.*,Feature.*" extends="Helix.Project">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <!-- Media Library - Default -->
                        <include name="Common.Media" database="master" path="/sitecore/media library/Project/Common">
                        </include>
                        
                        <!--Merchandising Workflow-->
                        <include name="Merchandising.Workflows" database="master" path="/sitecore/system/Workflows/Merchandising Workflow"/>
                    </predicate>

                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>