<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:search="http://www.sitecore.net/xmlconfig/search/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <log4net>
            <!--SCBasics Audit Log Appender-->

            <!--type="log4net.Appender.ADONetAppender, Sitecore.Logging" >-->
            <appender name="SCBasicsAuditTrailDBAppender" type="SCBasics.AuditTrail.Appender.SitecoreDatabaseLogAppender, SCBasics.AuditTrail" patch:after="*[@name='PublishingLogFileAppender']">
                <!-- Filter items where message field start with 'AUDIT....' -->
                <filter type="log4net.Filter.StringMatchFilter">
                    <regexToMatch value="^AUDIT" />
                </filter>

                <!-- Deny all other items -->
                <filter type="log4net.Filter.DenyAllFilter" />
                <!--this is because logs are buffered until a given buffersize is reached.
                    The default value is 512, but you can lower this by modifying the following line of code-->
                <bufferSize value="50" />
                <param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <!--Double SLASH is Very Important-->
                <param name="ConnectionString" value="user id=#{Sitecore.AuditTrail.DbUser.Login};password=#{Sitecore.AuditTrail.DbUser.Password};Data Source=#{Sitecore.AuditTrail.DbHost};Database=#{Sitecore.AuditTrail.DbName}" />
                <!--<param name="CommandText" value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />-->
                <param name="CommandText" value="INSERT INTO Logs ([Date],[Thread],[Level],[Logger],[Message],[Exception], [SCUser], [SCAction], [SCItemPath], [SCLanguage] , [SCVersion] , [SCItemId], [SiteName],[SCMisc]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @scuser,  @scaction, @scitempath, @sclanguage, @scversion, @scitemid, @sitename, @scmisc)" />
                <param name="Parameter">
                    <param name="ParameterName" value="@log_date" />
                    <param name="DbType" value="DateTime" />
                    <param name="Layout" type="log4net.Layout.PatternLayout">
                        <param name="ConversionPattern" value="%d{yyyy&apos;-&apos;MM&apos;-&apos;dd HH&apos;:&apos;mm&apos;:&apos;ss&apos;.&apos;fff}" />
                    </param>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@thread" />
                    <param name="DbType" value="String" />
                    <param name="Size" value="255" />
                    <param name="Layout" type="log4net.Layout.PatternLayout">
                        <param name="ConversionPattern" value="%t" />
                    </param>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@log_level" />
                    <param name="DbType" value="String" />
                    <param name="Size" value="50" />
                    <param name="Layout" type="log4net.Layout.PatternLayout">
                        <param name="ConversionPattern" value="%p" />
                    </param>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@logger" />
                    <param name="DbType" value="String" />
                    <param name="Size" value="255" />
                    <param name="Layout" type="log4net.Layout.PatternLayout">
                        <param name="ConversionPattern" value="%c" />
                    </param>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@message" />
                    <param name="DbType" value="String" />
                    <param name="Size" value="4000" />
                    <param name="Layout" type="log4net.Layout.PatternLayout">
                        <param name="ConversionPattern" value="%m" />
                    </param>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@exception" />
                    <dbType value="String" />
                    <size value="2000" />
                    <layout type="log4net.Layout.ExceptionLayout" />
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@scuser" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="scuser" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@scaction" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="scaction" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@scitempath" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="scitempath" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@sclanguage" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="sclanguage" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@scversion" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="scversion" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@scitemid" />
                    <dbType value="String" />
                    <size value="38" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="scitemid" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@sitename" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="sitename" />
                    </layout>
                </param>
                <param name="Parameter">
                    <param name="ParameterName" value="@scmisc" />
                    <dbType value="String" />
                    <size value="255" />
                    <layout type="SCBasics.AuditTrail.Log4NetLayout.PropertyLayout,SCBasics.AuditTrail">
                        <param name="PropertyName" value="scmisc" />
                    </layout>
                </param>
            </appender>
            <root>
                <appender-ref ref="SCBasicsAuditTrailDBAppender"  patch:after="*[@ref='LogFileAppender']"/>
            </root>
        </log4net>
    </sitecore>
</configuration>