<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <events role:require="Standalone or ContentManagement">
            <!--https://support.sitecore.com/kb?id=kb_article_view&sysparm_article=KB1001580-->
            <event name="item:saved">
                <handler type="Sitecore.ContentTesting.Events.GenerateScreenshot, Sitecore.ContentTesting" method="OnItemSaved">
                    <patch:delete />
                </handler>
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.ContentTesting.Events.GenerateScreenshot, Sitecore.ContentTesting" method="OnRemoteItemSaved">
                    <patch:delete />
                </handler>
            </event>
        </events>
        <javaScriptServices>
            <renderEngines>
                <renderEngine name="http">
                    <instance id="defaults">
                        <!-- When EnableRelativeLinkProcessing is enabled, requests from Horizon/EE are taking a very long time. As it tryies replace relative url using Regex
                        Disabling it does not seem to affect editing. -->
                        <EnableRelativeLinkProcessing>false</EnableRelativeLinkProcessing>
                    </instance>
                </renderEngine>
            </renderEngines>
        </javaScriptServices>
        <!--Limit dictionary cache usage due to that performance issue EJH-15615--> 
        <settings role:require="Standalone or ContentManagement">
            <setting name="Translation.LimitSitecoreCacheUsage" value="false" />
        </settings>
    </sitecore>
</configuration>