<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore xdt:Transform="Replace">
        <events role:require="Standalone or ContentManagement">
            <!--https://support.sitecore.com/kb?id=kb_article_view&sysparm_article=KB1001580-->
            <event name="item:saved">
                <handler type="Sitecore.ContentTesting.Events.GenerateScreenshot, Sitecore.ContentTesting" method="OnItemSaved">
                    <patch:delete />
                </handler>
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.ContentTesting.Events.GenerateScreenshot, Sitecore.ContentTesting" method="OnRemoteItemSaved">
                    <patch:delete />
                </handler>
            </event>
        </events>
        <javaScriptServices>
            <renderEngines>
                <renderEngine name="http">
                    <instance id="defaults">
                        <!-- When EnableRelativeLinkProcessing is enabled, requests from Horizon/EE are taking a very long time. As it tryies replace relative url using Regex
                        Disabling it does not seem to affect editing. -->
                        <EnableRelativeLinkProcessing>false</EnableRelativeLinkProcessing>
                    </instance>
                </renderEngine>
            </renderEngines>
        </javaScriptServices>
        <!--Limit dictionary cache usage due to that performance issue EJH-15615-->
        <settings role:require="Standalone or ContentManagement">
            <setting name="Translation.LimitSitecoreCacheUsage" value="false" />
        </settings>
        <hooks>
            <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
                <patch:delete />
            </hook>
            <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
                <patch:delete />
            </hook>
        </hooks>
        <pipelines>
            <contentSearch.queryWarmup patch:source="Sitecore.ContentSearch.config">
                <processor type="Sitecore.ContentSearch.Pipelines.QueryWarmups.RunQueries, Sitecore.ContentSearch">
                    <patch:delete />
                </processor>
            </contentSearch.queryWarmup>
            <initialize>
                <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
                    <patch:delete />
                </processor>
                <!-- Disable speak precompilations; this increases first hit dialog load time but incrementally reduces instance startup time after a compile -->
                <processor type="Sitecore.Pipelines.Initialize.PrecompileSpeakViews, Sitecore.Speak.Web">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Speak.Components.Pipelines.Initialize.PrecompileSpeakBclViews, Sitecore.Speak.Components.Web">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
                    <patch:delete />
                </processor>
            </initialize>
        </pipelines>
        <settings>
            <setting name="Counters.Enabled">
                <!-- disable perf counters for a performance boost -->
                <patch:attribute name="value">false</patch:attribute>
            </setting>
        </settings>
        <scheduling>
            <agent type="Sitecore.Tasks.CounterDumpAgent">
                <patch:delete />
            </agent>
        </scheduling>
    </sitecore>
</configuration>