<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <!-- VERBOSE LOGGING
             This feature is designed to facilitate search index configuration and provide the necessary insight
             in troubleshooting scenarios. For example, if a particular item is not getting indexed,
             the VerboseLogger can provide more context and help you to figure out the problem.

             It is important that you only enable the VerboseLogger component in special circumstances
             and never run it for long periods in a production environment.
             Otherwise, this would result in an extremely large log file, which may have performance implications.
             -->
            <setting name="ContentSearch.VerboseLogging" set:value="#{Sitecore.Diagnostic.Verbose.Logging}" />
        </settings>
        <log4net>
            <logger name="Sitecore.Diagnostics.Search">
                <level set:value="#{Sitecore.Diagnostic.LogLevel.Search}"/>
            </logger>
            <logger name="Sitecore.Diagnostics.Crawling">
                <level set:value="#{Sitecore.Diagnostic.LogLevel.Crawling}"/>
            </logger>
            <logger name="easyJet.Foundation.Multisite.Logger">
                <level set:value="#{Sitecore.Foundation.Multisite.LogLevel}" />
            </logger>
        </log4net>
    </sitecore>
</configuration>
