<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting name="GlobalLink_connection_string" xdt:Transform="Remove" xdt:Locator="Match(name)" />
            <setting name="GlobalLink_use_encryption" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        </settings>
    </sitecore>
</configuration>