<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
    <sitecore role:require="Standalone or ContentManagement" localenv:require="EuxEnvironments or Production">
        <commands>
            <command name="item:showGlobalLinkExporter" type="Sitecore.Starterkit.customcode.ExportItem,Globallink.Adaptor" />
            <command name="item:showGlobalLinkBulkExporter" type="Sitecore.Starterkit.customcode.ExportBulkItem,Globallink.Adaptor" />
            <command name="item:showGlobalLinkCopy" type="Sitecore.Starterkit.customcode.CopyItem,Globallink.Adaptor" />
            <command name="item:addToQueueSingle" type="Sitecore.Starterkit.customcode.AddToQueueSingle,Globallink.Adaptor" />
            <command name="item:addToQueueRecursive" type="Sitecore.Starterkit.customcode.AddToQueueRecursive,Globallink.Adaptor" />
            <command name="item:showGlobalLinkDashboard" type="Sitecore.Starterkit.customcode.Reports,Globallink.Adaptor" />
            <command name="item:showGlobalLinkDashboardItem" type="Sitecore.Starterkit.customcode.DashReports,Globallink.Adaptor" />
            <command name="item:showQueuedItems" type="Sitecore.Starterkit.customcode.QueuedItems.QueuedItems,Globallink.Adaptor" />
            <command name="item:showGlobalLinkTranslatableFields" type="Sitecore.Starterkit.customcode.TranslatableFields,Globallink.Adaptor" />
            <command name="item:showGlobalLinkConfiguration" type="Sitecore.Starterkit.customcode.AdaptorParams,Globallink.Adaptor" />
            <command name="item:importTranslatedContent" type="GlobalLink.Adaptor.Dialogs.ImportTranslatedContent,Globallink.Adaptor" />
            <command name="item:showGlobalLinkPageEditorExporter" type="Sitecore.Starterkit.customcode.ExportPageEditorItem,Globallink.Adaptor" />
            <command name="item:showAgentsStatus" type="Sitecore.Starterkit.customcode.AgentsStatus,Globallink.Adaptor" />
        </commands>

        <scheduling>
            <agent type="Globallink.SitecoreAgents.RetrieveAgent" method="Run" async="true" interval="#{Sitecore.Globallink.Timeouts.RetrieveAgent}"></agent>
            <agent type="Globallink.SitecoreAgents.ExportAgent" method="Run" async="true" interval="#{Sitecore.Globallink.Timeouts.ExportLowPriorityAgent}"></agent>
            <agent type="Globallink.SitecoreAgents.ExportBulkTranslate" method="Run" async="true" interval="#{Sitecore.Globallink.Timeouts.ExportBulkTranslate}"></agent>
        </scheduling>
    </sitecore>
</configuration>