<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="GlobalLink_connection_string" value="#{Sitecore.GlobalLink.ConnectionString}"/>
            <setting name="GlobalLink_db_type" value="sql"/>
            <setting name="GlobalLink_JQUERYUI_VERSION" value="Controls/Lib/jQuery/jQueryUI/1.10.3/jquery-ui-1.10.3.min.js"/>
            <setting name="GlobalLink_JQUERY_VERSION" value="Controls/Lib/jQuery/jquery-1.10.2.min.js"/>
            <setting name="GlobalLink_JQUERYUICSS_VERSION" value="Controls/Lib/jQuery/jQueryUI/1.10.3/smoothness/jquery-ui-1.10.3.min.css"/>
            <setting name="GlobalLink_use_encryption" value="#{Sitecore.GlobalLink.UseEncryption}"/>
        </settings>
    </sitecore>
</configuration>