<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore role:require="Standalone or ContentManagement">
        <scheduling>
            <agent type="Globallink.SitecoreAgents.RetrieveAgent" method="Run" async="true" interval="00:05:00" xdt:Transform="SetAttributes" xdt:Locator="Match(type)"/>
            <agent type="Globallink.SitecoreAgents.ExportAgent" method="Run" async="true" interval="00:02:00" xdt:Transform="SetAttributes" xdt:Locator="Match(type)"/>
            <agent type="Globallink.SitecoreAgents.ExportBulkTranslate" method="Run" async="true" interval="00:03:00"  xdt:Transform="SetAttributes" xdt:Locator="Match(type)"></agent>
        </scheduling>
    </sitecore>
</configuration>