.wrapper {
    border-radius: 3px;
    line-height: 16px;
}

.greenContent {
    background: $colorGreenLight;
}

.greenTitle {
    color: $colorGreen;
}

.grayContent {
    background: $colorGrayLighter;
}

.grayTitle {
    color: $colorBlackLight;
}
