.wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        filter: brightness(0);
    }

    p {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
}

.multiColumnWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        gap: 8px;
  }
}

.column {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}