.luxuryBadgeWrapper {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;

    @include media-breakpoint-down(md) {
        padding: 6.5px;

        svg {
            width: 19px;
            height: 19px;
        }
    }
}
