.tooltipTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;

    svg {
        width: 13px;
        height: 13px;
        color: $colorLuxuryOrange;
    }
}

.container .tooltipContent {
    z-index: 1051;
}
