.luxuryBar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.luxuryBarWrapper {
    width: 100%;
    max-width: 1230px;
    margin-inline: auto;

    box-sizing: border-box;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include media-breakpoint-down(xl) {
        padding-inline: 0;
    }
}
