.popupContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.popupContainer :global(.popup__title) {
    font-weight: 400;
}

.backBtn {
    width: fit-content;
    padding: 15px 25px;
    border-radius: 4px;
}
