<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Ancillaries" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Ancillaries.Templates" database="master" path="/sitecore/templates/Feature/Ancillaries"/>
                        <include name="Ancillaries.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Ancillaries"/>
                        <include name="Ancillaries.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Ancillaries"/>
                        <include name="Ancillaries.Settings" database="master" path="/sitecore/system/Settings/Feature/Ancillaries"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>