<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:security="http://www.sitecore.net/xmlconfig/security/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement" security:require="Sitecore">

        <pipelines>
            <owin.cookieAuthentication.validateIdentity>
                <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
                    <siteNeutralPaths hint="list">
                        <!-- This entry corrects the infinite loop of ExecuteCommand in the SPE Console -->
                        <path hint="spe">/sitecore%20modules/PowerShell</path>
                    </siteNeutralPaths>
                </processor>
            </owin.cookieAuthentication.validateIdentity>
        </pipelines>

        <powershell>
            <services>
                <remoting>
                    <patch:attribute name="enabled">true</patch:attribute>
                    <authorization>
                        <add Permission="Allow" IdentityType="User" Identity="#{Sitecore.Spe.AllowedRemotingUser}" />
                    </authorization>
                </remoting>
                <restfulv2>
                    <patch:attribute name="enabled">true</patch:attribute>
                </restfulv2>
            </services>
            <userAccountControl>
                <gates>
                    <gate name="ISE">
                        <patch:delete/>
                    </gate>
                    <gate name="Console">
                        <patch:delete/>
                    </gate>
                    <gate name="ItemSave">
                        <patch:delete/>
                    </gate>
                    <gate name="ISE" token="Permissive"/>
                    <gate name="Console" token="Permissive"/>
                    <gate name="ItemSave" token="Permissive"/>
                </gates>
                <tokens>
                    <token name="Permissive" expiration="00:00:00" elevationAction="Allow"/>
                </tokens>
            </userAccountControl>
        </powershell>

        <processors>
            <uiGetMasters>
                <processor patch:before="*[@type='Sitecore.Pipelines.GetMasters.GetItemMasters,Sitecore.Kernel']" type="Spe.Integrations.Pipelines.GetItemMasters, Spe" />
            </uiGetMasters>
        </processors>
        
        <!-- this needs to be in a "z." prefixed config file as item buckets already overwrite this setting without this chaining technique -->
        <commands>

            <!-- rename the old event to fallback -->
            <command name="item:addmaster">
                <patch:attribute name="name">item:addmaster:spefallback</patch:attribute>
            </command>

            <!-- now plug in its place - the command in the class needs to do its job and call fallback if it's not supposed to handle the event -->
            <command name="item:addmaster" type="Spe.Client.Commands.MenuItems.AddMaster, Spe" />

            <!-- this is no longer needed - the uiGetMasters integration is used now through the "z.Spe.config" file
      <command name="item:new">
        <patch:attribute name="type">Spe.Client.Commands.MenuItems.ItemNew, Spe</patch:attribute>
      </command>
      -->
        </commands>
    </sitecore>
</configuration>