.hotel {
    width: 100%;
    max-width: 377px;
    margin-right: 20px;

    :global(.hotel-card-img-box-wr) {
        overflow: hidden;
        border-radius: 4px;
        aspect-ratio: 1.745;
    }

    :global(.img-carousel-container, .image-gallery-slide) {
        min-height: initial;
    }

    :global(.popup-overlay) {
        background-color: $colorBlackLight;
        opacity: 0.95;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;
    }
}

.ratings {
    display: flex;

    :global(.star_rating) {
        align-items: center;
        margin-bottom: 0;
    }
}

.titleRating {
    margin: 24px 0 27px;

    @include media-breakpoint-down(md) {
        margin: 0 0 16px;
    }
}

.title {
    margin-bottom: 5px;
    font-family: $fontRoundedDemy;
    font-size: 18px;
}

.link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: $fontRoundedDemy;
    font-size: 14px;

    svg {
        margin-left: 5px;
        @include sizeSquare(16px);
    }
}
