.amendBreadcrumbs {
    margin-bottom: 16px;

    :global(.path-breadcrumbs-wrap) {
        padding: 0;

        :global(.path-breadcrumbs) {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        }
    }
}
