.forgotPasswordPopup {
    @include media-breakpoint-down(md) {
        :global(.form-field) {
            margin-top: 15px;
        }

        :global(.note) {
            margin-top: 15px;
        }
    }

    :global(.form-field) {
        margin-top: 30px;
    }

    :global(.note) {
        margin-top: 20px;
        font-size: 15px;
        color: $clrTxtLight;
    }
}

.popupBody {
    font-size: 16px;
    line-height: 1.375;
    color: $clrTextMainLight;

    @include media-breakpoint-down(md) {
        line-height: 1.7;

        p {
            margin-bottom: 15px;
        }
    }

    p {
        margin: 0 0 30px;
    }

    :global(.btn--txt) {
        display: inline-block;
        font-size: inherit;
        text-align: left;

        svg {
            height: 0.9em;
            margin-left: 0.4em;
            vertical-align: middle;
        }
    }
}
