<!--
	Dianoga image optimization framework configuration
	Automatically optimizes Sitecore media library images before sending them to the client
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <customHandlers>
            <handler trigger="-/jssmedia/">
                <patch:delete />
            </handler>
            <handler trigger="~/jssmedia/">
                <patch:delete />
            </handler>
            <handler trigger="-/jssmedia/" type="easyJet.Foundation.Optimization.RequestHandlers.MediaRequestHandler, easyJet.Foundation.Optimization"/>
            <handler trigger="~/jssmedia/" type="easyJet.Foundation.Optimization.RequestHandlers.MediaRequestHandler, easyJet.Foundation.Optimization"/>
        </customHandlers>
        <pipelines>
            <dianogaOptimize>
                <processor type="easyJet.Foundation.Optimization.Pipelines.dianogaOptimize.ImageSizeValidationProcessor, easyJet.Foundation.Optimization"
                           patch:before="processor[@type='Dianoga.Processors.Pipelines.DianogaOptimize.DisableDianogaForSite, Dianoga']" resolve="true" />
            </dianogaOptimize>
        </pipelines>
        <sites>
            <site name="Holidays" set:enableDianoga="#{Sitecore.Dianoga.Enable}"/>
            <site name="shell" set:enableDianoga="#{Sitecore.Dianoga.Enable}"/>
        </sites>
        <settings>
          <setting name="Optimization.MinImageSize" value="#{Sitecore.Dianoga.MinImageSizeInKb}" />
          <setting name="Optimization.CDNCacheMaxTTLDays" value="#{Sitecore.MediaOptimization.CacheMaxTTLDays}" />
          <setting name="Optimization.CDNCacheOptimizationTTLSeconds" value="#{Sitecore.MediaOptimization.CacheTTLSeconds}" />
        </settings>
    </sitecore>
</configuration>