<!--
	Dianoga image optimization framework configuration
	Automatically optimizes Sitecore media library images before sending them to the client
-->
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <sites>
            <site name="Holidays" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" set:enableDianoga="true" />
            <site name="shell" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" set:enableDianoga="true" />
        </sites>
        <settings>
          <setting name="Optimization.MinImageSize" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="50" />
          <setting name="Optimization.CDNCacheMaxTTLDays" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="365.0" />
          <setting name="Optimization.CDNCacheOptimizationTTLSeconds" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="300" />
        </settings>
    </sitecore>
</configuration>