.actionButton {
    width: 200px;
    padding: 16px;
    font-size: 16px;
    border-radius: $box-border-radius_md;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.actionButtonPB {
    width: 200px;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}
