<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.serviceModel>
        <client>
            <endpoint name="DataHubSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" address="#{Sitecore.Atcom.Datahub.Endpoint}" />
        </client>
    </system.serviceModel>
</configuration>