<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="role:define" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="Standalone" />
        <add key="exmEnabled:define" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="yes" />
        <add key="localenv:define" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="Dev" />
    </appSettings>
    <system.serviceModel>
        <client>
            <endpoint name="DataHubSoap" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" address="https://ezy-tst-vrp.atcoretec.com/EZYUAT/anitetravelwsv3/datahub.asmx" />
        </client>
    </system.serviceModel>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="upgrade-insecure-requests" xdt:Transform="Remove" xdt:Locator="Match(name)" />
                <add name="X-SC-Host" value="local" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <sessionState xdt:Transform="Replace" mode="InProc" cookieless="false" cookieSameSite="None" timeout="20" sessionIDManagerType="Sitecore.SessionManagement.ConditionalSessionIdManager, Sitecore.Kernel">
            <providers>
                <add name="mssql" type="Sitecore.SessionProvider.Sql.SqlSessionStateProvider, Sitecore.SessionProvider.Sql" sessionType="Standard" connectionStringName="session" pollingEnabled="true" pollingInterval="2" pollingMaxExpiredSessionsPerSecond="0" pollingMaxInstances="1" compression="true" />
                <add name="redis" type="Sitecore.SessionProvider.Redis.RedisSessionStateProvider, Sitecore.SessionProvider.Redis" applicationName="Application" connectionString="session" pollingEnabled="true" pollingInterval="2" pollingMaxExpiredSessionsPerSecond="0" pollingMaxInstances="1" compression="true" connectionPoolSize="1" operationTimeoutInMilliseconds="2000" retryTimeoutInMilliseconds="15000" />
            </providers>
        </sessionState>
    </system.web>
</configuration>
