.icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.customersInfo :global(.search-bar-box) {
    border: none;
    box-shadow: none;

    :global(.search-bar__room + .search-bar__room) {
        padding: 10px 0;
    }

    :global(.popup-search-pod.popup-search-pod__promo .search-bar__num-wr) {
        margin: 20px 0;
    }
}

.formSectionTitle {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
}

.error {
    margin-bottom: 30px;
}

.total {
    margin-top: 24px;
    padding: 30px 0;
    border-top: 1px solid $colorGrayLight;
}

.quantities {
    display: flex;
}

.quantity {
    display: flex;
    margin-right: 15px;
    text-transform: capitalize;
}

.selectorWrapper {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $colorGrayLight;

    svg {
        width: 22px;
        height: 22px;
        color: $colorOrange;
    }
}

.selectorLabel {
    font-family: $fontRoundedBook;
    font-size: 16px;
    line-height: 1.5;
    color: $clrTextMain;
}

.errorMessage {
    margin: 20px 0;
}
