.popUnderOfferIcon {
    width: 44px;
    height: 44px;
}

.popUnderOfferTitle {
    width: 65%;
    max-width: 200px;
    font-family: $fontRoundedBook;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    color: $clrTextMain;
    text-align: left;
}

.popUnderOffer {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 100px;
    padding: 10px 25px;
}

.popUnderOffersRow {
    display: flex;
    flex-direction: row;
}

.popUnderLineSeparator {
    align-self: center;
    width: 95%;
    border-top: 1px solid $colorGeyser;
}

.popUnderOfferRightSeparator {
        border-right: 1px solid $colorGeyser;
}
