@include media-breakpoint-down(md) {
    .wrapper {
        display: none;
    }
}

.content {
    display: flex;
}

.description {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 14px;

    svg {
        margin-right: 10px;
    }
}

.icon {
    width: 16px;
    height: 16px;
}
