.tabs {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    gap: 8px;
    height: 61px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab {
    position: relative;
    top: 0;
    height: 55px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: #616161;
    background: $colorPorcelain;
    border-top: 1px solid $colorGeyser;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -6px 12px 1px rgba(0, 0, 0, 0.13);

    @include media-breakpoint-down(md) {
        padding: 16px 24px;
    }

    &:hover {
        height: 100%;
        background: $colorWhite;
        border-top: 3px solid $colorGeyser;
        cursor: pointer;
        transition: 0.2s;
    }

    &.active {
        height: 100%;
        color: $clrTextMain;
        background: $colorWhite;
        border-top: 3px solid $colorOrange;
        opacity: 1;
        pointer-events: none;

        &:hover {
            cursor: default;
        }
    }
}

.wrapper {
    padding: 15px 25px 22px;
    background: $colorWhite;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.13);

    @include media-breakpoint-down(md) {
        padding: 25px 16px;
    }
}

.title {
    margin: 0 0 29px;
    font-family: $fontRoundedDemy;
    font-size: 18px;
    line-height: 1.3;

    @include media-breakpoint-down(md) {
        margin: 0 0 4px;
        font-size: 16px;
        line-height: 1.375;
    }
}

.price {
    margin-bottom: 29px;
    font-family: $fontRoundedLight;
    font-size: 60px;
    line-height: 0.5;

    @include media-breakpoint-down(md) {
        margin-bottom: 4px;
        font-size: 40px;
        line-height: 1.5;
    }
}

.remainder {
    font-size: 40px;

    @include media-breakpoint-down(md) {
        font-size: 32px;
    }
}

.link {
    display: inline-block;
    font-family: $fontRoundedBook;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}

.multipleCurrenciesInfo {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.285;
    color: #616161;
}

.icon {
    width: 16px;
    height: 16px;
    color: $colorBlue;
    transform: scale(0.9);
    min-width: 16px;
    min-height: 16px;
}
