<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.SiteModes" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="SiteModes.Templates" database="master" path="/sitecore/templates/Foundation/SiteModes"/>
                        <include name="SiteModes.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/SiteModes"/>
                        <include name="SiteModes.ContentResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Foundation/SiteModes"/>
                        <include name="SiteModes.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Foundation/SiteModes"/>
                    </predicate>
                    
                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="sitecore" pattern="CrisisManagement"/>
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>