<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore>
        <settings>
            <setting name="SiteModes.NoMarketingModeSettings" value="/sitecore/system/Settings/Foundation/SiteModes/No Marketing Mode Settings" />
            <setting name="SiteModes.CrisisRoleName" value="sitecore\CrisisManagement" />
            <setting name="SiteModes.HomePagePath" value="/sitecore/content/EasyJet/Holidays/Home" />
            <setting name="SiteModes.LiveSiteUrl" value="#{Sitecore.SiteModes.LiveSiteUrl}"/>
        </settings>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Foundation.SiteModes.Pipelines.GetLayoutServiceContext.MaintenanceModeContextDataProcessor, easyJet.Foundation.SiteModes" resolve="true">
                            <websites hint="list:AddWebsite">
                                <website>Holidays</website>
                                <website>TradePortal</website>
                            </websites>
                        </processor>
                    </getLayoutServiceContext>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>