.feedback-form-trade {
    margin-bottom: 160px;
}

.feedback-form-trade .file-upload__file {
    max-width: 300px;
}

.feedback-form-trade .file-upload__file__name {
    @include text-truncate;
}

.feedback-form-trade .form-group {
    margin: 25px 0;
}

.feedback-form-trade .form-field__trade {
    width: 370px;
}

.feedback-form-trade .wrapper-component-container__inner {
    margin: 40px auto;
}

.feedback-form__title {
    margin: 0;
    font-family: $fontRoundedHeadline;
    font-size: 30px;
    line-height: 40px;
    color: $clrTextHeading;
}

.feedback-form-trade .checkbox--medium {
    margin-bottom: 15px;
}

.feedback-form-trade .form-control__textarea {
    box-sizing: border-box;
    width: 500px;
    height: 130px;
    padding: 11px 50px 11px 20px;
    overflow-y: auto;
    white-space: normal;
    border: 1px solid $borderColorGrayMiddle;
    border-radius: 4px;
    resize: none;
}

.feedback-form-trade .form-field__textarea {
    width: 500px;
    margin-bottom: 50px;
}

.feedback-form-trade .feedback-submit__btn {
    width: 280px;
    margin-top: 70px;
}

.feedback-form-trade .file-upload__btn {
    min-width: 200px;
}

.feedback-form-trade .form_checkboxes {
    margin: 50px 0;
}

.feedback-confirm__btn {
    margin-top: 40px;
}

.form__subtitle--error {
    color: $colorRed;
}

.feedback-form-trade .form-control__error__label {
    font-size: 12px;
    line-height: 16px;
}
