<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="false"
      throwConfigExceptions="true"
      internalLogLevel="Error"
      internalLogFile="./logs/nlog-app-internal.log">

    <extensions>
      <add assembly="NLog.RegEx"/>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <include file="NLog.DataMasking.config"/>

    <targets>
        <target xsi:type="Console" name="console-json">
            <layout xsi:type="JsonLayout">
                <attribute name="logtime" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
                <attribute name="level" layout="${level:uppercase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="correlation_id" layout="${aspnet-traceidentifier:ignoreActivityId=true}" />
                <attribute name="request_ip" layout="${aspnet-request-ip}" />
                <attribute name="request_url" layout="${maskedRequestUrl}" />
                <attribute name="user_agent" layout="${aspnet-request-useragent}" />
                <attribute name="context" layout="${ej-context-metadata:OutputFormat=json}" />
                <attribute name="api_error_code" layout="${ej-api-error-code}" />
                <attribute name="message" layout="${maskedMessage}" />
                <attribute name="exception" layout="${exception:maxInnerExceptionLevel=99:format=tostring}" />
                <attribute name="referer" layout="${aspnet-request-headers:HeaderNames=Referer:ValuesOnly=true}" />
                <attribute name="true_client_ip" layout="${aspnet-request-headers:HeaderNames=True-Client-IP:ValuesOnly=true}" />
            </layout>
        </target>
    </targets>

    <rules>
        <!-- Supress all default AspNet logs, except few useful ones -->
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" finalMinLevel="Info" />
        <logger name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" finalMinLevel="Info" />

        <!-- Everything else should be logged -->
        <logger name="*" minlevel="Debug" writeTo="console-json">
            <filters defaultAction="Log">
                <!-- Skip useless messages from the defaul ASP.NET logging at the request start, while preserving useful messages with request final stats (code, response time, etc.) -->
                <when condition="logger == 'Microsoft.AspNetCore.Hosting.Diagnostics' and starts-with(message, 'Request starting')" action="Ignore" />
                
                <!-- Skip logging of the analytics messages, which supplement OTel custom metrics via NLog, as we push them directly to Kafka -->
                <when condition="logger == 'easyJet.Holidays.Api.Domain.Monitoring.Analytics.OtelAnalyticsService' and contains(message, '&quot;logtype&quot;:&quot;analytics&quot;')" action="Ignore" />
            </filters>
        </logger>
    </rules>
</nlog>
