<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
    autoReload="true"
    throwExceptions="true"
    throwConfigExceptions="true"
    internalLogLevel="Info"
    internalLogFile="./logs/nlog-app-internal.log">

  <targets>
    <target xsi:type="ColoredConsole"
        name="console"
        layout="${MicrosoftConsoleLayout}">
      <highlight-word text="info" foregroundColor="Green" wholeWords="true" />
    </target>
  </targets>

  <rules>
    <!-- Supress all default AspNet logs, except few useful ones -->
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" finalMinLevel="Info" />
    <logger name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" finalMinLevel="Info" />

    <!-- Everything else should be logged -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>