<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <!-- Replacement for masked values -->
    <variable name="maskedValue" value="***"/>

    <!-- Masking logged messages (e.g. requests/responses for external intergrations  -->
    <variable name="xmlAttributeRegexp" value="(?'key'B2BAPIUserEmailAddress|B2BAPIUserPassword|MemberPassword|Password|TitleTypeCode|FirstName|LastName|Address1|Address2|City|PostalCode|MobilePhone|Title|Gender|BirthDate|Work|Line1|StateProvince|Country|OriginalPassengerIdentification|OriginalSegmentIdentification)=&quot;(?'value'[^&quot;]+)&quot;"/>
    <variable name="xmlNodeRegexp" value="(?'key'FirstName|LastName|Title|ZipCode|City|Street|Num|Address|AgentPassword|DateOfBirth|Sex|Pax_Lastname)&gt;(?'value'[^&lt;]+)&lt;"/>
    <variable name="jsonStringPropertyRegexp" value="&quot;(?'key'firstName|lastName|fullName|name|gender|title|dateOfBirth|phoneNumber|mobilePhone|phone|city|townCity|billingAddress|address|address1|address2|postalCode|postCode|nameOnCard|cardNumber|cvv|expiryMonth|expiryYear|cardSecurityNumber|expirationDate|expiryMonth|expiryYear|password|customerFirstName|customerLastName|access_token|id_token|client_id|client_secret|Web_First_Name__c|Web_Last_Name__c|SuppliedEmail|SuppliedPhone|DepInstr|ArrivalInstr)&quot;\\s*\:\\s*&quot;(?'value'[^&quot;]+)&quot;"/>
    <variable name="jsonNumberPropertyRegexp" value="&quot;(?'key'phoneNumber|phone|cardNumber|cvv|expiryMonth|expiryYear|cardSecurityNumber|expirationDate|expiryMonth|expiryYear|age)&quot;\\s*\:\\s*(?'value'[^,]+),"/>
    <variable name="queryParamsRegexp" value="(?'key'username|password|key|lastName)=(?'value'[^\\s&amp;&quot;]+)"/>
    <variable name="contactUsDescriptionRegexp" value="&quot;Description&quot;\:&quot;(?'value'.+)&quot;,&quot;Primary_Case_Category__c&quot;"/>

    <variable name="maskedMessage" value="${regex-replace:searchFor=${xmlAttributeRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:inner=${message}}"/>
    <variable name="maskedMessage" value="${regex-replace:searchFor=${xmlNodeRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:inner=${maskedMessage}}"/>
    <variable name="maskedMessage" value="${regex-replace:searchFor=${jsonStringPropertyRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:ignoreCase=true:inner=${maskedMessage}}"/>
    <variable name="maskedMessage" value="${regex-replace:searchFor=${jsonNumberPropertyRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:ignoreCase=true:inner=${maskedMessage}}"/>
    <variable name="maskedMessage" value="${regex-replace:searchFor=${queryParamsRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:ignoreCase=true:inner=${maskedMessage}}"/>
    <variable name="maskedMessage" value="${regex-replace:searchFor=${contactUsDescriptionRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:ignoreCase=true:inner=${maskedMessage}}"/>
    
    <!-- Masking request URLs  -->
    <variable name="requestUrlQueryParamsRegexp" value="(?'key'lastName)=(?'value'[^&amp;]+)"/>
    <variable name="maskedRequestUrl" value="${regex-replace:searchFor=${requestUrlQueryParamsRegexp}:replaceWith=${maskedValue}:replaceGroupName=value:inner=${aspnet-request-url:IncludeQueryString=true}}"/>
</nlog>