.pill {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    font-family: $fontRoundedDemy;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: $clrSiteBgWhite;
    text-align: center;
    word-wrap: break-word;
    background-color: $colorBlack;
    border-radius: 200px;
}
