<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery">
        <settings>
            <setting name="Optimizely.SdkKey" value="#{Sitecore.Optimizely.SdkKey}" />
            <setting name="Optimizely.PollingMinutes" value="#{Sitecore.Optimizely.PollingMinutes}" />
            <setting name="Optimizely.UserContextCookieName" value="#{Sitecore.Optimizely.UserContextCookieName}" />
            <setting name="Optimizely.ExperimentationSettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/Optimizely Settings" />
        </settings>
        <services>
            <configurator type="easyJet.Foundation.Optimizely.Infrastructure.OptimizelyServicesConfigurator, easyJet.Foundation.Optimizely"/>
        </services>
        <pipelines>
            <initialize>
                <processor
                    type="easyJet.Foundation.Optimizely.Pipelines.Initialize.InitializeOptimizely, easyJet.Foundation.Optimizely"
                    resolve="true" />
            </initialize>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Foundation.Optimizely.Pipelines.GetLayoutServiceContext.OptimizelyDecisionsContextDataProcessor, easyJet.Foundation.Optimizely"
                                   resolve="true">
                        </processor>
                    </getLayoutServiceContext>
                    <renderJsonRendering>
                        <processor type="easyJet.Foundation.Optimizely.Pipelines.RenderJsonRendering.OptimizelyExperimentGateJsonRendering, easyJet.Foundation.Optimizely"
                                   resolve="true">
                        </processor>
                    </renderJsonRendering>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
