<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentManagement">
        <services>
            <configurator type="easyJet.Foundation.Optimizely.Infrastructure.CmOptimizelyServicesConfigurator, easyJet.Foundation.Optimizely" />
        </services>
    </sitecore>
</configuration>
