.subheading {
    margin-top: 6px;
    font-family: $fontRoundedDemy;
    font-size: 18px;
    font-weight: 400;
    margin-block: 0;

    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 1.37;
    }
}

.heading {
    margin-block: 0;
}

.headingGroup {
    margin-block: 32px;

    @include media-breakpoint-down(md) {
        margin-block: 16px 0;
    }
}

.note {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.28;
}

.fullWidthContent {
    width: 100%;
    padding-bottom: 100px;

    @include media-breakpoint-down(md) {
        width: auto;
    }
}
