<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="Atcom.DefaultLanguage" value="en_EN" />
            <setting name="Atcom.ReferenceLanguage" value="en" />
            <setting name="Atcom.SyncLanguages" value="en|de-CH|fr-CH" />
            <setting name="Atcom.CacheSize" value="50MB" />
            <setting name="Atcom.CacheExpiredInMinutes" value="180" />
            <setting name="Atcom.SearchService.CacheExpiredInMinutes" value="1440" />
            <setting name="Atcom.VRPWebserviceEndpoint" value="#{Sitecore.Atcom.Vrp.WebserviceEndpoint}" />
            <setting name="Atcom.SearchServiceHost" value="#{Sitecore.Atcom.Cache.Host}" />
            <setting name="Atcom.SearchServiceBaseUrl" value="#{Sitecore.Atcom.Cache.Path}" />
            <setting name="Atcom.SearchServiceQuery" value="h_tp=P&amp;pax_in=0&amp;direct=N&amp;brnd=F&amp;names=1&amp;cty=1&amp;s_tp=3&amp;tpf=Y&amp;fc_pp=Y&amp;pax_ad=1&amp;rooms=0&amp;geog=&amp;sdate={0}&amp;edate={1}&amp;stay=1,2,3,4,5,6,7,8,9,10,11,12&amp;brws=P" />
            <setting name="Atcom.SearchServiceQuery.MonthsOffset" value="3" />
            <setting name="Atcom.Hybris.Host" value="#{Sitecore.Atcom.Hybris.Host}" />
            <setting name="Atcom.Hybris.Port" value="#{Sitecore.Atcom.Hybris.Port}" />
            <setting name="Atcom.Hybris.FileLocation" value="#{Sitecore.Atcom.Hybris.FileLocation}" />
            <setting name="Atcom.Hybris.RoomAttributes.Filename" value="RoomAttributes_\w+.dat" />
            <setting name="Atcom.Hybris.RoomTypes.Filename" value="RoomTypes_\w+.dat" />
            <setting name="Atcom.RoomTypeFacilitiesSync.IsAutoSyncEnabled" value="true" />
            <setting name="Atcom.AtcomRoomSync" value="sitecore\AtcomRoomSync" />
            <setting name="Atcom.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/Atcom Synchronization" />
        </settings>
        <commands>
            <command name="item:syncatcomroomtypes" type="easyJet.Foundation.Atcom.Commands.RunRoomTypesSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncroomfacilities" type="easyJet.Foundation.Atcom.Commands.RunRoomFacilitiesSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncstarratings" type="easyJet.Foundation.Atcom.Commands.RunStarRatingsSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncairportscountries" type="easyJet.Foundation.Atcom.Commands.RunAirportsCountriesSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:synccountries" type="easyJet.Foundation.Atcom.Commands.RunCountriesSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncairports" type="easyJet.Foundation.Atcom.Commands.RunAirportsSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:synclocations" type="easyJet.Foundation.Atcom.Commands.RunLocationsSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncresorts" type="easyJet.Foundation.Atcom.Commands.RunResortsSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncaccommodations" type="easyJet.Foundation.Atcom.Commands.RunAccommodationsSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
            <command name="item:syncspecialrequests" type="easyJet.Foundation.Atcom.Commands.RunSpecialRequestsSyncCommand, easyJet.Foundation.Atcom" resolve="true" />
        </commands>
        <pipelines>
            <!--<synchronize>
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncCountriesProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncLocationsProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncResortsProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncAccommodationsProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncAirportsCountriesProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncAirportsProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncRoomFacilitiesProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncRoomTypesProcessor, easyJet.Foundation.Atcom" resolve="true" />
                <processor type="easyJet.Foundation.Atcom.Pipelines.Synchronize.SyncStarRatingsProcessor, easyJet.Foundation.Atcom" resolve="true" />
            </synchronize>-->
            <AtcomDestinationsSyncPipeline>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomDestinationsSyncPipeline.SyncDestinationsProcessor, easyJet.Foundation.Atcom" resolve="true"/>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomDestinationsSyncPipeline.MoveHotelsProcessor, easyJet.Foundation.Atcom" resolve="true"/>
            </AtcomDestinationsSyncPipeline>
            <AtcomRoomTypesSyncPipeline>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomRoomTypesSyncPipeline.SyncRoomTypesProcessor, easyJet.Foundation.Atcom" resolve="true"/>
            </AtcomRoomTypesSyncPipeline>
            <AtcomAirportsSyncPipeline>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomAirportsSyncPipeline.SyncAirportsCountriesProcessor, easyJet.Foundation.Atcom" resolve="true"/>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomAirportsSyncPipeline.SyncAirportsProcessor, easyJet.Foundation.Atcom" resolve="true"/>
            </AtcomAirportsSyncPipeline>
            <AtcomRoomTypeFacilitiesSyncPipeline>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomRoomTypeFacilitiesSyncPipeline.SyncRoomTypesFacilitiesProcessor, easyJet.Foundation.Atcom" resolve="true"/>
                <processor type="easyJet.Foundation.Atcom.Pipelines.AtcomRoomTypeFacilitiesSyncPipeline.SyncAccommodationRoomTypesProcessor, easyJet.Foundation.Atcom" resolve="true"/>
            </AtcomRoomTypeFacilitiesSyncPipeline>
        </pipelines>
        <services>
            <configurator type="easyJet.Foundation.Atcom.Infrastructure.AtcomServiceConfigurator, easyJet.Foundation.Atcom"/>
        </services>
    </sitecore>
</configuration>
