<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="Atcom.VRPWebserviceEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://ezy-tst-vrp.atcoretec.com/EZYUAT/VRPWebservice/AniteGateway/AniteGateway.aspx" />
            <setting name="Atcom.SearchServiceHost" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="https://ezy-tst-cac.atcoretec.com" />
            <setting name="Atcom.SearchServiceBaseUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" value="/fcgi-bin/ezyuat/avcache3_g" />
            <setting name="Atcom.Hybris.Host" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  value="10.158.16.161" />
            <setting name="Atcom.Hybris.Port" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  value="22" />
            <setting name="Atcom.Hybris.FileLocation" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  value="/ejh_hybexptst/HYBEXP/EZYLOT/" />
        </settings>
    </sitecore>
</configuration>