.discountPill.priority,
.greatDealPill.priority {
    color: $colorWhite;
    background-color: $colorRed;
}

.freeKidsPill {
    background-color: $colorYellow2;
}

.freeNightsPill {
    background-color: $colorGreenLight2;
}

.discountedBoardPill {
    display: flex;
}
