.title {
    margin: 0;
    font-family: $fontGenerationHeadline;
    font-size: 100px;
    line-height: 0.9;
    color: $colorWhite;

    @include media-breakpoint-down(md) {
        font-size: 40px;
    }
}