.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 0;

    @include media-breakpoint-up(md) {
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 3px 9px 3px rgba($colorBlackLight, 0.15);
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}

.descriptionSection {
    @include media-breakpoint-up(lg) {
        max-width: 277px;
    }
}

.checklistSection {
    flex: 1;

    > * {
        border-bottom: 1px solid $colorGeyser;
    }

    > *:last-child {
        @include media-breakpoint-up(md) {
            border-bottom: none;
        }
    }
}

.title {
    margin: 0;
    margin-bottom: 16px;
    font-family: $fontRoundedDemy;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: $clrTextMain;

    @include media-breakpoint-down(md) {
        font-size: 18px;
    }
}

.description {
    margin: 0;
    font-family: $fontRoundedBook;
    font-size: 14px;
    line-height: 1.3;
}
