.showButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-family: $fontRoundedDemy;
    font-size: 16px;
    background-color: $colorWhite;
    border-width: 1px;
    border-radius: $box-border-radius_md;

    .externalLinkIcon {
        margin-left: 10px;
    }
}
