<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Multisite" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Multisite.Templates" database="master" path="/sitecore/templates/Foundation/Multisite"/>
                        <include name="Multisite.Templates.Branches" database="master" path="/sitecore/templates/Branches/Foundation/Multisite"/>
                        <include name="Multisite.ContentResolvers" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Foundation/Multisite"/>
                        <include name="Multisite.Settings" database="master" path="/sitecore/system/Settings/Foundation/Multisite"/>
                        <include name="Multisite.DictionaryEntry" database="master" path="/sitecore/templates/System/Dictionary/Dictionary entry"/>
                        <include name="System.Media.Unversioned.Pdf" database="master" path="/sitecore/templates/System/Media/Unversioned/Pdf" />
                        <include name="System.Media.Versioned.Pdf" database="master" path="/sitecore/templates/System/Media/Versioned/Pdf" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>