<?xml version="1.0" encoding="utf-8"?>
<!--
Purpose: This include file defines the index publising restictions fields used by the scheduele publising Sitecore when using the SOLR content search provider.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement" search:require="Solr">
        <contentSearch>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes hint="list:AddIndex">
                    <index id="sitecore_publishing_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="core">sc.holidays_publishing_index</param>
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                            <documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
                                <indexAllFields>false</indexAllFields>
                                <include hint="list:AddIncludedField">
                                    <__ValidFrom>{C8F93AFE-BFD4-4E8F-9C61-152559854661}</__ValidFrom>
                                    <Publish>{86FE4F77-4D9A-4EC3-9ED9-263D03BD1965}</Publish>
                                    <UnPublish>{7EAD6FD6-6CF1-4ACA-AC6B-B200E7BAFE88}</UnPublish>
                                    <ValidTo>{4C346442-E859-4EFD-89B2-44AEDF467D21}</ValidTo>
                                </include>
                            </documentOptions>
                        </configuration>
                        <strategies hint="list:AddStrategy">
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster"/>
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Home</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/TradePortal/Home</Root>
                            </crawler>
                            <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/TradePortal/Data</Root>
                            </crawler>
                        </locations>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>

