<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or Processing">
        <scheduling>
            <agent type="Sitecore.Tasks.DatabaseAgent" method="Run" interval="00:10:00" name="Master_Database_Agent">
                <patch:attribute name="type">easyJet.Foundation.Multisite.Tasks.DatabaseAgent</patch:attribute>
            </agent>
        </scheduling>
    </sitecore>
</configuration>