<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <events>
            <event name="item:versionAdded">
                <handler type="easyJet.Foundation.Multisite.Events.ItemEventHandler, easyJet.Foundation.Multisite" method="OnVersionAdded"/>
            </event>
            <event name="media:request">
                <handler type="easyJet.Foundation.Multisite.Events.MediaRequestEventHandler, easyJet.Foundation.Multisite" method="OnMediaRequest"/>
            </event>
        </events>
        <pipelines>
            <resolveTokens help="Processors should derive from: easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveTokensProcessor, easyJet.Foundation.Multisite">
                <processor type="easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveTenantTokenProcessor, easyJet.Foundation.Multisite" resolve="true"/>
                <processor type="easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveSiteTokenProcessor, easyJet.Foundation.Multisite" resolve="true"/>
                <processor type="easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveDataTokenProcessor, easyJet.Foundation.Multisite" resolve="true"/>
                <processor type="easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveHomeTokenProcessor, easyJet.Foundation.Multisite" resolve="true"/>
                <!-- $media token does not work for Image filed type: please read https://sitecore.stackexchange.com/questions/6118/how-to-change-the-source-from-an-image-field-programmatically -->
                <processor type="easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveSiteMediaTokenProcessor, easyJet.Foundation.Multisite" resolve="true"/>
                <processor type="easyJet.Foundation.Multisite.Pipelines.ResolveTokens.ResolveSettingsTokenProcessor, easyJet.Foundation.Multisite" resolve="true"/>
            </resolveTokens>

            <getRenderingDatasource>
                <processor patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
                           type="easyJet.Foundation.Multisite.Pipelines.GetRenderingDatasource.ResolveTokenizedDatasourceLocationProcessor, easyJet.Foundation.Multisite" />
            </getRenderingDatasource>

            <getLookupSourceItems>
                <processor patch:before="*[@type='Sitecore.Buckets.FieldTypes.CustomDataSource, Sitecore.Buckets']"
                           type="easyJet.Foundation.Multisite.Pipelines.GetLookupSourceItems.ResolveTokenizedLookupSourceProcessor, easyJet.Foundation.Multisite" />
            </getLookupSourceItems>

            <mvc.requestBegin>
                <processor patch:before="*[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']"
                           type="easyJet.Foundation.Multisite.Pipelines.HttpRequestBegin.HandleItemNotFoundProcessor, easyJet.Foundation.Multisite" resolve="true" />
            </mvc.requestBegin>


            <RebuildIndex>
                <processor type="easyJet.Foundation.Multisite.Pipelines.RebuildIndex.RebuildIndexProcessor, easyJet.Foundation.Multisite" resolve="true" />
            </RebuildIndex>

            <Publishing>
                <processor type="easyJet.Foundation.Multisite.Pipelines.Publishing.AutoPublishProcessor, easyJet.Foundation.Multisite" resolve="true" />
            </Publishing>
            <getContentEditorWarnings>
                <processor patch:before="*[1]" type="easyJet.Foundation.Multisite.Pipelines.GetContentEditorWarnings.DelegatedAreaWarning, easyJet.Foundation.Multisite" resolve="true" />
                <processor patch:before="*[@type='Sitecore.Pipelines.GetContentEditorWarnings.Notifications, Sitecore.Kernel']" type="easyJet.Foundation.Multisite.Pipelines.GetContentEditorWarnings.HideNotificationForDelegatedArea, easyJet.Foundation.Multisite" resolve="true" />
            </getContentEditorWarnings>
            <initializeManagers>
                <processor type="easyJet.Foundation.Multisite.Pipelines.InitializeManagers.InitializePushCloneManager, easyJet.Foundation.Multisite" resolve="true"/>
            </initializeManagers>
            <pushCloneChanges>
                <processor type="easyJet.Foundation.Multisite.Pipelines.PushCloneChanges.PushTemplateChange, easyJet.Foundation.Multisite" />
                <processor type="easyJet.Foundation.Multisite.Pipelines.PushCloneChanges.ResetFields,easyJet.Foundation.Multisite" />
            </pushCloneChanges>
            <preAuthenticateRequest>
                <processor type="easyJet.Foundation.Multisite.Pipelines.PreAuthenticateRequest.SiteResolver, easyJet.Foundation.Multisite" patch:instead="processor[@type='Sitecore.Pipelines.PreAuthenticateRequest.SiteResolver, Sitecore.Kernel']" resolve="true" />
            </preAuthenticateRequest>
            <mvc.exception>
                <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc']" type="easyJet.Foundation.Multisite.Pipelines.MvcException.JsonExceptionHandler, easyJet.Foundation.Multisite" resolve="true"/>
            </mvc.exception>

            <indexing.filterIndex.inbound>
                <processor patch:instead="*[@type='Sitecore.ContentSearch.Pipelines.IndexingFilters.ApplyInboundIndexFilter, Sitecore.ContentSearch']" type="easyJet.Foundation.Multisite.Pipelines.RebuildIndex.PathIndexFilter, easyJet.Foundation.Multisite">
                    <ExcludeItemPaths hint="list">
                        <MediaItems>/sitecore/media library</MediaItems>
                    </ExcludeItemPaths>
            </processor>
            </indexing.filterIndex.inbound>

            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                            <processor patch:instead="*[@type='Sitecore.LayoutService.ItemRendering.Pipelines.GetLayoutServiceContext.SiteContext, Sitecore.LayoutService']"
                                       type="easyJet.Foundation.Multisite.Pipelines.GetLayoutServiceContext.ExtendedSiteContext, easyJet.Foundation.Multisite" resolve="true"/>
                    </getLayoutServiceContext>
                </pipelines>
            </group>
        </pipelines>
        <processors>
            <uiCloneItems>
                <processor patch:after="*[@type='Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel' and @method='CheckLanguage']" type="easyJet.Foundation.Multisite.Pipelines.UiCloneItems.CheckDelegatedArea, easyJet.Foundation.Multisite" resolve="true"/>
                <processor type="easyJet.Foundation.Multisite.Pipelines.UiCloneItems.PopulateDelegatedArea, easyJet.Foundation.Multisite" resolve="true"/>
                <processor type="easyJet.Foundation.Multisite.Pipelines.UiCloneItems.ProtectClone, easyJet.Foundation.Multisite" resolve="true"/>
            </uiCloneItems>
        </processors>

        <settings>
            <setting name="Preview.ResolveSite">
                <patch:attribute name="value" value="true" />
            </setting>
            <setting name="Rendering.SiteResolvingMatchCurrentLanguage">
                <patch:attribute name="value" value="false" />
            </setting>
            <setting name="Multisite.Sitemap.TemplatesToExclude" value="{05BBE519-F066-4B38-B0FC-CBC9C2F1C567},{41EC88AC-DCD5-47A1-A0CF-041C85E1BD5B},{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" />
            <setting name="Multisite.Sitemap.TemplatesToExcludeChildren" value="{05BBE519-F066-4B38-B0FC-CBC9C2F1C567},{83C5C952-9286-489A-A351-77883CAF5F47},{28E5E169-8F72-4F90-A277-280A8302B607}" />
            <setting name="Multisite.Sitemap.ShouldSupportMultilanguage" value="false" />
            <setting name="Multisite.AutoPublish.DeepPublish" value="true" />
            <setting name="Multisite.AutoPublish.PublishableTimeRange" value="00:30:00" />
            <setting name="Mulisite.PublisingIndexName" value="sitecore_publishing_index" />
            <setting name="PromoPagesCacheBustingSetting.Path" value="/sitecore/content/EasyJet/Holidays/Settings/Promo Cache Busting Setting" />
        </settings>

        <scheduling>
            <agent>
                <files>
                    <remove folder="$(dataFolder)/logs" pattern="*log.*.txt" >
                        <patch:attribute name="maxAge">7.00:00:00</patch:attribute>
                    </remove>
                </files>
            </agent>
        </scheduling>
    </sitecore>
</configuration>