<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <!--https://support.sitecore.com/kb?id=kb_article_view&sysparm_article=KB0700677-->
                <processor type="easyJet.Foundation.Multisite.Pipelines.Initialize.InitializeRoutes, easyJet.Foundation.Multisite" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
            </initialize>
        </pipelines>
    </sitecore>
</configuration>