.divider {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: -16px;
    background-color: $colorGray;

    @include media-breakpoint-up(sm) {
        display: none;
    }
}
