
.pillsBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;    
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
        align-items: center;
        gap: 7px;
        margin-bottom: 8px;
    }
}

.pillsWrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 5px;
    width: 100%;
    text-align: right;

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        width: calc(100% + 15px);
        margin-right: -15px;
        margin-bottom: 15px;
    }
}

.pill {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include media-breakpoint-down(md) {
        display: inline-flex;
        align-items: center;
        align-self: auto;
        min-height: 30px;
        margin-right: 5px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        border-radius: 50px;

        &:only-child {
            min-height: 34px;
            padding-right: 12px;
            padding-left: 12px;
            font-size: 14px;
        }
    }

    @include media-breakpoint-down(xs) {
        &:only-child {
           font-size: 12px;
        }
    }
}

