.container {
    display: flex;
    align-items: center;
}

.priceAmount {
    display: flex;
    align-items: center;
}

.tooltip {
    min-height: initial;
    margin-left: 8px;

    :global(.callout__parent) {
        line-height: 11px;
    }
}

.additionalPrice {
    font-size: 18px;
}
