<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">

         <settings>
            <setting name="ContentSearch.Solr.EnforceAliasCreation" value="true" />
        </settings>

        <contentSearch>
            <indexConfigurations>
                <articlesIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <IndexAllFields>True</IndexAllFields>
                        <include hint="list:AddIncludedTemplate">
                            <ArticlePage>{A3A83479-5CEC-440E-9B30-A7AD70121343}</ArticlePage>
                        </include>
                        <include hint="list:AddIncludedField">
                            <Title>{2F0FD5F2-8EF7-4C8D-99BE-900DDC1BAD9A}</Title>
                            <TopContent>{8FEE6F58-1843-4D99-B11E-0A5738A20082}</TopContent>
                            <BottomContent>{ECE1E6D8-7A2F-495A-B3B2-BD7C1F420061}</BottomContent>
                            <ShortDescription>{AB6F4D2C-3F4F-4F3A-9019-D3055ECFE6CC}</ShortDescription>
                            <PublicationDate>{F9831428-600F-45FE-82D6-103A8E200DFD}</PublicationDate>
                            <IsTopArticle>{67760325-0959-4E9D-8D85-1E6B4C1D51DB}</IsTopArticle>
                        </include>
                        <include hint="list:AddExcludedField">
                            <!-- topics field to use computed field instead -->
                            <fieldId>{686702A9-AFAE-4EBF-AC14-CE36EA3D7938}</fieldId>
                        </include>
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="image_url" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Feature.MediaCenter.ContentSearch.Fields.ImageComputedField, easyJet.Feature.MediaCenter</field>
                            <field fieldName="topics" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Feature.MediaCenter.ContentSearch.Fields.TopicsComputedField, easyJet.Feature.MediaCenter</field>
                            <field fieldName="article_url" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Feature.MediaCenter.ContentSearch.Fields.ArticleUrlComputedField, easyJet.Feature.MediaCenter</field>
                        </fields>
                    </documentOptions>
                </articlesIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>