<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore>
        <settings>
            <setting name="ContentSearch.Articles.IndexName" value="sitecore_articles_{0}_index" />
            <setting name="MediaCenter.SiteContextName" value="Holidays" />
        </settings>
        <events role:require="Standalone or ContentManagement">
            <event  name="item:saved">
                <handler type="easyJet.Feature.MediaCenter.Events.TopArticleEventHandler, easyJet.Feature.MediaCenter" method="OnItemSaved" resolve="true"/>
            </event>
        </events>
    </sitecore>
</configuration>