.hotelDetailsPlaceholder {
    height: 68px;
}

.hotelPricePlaceholder {
    height: 80px;
    margin-left: auto;

    @include media-breakpoint-down(sm) {
        height: 60px;
    }
}

.cardHeadActionsLong {
    justify-content: flex-end;
    min-width: 58px;
}

.ecoPillWrapper {
    @include media-breakpoint-up(md) {
        margin-top: 10px;
    }
}

.ecoPillContent.priority {
    padding-left: 0;
}
