.iconsContainer {
    display: flex;
    align-items: center;
    width: auto;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        padding-bottom: 24px;
    }
}

// Don't change the order of last-/first-child rules, cause in case of having one of them,
// last-child rewrite first-child rule
.iconsContainer > :first-child {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.iconsContainer > :last-child {
    display: flex;
    justify-content: flex-end;
}

.iconsContainer > :first-child,
.iconsContainer > :last-child {
    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
