.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: $colorLuxuryBlack;
    border-radius: 4px;
}

.icon {
    width: 24px;
    height: 24px;
}
