.form-title {
    font-size: 32px;
    @include media-breakpoint-down(lg) {
        font-size: 24px;
    }
}

.form-section-title {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
}

.formSectionAdditionalDescription {
    font-size: 12px;
    font-weight: 400;
}

.checkboxContainer {
    display: flex;
    margin-top: 10px;

    .moreInfo {
        display: flex;
        width: 24px;
        margin-left: 5px;
    }
}

.formSectionHolidayInformation {
    margin-bottom: 50px;

    .form-textarea {
        height: 265px;
        white-space: normal;
        resize: none;
    }
}

.info {
    width: 400px;
}
