.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;

    svg {
        margin-right: 8px;
        @include sizeSquare(24px);
    }

    :global(.icon--bg-image) {
        margin-right: 8px;
        @include sizeSquare(24px);
    }
}

.ratings {
    margin-bottom: 10px;
    padding-left: 32px;
}

.title {
    margin: 20px 0;
    line-height: 30px;
    text-align: center;
}
