.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.container > * {
    width: 100%;
}

.block {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.title {
    margin-bottom: 8px;
    font-weight: 700;
}

.location {
    margin-bottom: 4px;
}

.icon {
    width: 21px;
    min-width: 21px;
    height: 21px;
    margin-right: 12px;
}

.rooms {
    margin-bottom: 16px;
}
