<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">

         <settings>
            <setting name="ContentSearch.Solr.EnforceAliasCreation" value="true" />
        </settings>

        <contentSearch>
            <indexConfigurations>
                <promotionsIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                    <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="customerpromocode" returnType="lowercaseString"/>
                            <field fieldName="atcompromocode" returnType="lowercaseString"/>
                        </fieldNames>
                    </fieldMap>
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <IndexAllFields>false</IndexAllFields>
                        <include hint="list:AddIncludedTemplate">
                            <Promotion>{A79ECCA5-FA9B-4B8C-A1D5-4487E041CBB3}</Promotion>
                            <PromotionCode>{5D2E7ED6-6A7F-417C-A2D4-84DB051EED0C}</PromotionCode>
                        </include>
                        <include hint="list:AddIncludedField">
                            <CustomerPromoCode>{D46E66D3-1C2E-4B3C-8370-177271168F4F}</CustomerPromoCode>
                            <AtcomPromoCode>{ADCCFBEB-8245-4962-9DBA-D6FB8B07389E}</AtcomPromoCode>
                        </include>
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="market_codes" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Voucherify.ContentSearch.Fields.MarketCodeComputedField, easyJet.Foundation.Voucherify</field>
                            <field fieldName="sortorder" returnType="int">easyJet.Foundation.SitecoreExtensions.ContentSearch.Fields.SortOrderComputedField, easyJet.Foundation.SitecoreExtensions</field>
                            <field fieldName="promotion_codes" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Voucherify.ContentSearch.Fields.PromotionCodesComputedField, easyJet.Foundation.Voucherify</field>
                        </fields>
                    </documentOptions>
                </promotionsIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>