<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <settings>
            <setting name="Voucherify.HostName" value="#{Sitecore.Voucherify.Hostname}" />
            <setting name="Voucherify.DictionaryPrefix" value="Holidays.Promotion.Criteria.Errors" />
        </settings>
        <commands>
            <command name="item:copyinvoucherify" type="easyJet.Foundation.Voucherify.Commands.CopyInVoucherifyCommand, easyJet.Foundation.Voucherify" resolve="true" />
            <command name="item:hotelgiatacodesuploadprocess" type="easyJet.Foundation.Voucherify.Commands.HotelGiataCodesUploadCommand, easyJet.Foundation.Voucherify" resolve="true" />
            <command name="item:uploadsingleusepromocodesprocess" type="easyJet.Foundation.Voucherify.Commands.UploadSingleUsePromocodesCommand, easyJet.Foundation.Voucherify" resolve="true" />
        </commands>
        <uploadingCommandParamList>
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:hotelgiatacodesuploadprocess" templateId="{FFDF75B6-AB69-46ED-B8F9-35E426E69542}" fileFieldId="{6F24CB69-4032-4DFE-8D15-C7BA5CB241A4}" csvDelimiter=","/>
            <uploadCommandParam patch:before="uploadCommandParam[last()]" commandName="item:uploadsingleusepromocodesprocess" templateId="{FFDF75B6-AB69-46ED-B8F9-35E426E69542}" fileFieldId="{5133A4BD-6E43-490C-A847-D446C00F6C89}" csvDelimiter=","/>
        </uploadingCommandParamList>
        <processors>
            <saveUI>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Foundation.Voucherify.Pipelines.SaveUI.PromotionCriteriaValidationProcessor, easyJet.Foundation.Voucherify"/>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Foundation.Voucherify.Pipelines.SaveUI.PromotionRedemptionValidationProcessor, easyJet.Foundation.Voucherify"/>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Foundation.Voucherify.Pipelines.SaveUI.PromotionEarliestDateValidationProcessor, easyJet.Foundation.Voucherify"/>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Foundation.Voucherify.Pipelines.SaveUI.DoNotTranslateValidationProcessor, easyJet.Foundation.Voucherify">
                    <websites hint="list:AddWebsite">
                        <website>Holidays</website>
                    </websites>
                </processor>
            </saveUI>
        </processors>
    </sitecore>
</configuration>

