<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Voucherify" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Core.ContextMenues.Default.CopyInVoucherify" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Copy to Voucherify" />
                        <include name="Voucherify.Templates"  database="master" path="/sitecore/templates/Foundation/Voucherify"/>
                        <include name="Core.ContextMenues.Default.HotelGiataCodesUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Hotel GIATA Codes Upload" />
                        <include name="Core.ContextMenues.Default.SingleUsePromocodeUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Upload Single Use Promo Codes" />
                        <include name="Voucherify.ValidationRules.FieldRules"  database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/EasyJet"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>