.header {
    :global(.wrapper-component-container) {
        padding: 24px 0;

        @include media-breakpoint-down(md) {
            padding: 16px 0;
        }
    }
}

.titles {
    margin: 0 0 16px;

    @include media-breakpoint-up(md) {
        margin-bottom: 16px;
    }
}

.title {
    margin: 0 0 8px;
    font-family: $fontRoundedDemy;
    font-size: 24px;
}
