.wrapper {
    width: 100%;
    max-width: $container-max-width + 2 * $container-padding-x_mobile;
    margin: 24px auto 0 4px;
    padding: 0 $container-padding-x_mobile;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 80px;
    }
}
