.marketing-research-unsubscribe__wrapper {
    margin-bottom: -110px;
    padding: 0.1px 15px 110px;
    background-position: center center;
    background-size: cover;

    @include media-breakpoint-down(md) {
        margin-bottom: -50px;
        padding: 0.1px 0 50px;
    }
}

.marketing-research-unsubscribe {
    display: flex;
    justify-content: center;
    margin: 90px auto 100px;
    padding: 55px 65px 65px;
    background: #fff;
    border-radius: 4px;

    p {
        margin: 0 0 5px;
    }

    @include media-breakpoint-down(md) {
        margin: 30px 15px 50px;
        padding: 45px 15px;
    }
}

.marketing-research-unsubscribe__title {
    margin: 16px 0 14px;
    font-size: 16px;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
        margin: 25px 0 18px;
    }
}

.marketing-research-unsubscribe__subtitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
}

.marketing-research-unsubscribe__content {
    max-width: 510px;
    text-align: center;

    @include media-breakpoint-down(md) {
        max-width: 100%;
    }
}

.marketing-research-unsubscribe__buttons {
    margin-top: 30px;
    margin-bottom: -5px;

    .btn.btn--medium {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .btn {
        min-width: 200px;
        margin: 5px 10px;
    }

    @include media-breakpoint-down(md) {
        margin-top: 20px;

        .btn--medium {
            min-height: 42px;
        }
    }

    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
    }
}
