.promo-merch-banner {
    margin: 30px 0;
}

.promo-merch-banner__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 30px;
    border-top: 1px solid $colorGrayMiddle;
    border-bottom: 1px solid $colorGrayMiddle;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
        padding: 28px 10px 24px;
    }
}

.promo-merch-banner__col {
    position: relative;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

.promo-merch-banner__icon {
    margin-right: 30px;

    @include media-breakpoint-down(lg) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.promo-merch-banner__title {
    margin: 0;
    font-family: $fontRoundedHeadline;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33;
    color: $colorLightBlue;

    @include media-breakpoint-down(lg) {
        font-size: 24px;
    }
}

.promo-merch-banner__description {
    font-size: 16px;
    line-height: 1.5;

    @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
    }
}

a.promo-merch-banner__btn {
    min-width: 168px;
    margin-left: 32px;
    line-height: 1.3;

    @include media-breakpoint-down(lg) {
        width: 100%;
        max-width: 320px;
        margin: 0;
    }
}

.promo-merch-banner__terms {
    padding: 8px 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    color: $colorDimGray;
    text-align: right;

    @include media-breakpoint-down(lg) {
        padding: 15px;
        text-align: center;
    }

    a {
        color: $clrEjOrange;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.promo-merch-banner__promo {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 32px;
    padding: 0 12px 0 16px;
    font-size: 14px;
    line-height: 1;
    color: $colorLightBlue;
    border: 2px dotted $colorLightBlue;
    border-radius: 4px;

    @include media-breakpoint-down(lg) {
        margin-bottom: 15px;
        margin-left: 0;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: 8px;
        height: 16px;
        margin-top: -9px;
        background: $clrSiteBgWhite;
        border: 2px dotted $colorLightBlue;
    }

    &::before {
        left: -2px;
        border-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &::after {
        right: -2px;
        border-right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .promo-code {
        margin-top: 6px;
        margin-left: 8px;
        font-family: $fontGenerationHeadline;
        font-size: 40px;
        line-height: 0.8;

        &::after {
            content: "";
            display: inline-block;
            height: 24px;
            margin-left: 8px;
            border-left: 1px solid $colorLightBlue;
        }
    }

    button {
        margin-left: 4px;
        padding: 4px;
        line-height: 1;
        color: $colorLightBlue;
        background: none;
        border: 0;
        cursor: pointer;

        svg {
            width: 17px;
            height: 17px;
        }
    }
}

.promo-merch-banner__alert {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    min-width: 140px;
    margin-top: 55px;
    font-size: 12px;
    line-height: 15px;
    color: $clrTextMain;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);

    @include media-breakpoint-down(lg) {
        top: unset;
        bottom: 10px;
        margin-top: 0;
    }

    span {
        position: relative;
        display: block;
        padding: 8px 11px;
        background-color: $clrSiteBgWhite;
        border-radius: inherit;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -6px;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: $clrSiteBgWhite;
        box-shadow: inherit;
        transform: translateX(-50%) rotate(-45deg);

        @include media-breakpoint-down(md) {
            top: auto;
            bottom: -6px;
        }
    }
}
