.basketAmendDates {
    display: flex;
    align-items: center;
    color: $colorBlack;

    svg {
        @include sizeSquare(16px);

        margin-right: 12px;
        margin-bottom: 5px;
    }
}

.dates {
    margin: 0 0 3px;
    font-size: 14px;
    font-weight: 700;
}

.nightsCount {
    margin: 0;
    font-family: $fontRoundedDemy;
    font-size: 14px;
}

.cta {
    height: 50px;
}
