.expandableBanner {
    display: flex;
    flex-direction: column;

    .cta {
        width: 100%;
        padding: 8px 24px;
        font-family: $fontRoundedDemy;
        font-size: 16px;
        border-width: 2px;
    }

    .expandableBannerDescription {
        margin-top: 8px;
        font-size: 14px;
    }

    .expandableBannerTitle {
        font-size: 14px;
    }

    .expandableBannerIcon {
        height: 40px;
    }
}
