/* stylelint-disable selector-max-compound-selectors */

$dayWidth: 46px; // pixel square for each day - default is 39
$datepicker_width: $dayWidth * 7;
$datepicker-arrow_size: 30px;
$dayWidth_sm: 42px;
$datepicker_width_sm: $dayWidth_sm * 7;

.skip-calendar-link-box {
    button {
        background-color: transparent;
        outline: none;
        border: none;
    }
}