.need-help-block {
    margin: 50px 0;
    text-align: center;

    @include media-breakpoint-down(md) {
        margin: 30px 0;
    }
}

.need-help-block__title {
    margin-bottom: 20px;
    font-family: $fontRoundedHeadline;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: $clrTextMain;
}

.need-help-block__call-text {
    margin: 0 0 10px;
    font-size: 16px;
    color: $clrEjOrange;
}

.need-help-block__call-link {
    font-size: 30px;
    color: $clrEjOrange;
}

.need-help-block__note {
    margin-top: 40px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}
