.no-transfers-popup {
    .contact-us-btn {
        a {
            display: block;
            width: 200px;
            line-height: 50px;
            color: $clrSiteBgWhite;
            background: $clrEjOrange;
            border-radius: 2px;
        }
    }
}
