$newsBannerHeightMobile: 175px;

.press-release-banner {
    $heroBlockheight: 376px;

    position: relative;
    height: $heroBlockheight;
    overflow: hidden;
    background-position: center center;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background:linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    @include media-breakpoint-down(lg) {
        height: $newsBannerHeightMobile;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: auto;
        min-height: $newsBannerHeightMobile;

        @include media-breakpoint-up(md) {
            top: 50%;
            min-height: $heroBlockheight;
            margin-top: -40%;
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        max-width: $container-max-width;
        height: $heroBlockheight;
        margin: auto;
        @include media-breakpoint-down(lg) {
            padding: 0 12px;
        }
        @include media-breakpoint-down(lg) {
            height: $newsBannerHeightMobile;
            padding: 0 20px;
        }
    }

    &__placeholder-top {
        padding-top: 20px;
        @include media-breakpoint-down(sm) {
            padding-top: 10px;
        }
    }

    &__triangle {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100px;
        background: linear-gradient(2deg, #fff 51%, $colorTransparent 52%);

        @include media-breakpoint-down(lg) {
            height: 40px;
            background-image: linear-gradient(
                4deg,
                #fff 49%,
                $colorTransparent 52%
            );
        }
        @include media-breakpoint-down(xl) {
            height: 50px;
            background-image: linear-gradient(
                3deg,
                #fff 49%,
                $colorTransparent 52%
            );
        }
    }
}

.press-release-content {
    &__title {
        margin: 0 0 20px;
        font-family: $fontRoundedBook;
        font-size: 21px;
        color: $clrTextHeading;
        @include media-breakpoint-up(md) {
            font-size: 36px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 58px;
        }
    }

    &__additional-data {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.4;
        color: #000;

        .delimiter {
            position: relative;
            display: inline-block;
            width: 4px;
            height: 4px;
            margin: 0 7px 0 6px;
            background: #000;
            border-radius: 100%;
            transform: translateY(-75%);
        }

        .topics {
            font-weight: bold;
            color: $clrEjOrange;
        }
        @include media-breakpoint-up(lg) {
            font-size: 21px;

            .delimiter {
                width: 5px;
                height: 5px;
            }
        }
    }

    &__text,
    &__text p {
        font-size: 16px;
        line-height: 1.5;
        @include media-breakpoint-up(lg) {
            font-size: 24px;
        }
    }
}
