.user-picker {
    &__label {
        white-space: nowrap;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    &__item {
        margin-right: 15px;
    }

    &__button {
        width: 30px;
        height: 30px;
        font-size: 20px;
        font-weight: bolder;
        line-height: 0;
        background: #dae2e4;
        border: 0;
        border-radius: 100px;
        cursor: pointer;
    }
}
