.delimiter {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 7px 0 6px;
    background: $clrTextHeading;
    border-radius: 100%;
    transform: translateY(-75%);
}

.topics {
    font-weight: bold;
    color: $clrEjOrange;
}
