<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Tracker" dependencies="Foundation.Serialization" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Core.Ribbon.XConnect" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/XConnect" />
                        <include name="Core.Chunk.XConnect.Contacts" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/XConnect - Contacts" />
                        <include name="Core.Chunk.XConnect.SyncEskelData" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/XConnect - Sync Data" />
                        <include name="Core.Chunk.XConnect.SyncDfloData" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Dflo - Sync Data" />
                        <include name="Core.Strips.XConnect.SyncEskelData" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/XConnect" />
                        
                        <include name="Feature.Analytics" database="master" path="/sitecore/templates/Feature/Analytics" />
                        <include name="Core.ContextMenues.Default.RunImportRegionProfilesTool" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Import Region Profiles Tool" />
                        <include name="Core.ContextMenues.Default.RunExportRegionProfilesTool" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Export Region Profiles Tool" />
                        <include name="Core.ContextMenues.Default.SyncHotelProfileCommand" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Hotel Profile Command" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
