<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="xconnect:synceskeldata" type="easyJet.Feature.Tracker.Commands.SyncEskelData, easyJet.Feature.Tracker" resolve="true"/>
            <command name="xconnect:syncdfloemailsdata" type="easyJet.Feature.Tracker.Commands.SyncDfloData, easyJet.Feature.Tracker" resolve="true"/>
            <command name="xconnect:syncdfloemailbodydata" type="easyJet.Feature.Tracker.Commands.SyncEmailBody, easyJet.Feature.Tracker" resolve="true"/>
            <command name="xconnect:markanonymouscontacts" type="easyJet.Feature.Tracker.Commands.MarkSubscribedAnonymousContacts, easyJet.Feature.Tracker" resolve="true"/>
            
            <command name="item:importregionprofilesprocess" type="easyJet.Feature.Tracker.Commands.Profiles.RunDestinationProfileCardImportCommand, easyJet.Feature.Tracker" resolve="true" />
            <command name="item:exportregionprofilesprocess" type="easyJet.Feature.Tracker.Commands.Profiles.RunDestinationProfileCardExportCommand, easyJet.Feature.Tracker" resolve="true" />
            <command name="item:synchotelprofilesprocess" type="easyJet.Feature.Tracker.Commands.Profiles.SyncHotelProfileCommand, easyJet.Feature.Tracker" resolve="true" />
        </commands>
        <exportingCommandParamList>
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:exportregionprofilesprocess" templateId="{B51BBF4F-D92B-478C-A1BD-08036338E59E}" />
        </exportingCommandParamList>
        <uploadingCommandParamList>
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:importregionprofilesprocess" templateId="{B51BBF4F-D92B-478C-A1BD-08036338E59E}" fileFieldId="{04E4A337-8C08-45B3-81C0-482E5A5AFD30}" csvDelimiter="," />
        </uploadingCommandParamList>

        <events>
            <event  name="item:created">
                <handler type="easyJet.Feature.Tracker.Events.ResortProfileItemEventHandler, easyJet.Feature.Tracker" method="OnItemCreated" resolve="true"/>
                <handler type="easyJet.Feature.Tracker.Events.HotelProfileItemEventHandler, easyJet.Feature.Tracker" method="OnItemCreated" resolve="true"/>
            </event>
        </events>
    </sitecore>
</configuration>