<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Eskel.EndPoint" value="http://172.18.32.239/api/eskel-data/atcom-booking-details" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Eskel.TokenKey" value="Eskel.Token.Test" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Eskel.SolrBatch" value="200" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Dflo.EmailsEndPoint" value="https://10.158.23.12:24507/list/Documents" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Dflo.EmailBodyEndPoint" value="https://10.158.23.12:24507/get" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Dflo.SkipSSLVerification" value="true" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Dflo.BatchFailureLimit" value="3" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Dflo.ResubmissionLimit" value="10" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Dflo.BatchPortion" value="10" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Personalize.ClientKey" value="262ffdbe2e64ebf37cce23351ebb445e" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Personalize.Endpoint" value="https://api-engage-eu.sitecorecloud.io/v2/callFlows" />
        </settings>
    </sitecore>
</configuration>