<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <convertToXConnectEvent>
                <processor patch:before="processor[@type='Sitecore.Analytics.XConnect.DataAccess.Pipelines.ConvertToXConnectEventPipeline.ConvertPageEventDataToGoal, Sitecore.Analytics.XConnect']" type="easyJet.Feature.Tracker.Converters.ConvertHotelDetailsGoal, easyJet.Feature.Tracker" resolve="true" />
            </convertToXConnectEvent>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Feature.Tracker.Pipelines.Personalize.ExperimentsContextDataProcessor, easyJet.Feature.Tracker" resolve="true" />
                    </getLayoutServiceContext>
                </pipelines>
            </group>
        </pipelines>
        <settings>
            <setting name="Eskel.EndPoint" value="#{Sitecore.Eskel.AtcomBookingDetailsEndpoint}" />
            <setting name="Eskel.TokenKey" value="#{Sitecore.Eskel.TokenKey}" />
            <setting name="Eskel.SolrBatch" value="#{Sitecore.Eskel.SolrBatch}" />
            <setting name="Dflo.EmailsEndPoint" value="#{Sitecore.Dflo.EmailsEndpoint}" />
            <setting name="Dflo.EmailBodyEndPoint" value="#{Sitecore.Dflo.EmailBodyEndpoint}" />
            <setting name="Dflo.SkipSSLVerification" value="#{Sitecore.Dflo.SkipSslVerification}" />  
            <setting name="Dflo.BatchFailureLimit" value="#{Sitecore.Dflo.BatchFailureLimit}" />  
            <setting name="Dflo.ResubmissionLimit" value="#{Sitecore.Dflo.ResubmissionLimit}" />  
            <setting name="Dflo.BatchPortion" value="#{Sitecore.Dflo.BatchPortion}" />  
            <setting name="XConnect.BatchSize" value="200" />
            <setting name="Parallel.MaxConcurrentTasks" value="7" />
            <setting name="Personalize.ClientKey" value="#{Sitecore.Personalize.ClientKey}" />
            <setting name="Personalize.Endpoint" value="#{Sitecore.Personalize.Endpoint}" />
        </settings>
    </sitecore>
</configuration>