.logoContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 16px;
    background-color: $colorWhite;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
        padding: 10px;
    }
}

.logoTransparent {
    background-color: transparent;
}

.logo {
    min-width: 90px;
    max-width: 110px;
    height: auto;

    @include media-breakpoint-down(sm) {
        min-width: 65px;
        max-width: 75px;
    }
}
