.multiValueContainer {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    height: 25px;
    margin: 5px 2px;
    padding: 2px 10px;
    border: solid 1px $clrTxtLighter;
    border-radius: 360px;
}
