<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.MicroApps" dependencies="Foundation.*, Feature.*" extends="Helix.Project">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <include name="MicroApps.Templates" database="master" path="/sitecore/templates/Project/MicroApps">
                            <exclude children="true">
								<except name="Shared" />
							</exclude>
                        </include>
                        
                        <include name="MicroApps.Layouts" database="master" path="/sitecore/layout/Layouts/Project/MicroApps">
                            <exclude children="true">
								<except name="Shared" />
							</exclude>
                        </include>
                        
                        <include name="MicroApps.Renderings" database="master" path="/sitecore/layout/Renderings/Project/MicroApps">
                            <exclude children="true">
								<except name="Shared" />
							</exclude>
                        </include>
                        
                        <include name="MicroApps.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/MicroApps">
                            <exclude children="true">
								<except name="Shared" />
							</exclude>
                        </include>
                       
                        <include name="MicroApps.Settings" database="master" path="/sitecore/system/Settings/Project/MicroApps">
                            <exclude children="true">
								<except name="Shared" />
							</exclude>
                        </include>

                        <include name="MicroApps.Media" database="master" path="/sitecore/media library/Project/MicroApps">
                            <exclude children="true">
								<except name="Shared" />
							</exclude>
                        </include>
                        
                        <include name="MicroApps.Shared.Content" database="master" path="/sitecore/content/EasyJet/MicroApps" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>