<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/"
    xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.MicroApps.UserManagement" dependencies="Foundation.*, Feature.*" extends="Helix.Project">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\MicroApps\serialization" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="UserManagement.Content" database="master" path="/sitecore/content/EasyJet/UserManagement"/>
                        <include name="UserManagement.Templates" database="master" path="/sitecore/templates/Project/MicroApps/UserManagement"/>
                        <include name="UserManagement.Layouts" database="master" path="/sitecore/layout/Layouts/Project/MicroApps/UserManagement"/>
                        <include name="UserManagement.Renderings" database="master" path="/sitecore/layout/Renderings/Project/MicroApps/UserManagement"/>
                        <include name="UserManagement.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/MicroApps/UserManagement"/>
                        <include name="UserManagement.Settings" database="master" path="/sitecore/system/Settings/Project/MicroApps/UserManagement"/>
                        <include name="UserManagement.Media" database="master" path="/sitecore/media library/Project/MicroApps/UserManagement"/>

                        <include name="UserManagement.ContentScripts" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Content Sync - User Management"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>