.luggageBanner {
    display: flex;
    justify-content: space-between;
    gap: 86px;
    width: 100%;
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.2;
    padding: 16px 24px !important;

    @include media-breakpoint-down(md) {
        align-items: center;
        gap: 16px;
        padding: 16px !important;

        a {
            width: 100%;
        }
    }
}
