.collapseBtn {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;

    @include media-breakpoint-down(lg) {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid $clrBorderGray;
    }
}

.btnIcon {
    min-width: 20px;
    min-height: 20px;
    margin-left: 10px;
}
