.unordered-list {
    list-style-type: square;
}

.unordered-hidden-item {
    display: none;
}

    .unordered-hidden-item.show {
        display: list-item;
    }

.unordered-list-show-more-btn,
.unordered-list-show-less-btn {
    font-weight: bold;
    cursor: pointer;
}

    .unordered-list-show-more-btn.hide,
    .unordered-list-show-less-btn.hide {
        display: none;
    }

.work-box-container {
    display: flex;
}

    .work-box-container table {
        width: 50% !important
    }

.scWorkBoxData {
    padding-right: 30px;
}