.container {
    align-items: flex-start;

    @include media-breakpoint-up(md) {
        align-items: center;
    }
}

.title {
    margin-bottom: 2px;
    font-weight: 700;
}

.column {
    display: flex;
    flex-direction: column;
}
