.content {
    display: flex;
    flex-direction: column;
    
    @include media-breakpoint-down(md) {
        position: fixed;
        bottom: -1px;
        left: 0;
        width: 100%;
        max-width: 100%;
        max-height: 90%;
        border-radius: 0;
    }

    .body {
        padding: 16px;

        @include media-breakpoint-up(md) {
            padding: 24px;
        }
    }
}

.swipeable .body {
    @include media-breakpoint-down(md) {
        padding-top: 0;
    }
}

.body {
    z-index: $zIndexSuperPopup;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $clrEjOrange;
        border-radius: 2px;
    }
}

.overlay {
    z-index: $zIndexSuperOverlay;
}

.footer {
    z-index: $z-index-popup;
    display: flex;
    align-items: center;
    padding: 24px;
    padding-top: 0;
    background-color: $colorWhite;
    
    @include media-breakpoint-down(md) {
        justify-content: space-between;
        padding: 16px;
        padding-top: 0;

        &.footerShadow {
            padding-top: 16px;
            box-shadow: $generalBoxShadow;
        }

        :global(.btn) {
            max-width: 100%;
        }
    }
}
