.wrapper {
    margin-top: -34px;

    @include media-breakpoint-up(md) {
        margin-top: -100px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: -200px;
    }
}

.content {
    margin-bottom: 38px;
    padding: 0;

    @include media-breakpoint-up(md) {
        margin-bottom: 10px;
        padding: 24px 32px;
        background-color: $clrSiteBgWhite;
        border-radius: 6px;
        box-shadow: $generalBoxShadow;
    }

    @include media-breakpoint-up(lg) {
        padding: 50px 104px;
    }
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-bottom: 16px;
        font-size: 32px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 24px;
        font-size: 36px;
    }
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
        line-height: 1.6;
    }
}
