.pricePill {
    .tooltipTrigger {
        margin-right: 0.6em;
        margin-left: 0;
        color: inherit;
        cursor: pointer;

        svg {
            margin-right: 0;
            color: inherit;
        }
    }
}
