.promotionContainer {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin: 0.5rem 0 1rem;

    .promotionText {
        font-family: $fontRoundedBook;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.05rem;
    }

    @include media-breakpoint-down(xs) {
        gap: 0.188rem;
    }
}