$fullIconSize: 1.75rem;
$smallIconSize: 1.25rem;

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
    }
}

.fraction {
    position: relative;
    flex: 0 0 50%;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
    padding-right: 1.5rem;
    padding-left: calc(1rem + $fullIconSize);
    font-size: 1rem;
    line-height: 1.375rem;

    @include media-breakpoint-down(lg) {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0.625rem 0;
        padding: 0 0 0 2.188rem;
        line-height: 1.375;
    }

    @include media-breakpoint-down(md) {
        font-size: 0.875rem;
    }
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 13.75rem;
    height: 2.625rem;
    min-width: 4.453rem;
    padding: 0.891rem 1.069rem;
    @include media-breakpoint-down(lg) {
        width: 100%;
        margin-top: 20px;
    }
}

.richText {
    padding-top: 1rem;

    @include media-breakpoint-up(md) {
        padding-left: calc(1rem + $fullIconSize); 
    }
}

.svgIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: $fullIconSize;
    height: $fullIconSize;
    fill: $clrEjOrange;
    
    @include media-breakpoint-down(lg) {
        width: $smallIconSize;
        height: $smallIconSize;
    }
}
