.holdLuggageSection {
    margin: 32px 0 56px;

    @include media-breakpoint-down(md) {
        margin: 40px 0;

        .button {
            font-size: 16px;
            line-height: 1.3;
        }
    }
}

.title {
    margin: 0;
    font-family: $fontRoundedHeadline;
    font-size: 24px;
    line-height: 1.16;

    @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 1.1;
    }
}

.subtitle {
    margin: 16px 0;
    line-height: 1.16;
}
