<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="HotelBeds.Endpoint" value="https://api.hotelbeds.com/hotel-content-api/1.0" />
            <setting name="HotelBeds.MediaEndpoint" value="https://photos.hotelbeds.com/giata/original" />
            <setting name="HotelBeds.BatchStep" value="1000" />
            <setting name="HotelBeds.DefaultLanguage" value="ENG" />
            <setting name="HotelBeds.UseSecondaryLanguage" value="true" />
            <setting name="HotelBeds.CacheSize" value="50MB" />
            <setting name="HotelBeds.CacheExpiredInMinutes" value="1440" />
            <setting name="HotelBeds.ImageSizePrefixUrl.Small" value="https://photos.hotelbeds.com/giata/" />
            <setting name="HotelBeds.ImageSizePrefixUrl.Medium" value="https://photos.hotelbeds.com/giata/bigger/" />
            <setting name="HotelBeds.ImageSizePrefixUrl.Large" value="https://photos.hotelbeds.com/giata/xl/" />
            <setting name="HotelBeds.Hotels.SizeOfSubset" value="500" />
            <setting name="HotelBeds.SyncDataService.CacheExpiredInMinutes" value="10" />
            <setting name="HotelBeds.SyncDataService.SyncAccommodationImages" value="false" />
            <setting name="HotelBeds.ExcludeFromSyncImageTypeCodes" value="CON" />
            <setting name="HotelBeds.ImageFixerUser" value="sitecore\ImageFixer" />
            <setting name="HotelBeds.ResyncFacilitiesReportPath" value="/sitecore/system/Reports/Foundation/HotelBeds/Hotel Resync Facilities Report" />
            <setting name="HotelBeds.HbgImagesToS3Sync.S3KeyPrefix" value="hbg" />
            <setting name="HotelBeds.HbgImagesToS3Sync.GetAllHotelsBatchSize" value="500" />
            <setting name="HotelBeds.HbgImagesToS3Sync.ReportPath" value="/sitecore/media library/Files/easyJet Hotel Report Export/HBG Images To S3 Sync Reports" />
            <setting name="HotelBeds.IncludeBoards.Description" value="" />
            <setting name="HotelBeds.LanguageMapping" value="de-DE=ALE;fr-FR=FRA;en=ENG" />
        </settings>
        <commands>
            <command name="item:updateaccommodationsubmenucontainer" type="easyJet.Foundation.HotelBeds.Commands.AccommodationUpdateSubMenuContainerCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:updateaccommodation" type="easyJet.Foundation.HotelBeds.Commands.RunAccommodationUpdateCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:updateaccommodationfacilitiesonly" type="easyJet.Foundation.HotelBeds.Commands.RunAccommodationFacilitiesOnlyUpdateCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:updateaccommodationimagesonly" type="easyJet.Foundation.HotelBeds.Commands.RunAccommodationImagesOnlyUpdateCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:updateaccommodationroomsonly" type="easyJet.Foundation.HotelBeds.Commands.RunAccommodationRoomsOnlyUpdateCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:updateaccommodationroomsonlyforcountry" type="easyJet.Foundation.HotelBeds.Commands.RunAccommodationRoomsOnlyUpdateForCountryCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:updateaccommodationboardsonly" type="easyJet.Foundation.HotelBeds.Commands.RunAccommodationBoardsOnlyUpdateCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:syncfacilitytypologies" type="easyJet.Foundation.HotelBeds.Commands.RunFacilityTypologiesSyncCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:syncfacilitytypegroups" type="easyJet.Foundation.HotelBeds.Commands.RunFacilityGroupsSyncCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:syncfacilitytypes" type="easyJet.Foundation.HotelBeds.Commands.RunFacilitiesSyncCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:synchotelbedsroomtypes" type="easyJet.Foundation.HotelBeds.Commands.RunRoomTypesSyncCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:exportfacilities" type="easyJet.Foundation.HotelBeds.Commands.RunFacilitiesExportCommand, easyJet.Foundation.HotelBeds" resolve="true" />
            <command name="item:resynchotelfacilities" type="easyJet.Foundation.HotelBeds.Commands.RunResyncFacilitesCommand, easyJet.Foundation.HotelBeds" resolve="true" />
        </commands>
        <pipelines>
            <HotelBedsFacilityTypesSyncPipeline>
                <processor type="easyJet.Foundation.HotelBeds.Pipelines.HotelBedsFacilityTypesSyncPipeline.SyncFacilityTypesProcessor, easyJet.Foundation.HotelBeds" resolve="true"/>
            </HotelBedsFacilityTypesSyncPipeline>
            <HotelBedsDestinationsUpdateSyncPipeline>
                <processor type="easyJet.Foundation.HotelBeds.Pipelines.HotelBedsDestinationsUpdateSyncPipeline.SyncDestinationsProcessor, easyJet.Foundation.HotelBeds" resolve="true"/>
            </HotelBedsDestinationsUpdateSyncPipeline>
            <HotelBedsRoomTypesSyncPipeline>
                <processor type="easyJet.Foundation.HotelBeds.Pipelines.HotelBedsRoomTypesSyncPipeline.SyncRoomTypesProcessor, easyJet.Foundation.HotelBeds" resolve="true"/>
            </HotelBedsRoomTypesSyncPipeline>
            <HotelBedsRoomsSyncPipeline>
                <processor type="easyJet.Foundation.HotelBeds.Pipelines.HotelBedsRoomsSyncPipeline.SyncRoomsProcessor, easyJet.Foundation.HotelBeds" resolve="true"/>
            </HotelBedsRoomsSyncPipeline>
            <HotelBedsImagesResyncPipeline>
                <processor type="easyJet.Foundation.HotelBeds.Pipelines.HotelBedsImagesResync.CleanUpBrokenImagesProcessor, easyJet.Foundation.HotelBeds" resolve="true"/>
            </HotelBedsImagesResyncPipeline>
            <HotelBedsHbgImagesToS3SyncPipeline>
                <processor type="easyJet.Foundation.HotelBeds.Pipelines.HbgImagesToS3Sync.HbgImagesToS3SyncProcessor, easyJet.Foundation.HotelBeds" resolve="true"/>
            </HotelBedsHbgImagesToS3SyncPipeline>
        </pipelines>
        <exportingCommandParamList>
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:exportfacilities" templateId="{81BF68AE-91FD-4535-9D77-989773789AB6}" />
        </exportingCommandParamList>
        <uploadingCommandParamList>
            <uploadCommandParam patch:after="uploadCommandParam[last()]" name="resynchotelfacilities" commandName="item:resynchotelfacilities" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{CF76DE30-2248-4C06-A065-EB4B76A9623D}" csvDelimiter="," />
        </uploadingCommandParamList>
    </sitecore>
</configuration>

