<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.HotelBeds" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Core.ContextMenues.Default.UpdateAccommodation" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Update Accommodation" />
                        <include name="Core.ContextMenues.Default.SyncFacilityTypeGroups" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Facility Type Groups" />
                        <include name="Core.ContextMenues.Default.SyncFacilityTypes" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Facility Types" />
                        <include name="Core.ContextMenues.Default.SyncRoomTypesHotelBeds" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Room Types HotelBeds" />
                        <include name="Core.ContextMenues.Default.ResyncHotelFacilities" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Resync Hotel Facilities" />

                        <include name="HotelBeds.Reports" database="master" path="/sitecore/system/Reports/Foundation/HotelBeds" >
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/HotelBeds/Hotel Resync Facilities Report"/>
                        </include>
                        <include name="HotelBeds.Templates"  database="master" path="/sitecore/templates/Foundation/HotelBeds"/>

                        <include name="Core.Launchpad.Buttons.HotelFacilititesResyncReport" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Hotel Facilities Resync Report" />
                        <include name="Core.Apps.HotelFacilityResyncReport" database="core" path="/sitecore/client/Your Apps/easyJet/HotelFacilityResyncReport" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>