.amendmentViewBookingCost {
    background-color: $clrSiteBgGrey;

    .body {
        background-color: $clrSiteBgGrey;
    }

    .feesPopupLink {
        height: initial;
        margin: 0 32px;
        padding: 32px 0;
        border-top: $view-booking-card-border;
    }
}
