@import '../SummaryDetails/SummaryDetails.variables.modules';
@import 'src/styles/configs/fonts.scss';

.title {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
        height: 18px;
        width: 18px;
    }

    h3 {
        font-weight: 400;
        font-family: $fontRoundedDemy;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
        text-transform: none;
        color: $title;
        margin: 0;
    }
}

.itemsContainer {
    margin-top: 8px;
}

.item {
    font-family: $fontRoundedBook;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: $item;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    white-space: normal;
    
    p {
        line-height: 18px;
        font-size: 14px;
        margin: 0 0 4px 0;
    }
}