.transferDuration {
    display: flex;
    align-items: center;
    margin-top: 1em;
    padding-right: 15px;
    font-size: 13px;
    font-weight: bold;

    :global(.more-info) {
      margin-top: 1px;
      margin-left: 7px;
    }
}

.transferDurationIcon {
  flex: 0 0 auto;
  margin-top: -1px;
  margin-right: 6px;
}
