:global(.board-skeleton-container) {
    .card {
        position: relative;
        margin-bottom: 0;
    }

    .body {
        @include media-breakpoint-down(md) {
            margin-bottom: 46px;
            padding-left: 0;
        }

        > div {
            margin-bottom: 8px;
        
            @include media-breakpoint-down(md) {
                margin-bottom: 0;
        
                :global(.placeholder-shimmer) {
                    width: 176px;
                    height: 14px;
                    margin-right: 0;
        
                    &:nth-of-type(2) {
                        width: 222px;
                    }
                }
            }
            
        }
    }
}

.roomsDivider {
    width: 240px;
    height: 24px;
    margin: 16px 0;
    border-radius: 200px;
}
