# IDE
.idea
.vs

# Standard dirs with compilation results
**/bin
**/obj
**/publish
**/out

# Terraform workspaces
**/.terraform

# Avoid including assets, which are not part of the solution
postman
Scripts

# Skip large zip file with cancel booking app
easyJet.Holidays.CancelBookingApp/App/*.zip
