<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <commands>
            <command name="item:footerlinksuploadprocess" type="easyJet.Feature.PageContent.Commands.FooterLinksUploadCommand, easyJet.Feature.PageContent" resolve="true" />
        </commands>
        <uploadingCommandParamList>
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:footerlinksuploadprocess" templateId="{E8DA8930-0BA7-429C-A456-5AF4B1FE5F45}" fileFieldId="{E955D4A3-8756-4E66-AFFB-8F2E9030984B}" csvDelimiter=","/>
        </uploadingCommandParamList>
        
        <linkManager defaultProvider="deepLinkProvider">
            <providers>
                <clear />
                <add name="deepLinkProvider" type="easyJet.Feature.PageContent.Providers.DeepLinkProvider, easyJet.Feature.PageContent"
                     addAspxExtension="false"
                     alwaysIncludeServerUrl="false"
                     encodeNames="true"
                     languageEmbedding="never"
                     languageLocation="filePath"
                     lowercaseUrls="true"
                     shortenUrls="true"
                     useDisplayName="true"
                     resolve="true" />
            </providers>
        </linkManager>

        <processors>
            <saveUI>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Feature.PageContent.Pipelines.SaveUI.PeriodDrivenPageValidationProcessor, easyJet.Feature.PageContent"/>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Feature.PageContent.Pipelines.SaveUI.HealthEntryRequirementValidationProccess, easyJet.Feature.PageContent"/>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Feature.PageContent.Pipelines.SaveUI.HolidaysUnderPillsValidationProcess, easyJet.Feature.PageContent"/>
            </saveUI>
        </processors>
        <settings>
            <setting name="PageContent.AllowedHolidayUnderPillsCount" value="6" />
        </settings>
        <pipelines>
            <easyJet.GetItemUrl>
                <processor type="easyJet.Feature.PageContent.Pipelines.TransparentFolder.RemoveTransparentFolderFromUrlProcessor, easyJet.Feature.PageContent" name="RemoveTransparentFolders" />
            </easyJet.GetItemUrl>
            <easyJet.ResolveItem>
                <processor type="easyJet.Feature.PageContent.Pipelines.ItemResolving.StandardItemResolver, easyJet.Feature.PageContent"></processor>
            </easyJet.ResolveItem>
            <easyJet.ResolvePathToItem>
                <processor type="easyJet.Feature.PageContent.Pipelines.ItemResolving.StandardPathToItemResolver, easyJet.Feature.PageContent"></processor>
                <processor type="easyJet.Feature.PageContent.Pipelines.TransparentFolder.ResolveTransparentFolderProcessor, easyJet.Feature.PageContent" name="ResolveTransparentFolder" />
            </easyJet.ResolvePathToItem>
            <easyJet.ResolvePathToItem.CreateResolveItemResult>
                <processor type="easyJet.Feature.PageContent.Pipelines.ItemResolving.StandardCreateResolveItemResultProcessor, easyJet.Feature.PageContent" name="StandardResultCreator"></processor>
                <processor type="easyJet.Feature.PageContent.Pipelines.ItemResolving.StandardValidatorResultProcessor, easyJet.Feature.PageContent" name="StandardResultValidator"></processor>
            </easyJet.ResolvePathToItem.CreateResolveItemResult>
            <easyJet.ResolvePathToItem.IsValidItem>
                <processor type="easyJet.Feature.PageContent.Pipelines.ItemResolving.StandardItemValidator, easyJet.Feature.PageContent"></processor>
            </easyJet.ResolvePathToItem.IsValidItem>
            <mvc.requestBegin>
                <processor patch:after="*[@type='easyJet.Foundation.Destinations.Pipelines.RequestBegin.HolidayTypesContextItemResolver, easyJet.Foundation.Destinations']" type="easyJet.Feature.PageContent.Pipelines.ItemResolving.ExecuteResolveItemPipeline, easyJet.Feature.PageContent" name="ExecuteResolveItemPipeline" resolve="true" />
            </mvc.requestBegin>
        </pipelines>
    </sitecore>
</configuration>
