<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.PageContent" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="PageContent.Templates" database="master" path="/sitecore/templates/Feature/PageContent"/>
                        <include name="PageContent.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/PageContent"/>
                        <include name="PageContent.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/PageContent"/>
                        <include name="PageStructure.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Page Structure"/>
                        <include name="PageStructure.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Page Structure"/>
                        <include name="PageStructure.Templates" database="master" path="/sitecore/templates/Feature/Page Structure"/>
                        <include name="PageContent.System.Settings" database="master" path="/sitecore/system/Settings/Feature/PageContent"/>
                        <include name="PageContent.ContentResolvers"  database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Feature/PageContent"/>
                        <include name="Core.ContextMenues.Default.RunFooterLinksUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Footer Links Upload" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>