.bannerCard {
    position: relative;
    display: flex;
    height: 100%;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: $generalBoxShadow;

    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -128px;
        width: calc(50% - 85px);
        min-width: 480px;
        height: 200%;
        background: linear-gradient(-102deg, rgba(255, 255, 255, 1), $clrSiteBgWhite 250px);
        transform: rotate(12deg);
        transform-origin: 100% 0;

        @include media-breakpoint-down(md) {
            content: unset;
        }
    }
}

.externalExtrasBanner {
    margin: 0;
}

.bannerCardPartnership {
    margin: 55px 0 54px;

    &::before {
        left: 0;
    }

    @include media-breakpoint-down(md) {
        margin-top: 40px;
    }
}

.bannerCardTwoOrLess {
    @include media-breakpoint-down(md) {
        box-shadow: 0 0 6px 2px $colorAlto;
    }
}

.info .buttonExternal {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 115%;
    border: 1px solid $clrEjOrange;
    border-radius: 2px;

    &:visited {
        color: $clrEjOrange;
        background-color: $colorWhite;
    }

    &:active {
        color: $clrEjOrange;
        background-color: $colorWhite;
    }

    &:hover {
        color: $colorWhite;
        background-color: $clrEjOrange;
    }

    @include media-breakpoint-down(md) {
        &:hover {
            color: $clrEjOrange;
            background-color: $colorWhite;
        }

        &:focus {
            color: $clrEjOrange;
            background-color: $colorWhite;
        }
    }
}

.button {
    display: flex;
    justify-content: center;
    min-width: 216px;
    margin-top: auto;
    padding: 12px 46px;
    font-size: 14px;
    line-height: 1.286;
    border: none;
    border-radius: 0;

    @include media-breakpoint-down(md) {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        line-height: 1.2857;
    }
}

.bg {
    width: 100%;
    background-size: cover;

    @include media-breakpoint-down(md) {
        height: 200px;
    }
}

.bgPartnership {
    background-size: auto;
}

.info {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 290px;
    padding: 16px;
    background-color: $colorWhite;

    @include media-breakpoint-down(md) {
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 26px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(
                -174deg,
                rgba(255, 255, 255, 0) 170px,
                rgba(255, 255, 255, 1) 171px,
                $clrSiteBgWhite 230px
            );
        }
    }

    @include media-breakpoint-down(md) {
        width: auto;
        min-width: unset;
        padding: 19px 15px 27px;
    }
}

.infoPartnership {
    min-width: 400px;
    padding: 38px 0 38px 46px;

    @include media-breakpoint-down(lg) {
        min-width: unset;
    }
}

.subtitle {
    font-size: 18px;
    line-height: 1.67;
    text-transform: uppercase;
}

.title {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: $fontGenerationHeadline;
    font-size: 40px;
    line-height: 1;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }
}

.description {
    margin-top: 5px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 1.2857;
    }
}

.logoContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 16px;
    background-color: $colorWhite;
    border-radius: 4px;

    @include media-breakpoint-down(md) {
        padding: 10px;
    }
}

.logoContainerTransparent {
    background-color: transparent;
}

.logo {
    min-width: 90px;
    max-width: 110px;
    height: 100%;

    @include media-breakpoint-down(md) {
        min-width: 65px;
        max-width: 75px;
    }
}

.logoExternalExtras {
    min-width: 0;
    max-height: 45px;

    @include media-breakpoint-down(md) {
        min-width: 0;
    }
}

.gridBanner {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 0;
    border-radius: 6px;

    &::before {
        content: unset;
    }

    .bg {
        height: 344px;

        @include media-breakpoint-down(lg) {
            height: 255px;
        }

        @include media-breakpoint-down(md) {
            height: 162px;
        }
    }

    .bgPartnership {
        background-size: cover;
    }

    .info {
        flex: 1;
        gap: 34px;
        width: 100%;
        padding: 40px;

        @include media-breakpoint-down(lg) {
            gap: 24px;
            padding: 24px;
        }

        @include media-breakpoint-down(md) {
            gap: 16px;
            padding: 16px;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 170px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(-186deg, transparent 170px, $clrSiteBgWhite 171px, $clrSiteBgWhite 230px);

            @include media-breakpoint-down(lg) {
                top: 84px;
            }

            @include media-breakpoint-down(md) {
                top: -10px;
            }
        }
    }

    .title,
    .description {
        margin: 0;
    }

    .title {
        font-family: $fontRoundedBook;
        font-size: 36px;
        text-transform: uppercase;

        @include media-breakpoint-down(lg) {
            font-size: 24px;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
        }
    }

    .button {
        margin-top: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;

        @include media-breakpoint-down(md) {
            padding: 14px;
        }
    }
}

.gridBanner.singleGridItemOnRow {
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }

    &::before {
        @include media-breakpoint-up(lg) {
            top: 0;
            left: calc(50% - 85px);
            width: 200px;
            height: calc(100% + 50px);
            transform: rotate(17deg);
        }
    }

    .bg {
        @include media-breakpoint-up(lg) {
            height: 373px;
        }
    }

    .bg,
    .info {
        @include media-breakpoint-up(lg) {
            width: 50%;
        }
    }

    .info {
        @include media-breakpoint-up(lg) {
            align-items: flex-start;
            gap: 16px;
            margin: auto;
        }

        &::before {
            @include media-breakpoint-up(lg) {
                top: 0;
                left: 40px;
                background: linear-gradient(-180deg, transparent 170px, $clrSiteBgWhite 171px, $clrSiteBgWhite 230px);
                transform: rotate(107deg);
            }
        }
    }

    .button {
        @include media-breakpoint-up(lg) {
            padding: 11px 36px;
        }
    }
}
