.banner {
    font-family: $fontRoundedDemy;
    font-size: 16px;
    color: $colorWhite;
}

.text {
    margin: 0 0 15px;

    @include media-breakpoint-down(sm) {
        margin: 10px 0;
        font-size: 12px;
        line-height: 18px;
    }
}

.link {
    display: block;
    width: fit-content;
    padding: 10px 16px;
    color: $colorOrange;
    background: $colorWhite;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}
