<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AmazonS3.AcmiBucketName" value="easyjet-holidays-lease-flights-upload-nonprod" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AmazonS3.ImageBucketName" value="ejh-web-dev-images" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AmazonS3.AllowDeleteImagesFromS3" value="true" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="AmazonS3.Region" value="eu-west-1" />
        </settings>
    </sitecore>
</configuration>
