<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.AmazonS3" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="AmazonS3.Reports" database="master" path="/sitecore/system/Reports/Foundation/AmazonS3" >
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/AmazonS3/Hotel Images Report"/>
                        </include>
                        <include name="AmazonS3.Templates"  database="master" path="/sitecore/templates/Foundation/AmazonS3"/>
                        <include name="AmazonS3.UploadFolder"  database="master" path="/sitecore/media library/Bulk Image Import">
                            <exclude children="true" />
                        </include>
                        <include name="Amci.LeaseFlightTool"  database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Lease Flight Tool"/>
                        <include name="Core.Apps.HotelImageReports" database="core" path="/sitecore/client/Your Apps/easyJet/HotelImagesReport" />
                        <include name="Core.ContextMenues.ImportHotelImages" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Import Hotel Images"/>
                        <include name="Core.Ribbons.BulkImageUpload" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Contextual Ribbons/Media/Media/Bulk Image Upload"/>
                        <include name="Core.Ribbons.Chunks.BulkImageUpload" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Bulk Image Upload"/>
                        <include name="Core.Ribbons.Strips.BulkImageUpload" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Home/Bulk Image Upload"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
