<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <commands>
            <command name="item:importhotelimages" type="easyJet.Foundation.AmazonS3.Commands.ImportHotelImagesCommand, easyJet.Foundation.AmazonS3" resolve="true" />
            <command name="item:toggleimporthotelimageskeeporiginal" type="easyJet.Foundation.AmazonS3.Commands.ToggleImportHotelImagesKeepOriginalCommand, easyJet.Foundation.AmazonS3" />
            <command name="item:toggleimporthotelimageskeeporiginalroot" type="easyJet.Foundation.AmazonS3.Commands.ToggleImportHotelImagesKeepOriginalRootCommand, easyJet.Foundation.AmazonS3" />
            <command name="item:bulkimageuploadchunkvisibility" type="easyJet.Foundation.AmazonS3.Commands.BulkImageUploadChunkVisibilityCommand, easyJet.Foundation.AmazonS3" />
            <command name="item:leaseflightsprocess" type=" easyJet.Foundation.AmazonS3.Commands.RunLeaseFlightsUploadCommand, easyJet.Foundation.AmazonS3" resolve="true" />
            <command name="media:batchupload" patch:instead="command[@name='media:batchupload']" type="easyJet.Foundation.AmazonS3.Commands.BatchUploadByPathCommand, easyJet.Foundation.AmazonS3" />
        </commands>
        <exportingCommandParamList>
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:leaseflightsprocess" templateId="{D434F63A-E43F-4329-B825-5E4A95C4B6DE}" />
        </exportingCommandParamList>
        <events>
            <event name="item:deleted">
                <handler type="easyJet.Foundation.AmazonS3.Events.ExternalImageDeleteEventHandler, easyJet.Foundation.AmazonS3" method="OnItemDeleted" resolve="true"/>
            </event>
        </events>
        <settings>
            <setting name="AmazonS3.AcmiBucketName" value="#{Sitecore.Acmi.LeaseFlightsBucket}" />
            <setting name="AmazonS3.ImageBucketName" value="#{Sitecore.Images.BucketName}" />
            <setting name="AmazonS3.ImageSize.Small" value="320" />
            <setting name="AmazonS3.ImageSize.Medium" value="800" />
            <setting name="AmazonS3.ImageSize.Large" value="1024" />
            <setting name="AmazonS3.SitecoreImagesPath" value="/sitecore/media library/Bulk Image Import" />
            <setting name="AmazonS3.BatchUpload.CustomDialogUrl" value="/sitecore/shell/Applications/Media/UploadManager/EasyJetUploadManager.aspx" />
            <setting name="AmazonS3.ReportPath" value="/sitecore/system/Reports/Foundation/AmazonS3/Hotel Images Report" />
            <setting name="AmazonS3.AllowDeleteImagesFromS3" value="#{Sitecore.Images.AllowDelete}" />
            <setting name="AmazonS3.ImageReportLifeSpanInDays" value="10" />
            <setting name="AmazonS3.Region" value="#{Sitecore.Aws.Region}" />
        </settings>
        <pipelines>
            <AmazonS3ImageSyncPipeline>
                <processor type="easyJet.Foundation.AmazonS3.Pipelines.AmazonS3ImageSyncPipeline.ImageProcessor, easyJet.Foundation.AmazonS3" resolve="true"/>
            </AmazonS3ImageSyncPipeline>
            <AmazonS3BatchSyncPipeline>
                <processor type="easyJet.Foundation.AmazonS3.Pipelines.AmazonS3BatchSyncPipeline.BatchSyncProcessor, easyJet.Foundation.AmazonS3" resolve="true"/>
            </AmazonS3BatchSyncPipeline>
            <AmazonS3CleanUpImagesReportPipeline>
                <processor type="easyJet.Foundation.AmazonS3.Pipelines.AmazonS3CleanUpImagesReportPipeline.CleanUpImagesReportProcessor, easyJet.Foundation.AmazonS3" resolve="true"/>
            </AmazonS3CleanUpImagesReportPipeline>
        </pipelines>
        <processors>
            <uiUpload>
                <processor patch:after="processor[@type='Sitecore.Pipelines.Upload.Save, Sitecore.Kernel']" type="easyJet.Foundation.AmazonS3.Pipelines.uiUpload.ImportedImageUploadProcessor, easyJet.Foundation.AmazonS3" resolve="true"/>
            </uiUpload>
        </processors>
        <services>
            <configurator type="easyJet.Foundation.AmazonS3.Infrastructure.AmazonS3ServiceConfigurator, easyJet.Foundation.AmazonS3"/>
        </services>
    </sitecore>
</configuration>
