<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <GeoCodingApiClient type="easyJet.Foundation.Analytics.Services.GeoCodingApiClient, easyJet.Foundation.Analytics" singleInstance="true" resolve="true" />
        <lookupManager defaultProvider="#{Sitecore.LookupManager.DefaultProvider}" >
            <providers>
                <add name="googleLookupProvider" type="easyJet.Foundation.Analytics.Pipelines.Geolocation.GoogleLookupProvider, easyJet.Foundation.Analytics" >
                    <param name="geoCodingApiClient" ref="GeoCodingApiClient" />
                    <param name="geoIpConnector" ref="GeoIpConnector"/>
                    <param name="ipFilter" ref="IpFilter"/>
                </add>
            </providers>
        </lookupManager>
        <settings>
            <setting name="Foundation.Analytics.PerformancePersonalisationConsentCookie" value="EASYJET_ENSIGHTEN_PRIVACY_Performance_and_Personalisation" />
            <setting name="GoogleMaps.BaseEndpoint" value="#{Sitecore.GoogleMaps.GeocodeEndpoint}" />
            <setting name="CES.GeoIp.ForwardedRequestHttpHeader" value="X-Forwarded-For" />
        </settings>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Foundation.Analytics.Pipelines.GetLayoutServiceContext.TrackingIdContextDataProcessor, easyJet.Foundation.Analytics" resolve="true" />
                    </getLayoutServiceContext>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
