<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <marketingAutomation>
      <pluginDescriptorsRepository>
        <plugins>
          <plugin path="./plugins/PushNotification/sendPushNotification.plugin.js" />
        </plugins>
      </pluginDescriptorsRepository>
    </marketingAutomation>
  </sitecore>
</configuration>