.includedLux {
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    padding: 2px 8px;
    color: $colorLuxuryChampagne;
    background: $colorLuxuryBlack;
    border-radius: 2px;
    
    svg {
        @include sizeSquare(12px);
    }
}

.label {
    padding-top: 2px;
    font-family: $fontRoundedDemy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}
