<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" 
               xmlns:search="http://www.sitecore.net/xmlconfig/search/" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <events>
            <event name="item:saved">
                <handler patch:after="processor[@type='Sitecore.Publishing.PartialHtmlCacheClearer, Sitecore.Kernel']" type="easyJet.Foundation.Publishing.ItemEditCounter, easyJet.Foundation.Publishing" method="IncreaseCounter" resolve="true" />
            </event>
            <event name="item:saved:remote">
                <handler patch:after="processor[@type='Sitecore.Publishing.PartialHtmlCacheClearer, Sitecore.Kernel']" type="easyJet.Foundation.Publishing.ItemEditCounter, easyJet.Foundation.Publishing" method="IncreaseCounter" resolve="true" />
            </event>
            <event name="item:deleted">
                <handler patch:after="processor[@type='Sitecore.Publishing.PartialHtmlCacheClearer, Sitecore.Kernel']" type="easyJet.Foundation.Publishing.ItemEditCounter, easyJet.Foundation.Publishing" method="IncreaseCounter" resolve="true" />
            </event>            
            <event name="item:deleted:remote">
                <handler patch:after="processor[@type='Sitecore.Publishing.PartialHtmlCacheClearer, Sitecore.Kernel']" type="easyJet.Foundation.Publishing.ItemEditCounter, easyJet.Foundation.Publishing" method="IncreaseCounter" resolve="true" />
            </event>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.SmartHtmlCacheClearer, Sitecore.Kernel" method="ClearCache" resolve="true">
                    <patch:attribute name="type">easyJet.Foundation.Publishing.SmartHtmlCacheClearer, easyJet.Foundation.Publishing</patch:attribute>
                    <patch:attribute name="method">SmartClearCache</patch:attribute>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.SmartHtmlCacheClearer, Sitecore.Kernel" method="ClearCache" resolve="true">
                    <patch:attribute name="type">easyJet.Foundation.Publishing.SmartHtmlCacheClearer, easyJet.Foundation.Publishing</patch:attribute>
                    <patch:attribute name="method">SmartClearCache</patch:attribute>
                </handler>
            </event>
        </events>
        <scheduling>
            <agent role:require="Standalone or ContentManagement" localenv:require="!Dev" method="Run" type="Sitecore.Tasks.PublishAgent" interval="#{Sitecore.Publishing.Interval}">
                <param desc="source database">master</param>
                <param desc="target database">web</param>
                <param desc="mode (full or smart or incremental)">incremental</param>
                <param desc="languages">#{Sitecore.Publishing.Languages}</param>
            </agent>
        </scheduling>
        <settings>
            <setting name="Publishing.ItemEditCounter.ExcludeItemIds" value="#{Sitecore.Publishing.ItemEditCounter.ExcludeItemIds}" />
        </settings>
        <pipelines role:require="Standalone or ContentManagement" localenv:require="!Dev">
            <publishEndResultBatch>
                <processor type="easyJet.Foundation.Publishing.Pipelines.LogPublishingEndProcessor, easyJet.Foundation.Publishing"
                           patch:after="*[@type='Sitecore.Publishing.Service.Pipelines.BulkPublishingEnd.RaiseRemoteEvents, Sitecore.Publishing.Service']" resolve="true">
                </processor>
            </publishEndResultBatch>
        </pipelines>
    </sitecore>
</configuration>