<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <commands>
            <command name="item:bulkprocess" type="easyJet.Feature.Booking.Commands.RunBulkToolProcessCommand, easyJet.Feature.Booking" resolve="true" />
            <command name="item:stopbulkprocess" type="easyJet.Feature.Booking.Commands.StopBulkToolProcessCommand, easyJet.Feature.Booking" resolve="true" />
        </commands>
        <settings>
            <setting name="Booking.RequestDelay" value="6000" />
            <setting name="Booking.ReportPath" value="/sitecore/media library/Files/Bulk Tool Reports" />
        </settings>
        <exportingCommandParamList>
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:downloadoutput" templateId="{2503E6E5-F50F-426C-AD29-BF22A284287F}" />
        </exportingCommandParamList>
    </sitecore>
</configuration>
