.ratingTitle {
    margin-top: 0;
    color: $colorBlack;
}

.starRatingContainer + .starRatingContainer {
    margin-top: 1rem;
}

:global(.search-filter .filter-group .filter-group__values) {
    .starRatingContainer {
        :global(.rating-block__list .checkbox-item .checkbox--label) {
            display: flex;

            > span {
                font-size: 16px;
            }
        }

        :global(.rating-block__list .checkbox-item .radio .count) {
            font-size: 16px;
        }
    }
}

.lastWord {
    display: inline-block;
    white-space: nowrap;
}

.tooltipTrigger {
    position: relative;
    top: 3px;
}
