.popup {
    :global {
        .popup__dialog {
        }

        .popup__body {
            padding: 0;
        }

        .popup__content {
            width: 420px;
            padding: 24px;
        }
    }

    @include media-breakpoint-down(md) {
        :global {
            .popup__dialog {
                position: absolute;
                bottom: 0;
                align-items: end;
                justify-content: end;
                max-width: 100%;
                margin: 0;
            }

            .popup__body {
                padding: 0;
            }

            .popup__content {
                width: 100%;
                min-height: 415px;
                max-height: 540px;
                padding: 16px;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomSeparator {
    border-bottom: 1px solid $colorGrayMiddle;
}

.content {
    padding: 16px 0;
}

.title {
    margin-bottom: 8px;
    font-family: $fontRoundedBook;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    color: $colorBlackLight;
}

.text {
    font-family: $fontRoundedBook;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.button {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    padding: 12px;
    font-family: $fontRoundedBook;
    font-size: 16px;
    font-weight: 400;
}

.contentText {
    margin-right: 5px;
    font-family: $fontRoundedBook;
    font-size: 18px;
    font-weight: 400;

    > strong {
        font-size: 24px;
        font-weight: 700;
    }
}

.contentExtraText {
    margin-right: 5px;
    font-family: $fontRoundedBook;
    font-size: 16px;
    font-weight: 400;

    > strong {
        font-size: 16px;
        font-weight: 700;
    }
}
