.backButton {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 100%;
    font-family: $fontRoundedDemy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    color: $colorWhite;
    text-align: center;
    background-color: transparent;
    border: none;
}

.arrow {
    width: 24px;
    height: 24px;
    padding: 6px;

    path {
        fill: currentcolor;
        stroke: currentcolor;
        stroke-width: 1.6px;
        stroke-linejoin: round;
        stroke-linecap: round;
        paint-order: stroke fill;
    }
}
