.popup {
    :global {
        .popup__dialog {
            max-width: 600px;
        }

        .popup__body {
            padding: 0;
        }

        .popup__content {
            height: 522px;
            max-height: 522px;
        }
    }
}
