$contradictoryPopupBorder: 1px solid $colorGrayMiddle;

.popupContainer {
    text-align: center;
}

.popupContainer .popupContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;

    @include media-breakpoint-down(md) {
        width: calc(100% - 20px);
    }
}

.popupContainer .popupBody {
    width: 100%;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 40px 0;
    text-align: center;

    @include media-breakpoint-down(md) {
        padding: 16px 0 0;
    }
}

.titleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 24px;
    border-bottom: $contradictoryPopupBorder;

    @include media-breakpoint-down(md) {
        margin-bottom: 0;
        padding-bottom: 16px;
    }
}

.title {
    margin: 0 0 4px;
    font-family: $fontRoundedHeadline;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;

    @include media-breakpoint-down(md) {
        font-size: 22px;
    }
}

.optionTitle {
    margin: 32px 0 12px;
    font-family: $fontRoundedDemy;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    @include media-breakpoint-down(md) {
        margin: 16px 0 8px;
    }
}

.description {
    max-width: 420px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    @include media-breakpoint-down(md) {
        padding: 0 16px;
    }
}

.popupButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 12px;
    padding-top: 12px;
    border-top: $contradictoryPopupBorder;

    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
        margin: 16px 0;
    }

    button {
        width: 228px;
        min-height: 36px;

        @include media-breakpoint-down(md) {
            width: calc(100% - 32px);
            height: 41px;
            margin: 4px 0;
        }
    }
}

.popupOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px 6px 16px;
    font-family: $fontRoundedDemy;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    border-radius: 70px;

    @include media-breakpoint-down(md) {
        padding: 0;
        border-radius: 0;
    }
}

.popupOption.original {
    color: $colorBoulder;
    background-color: $clrSiteBgWhite;
    box-shadow: 0 0 4px rgba($colorBlack, 0.25);

    @include media-breakpoint-down(md) {
        font-family: $fontRoundedBook;
        color: $colorDimGray;
        background-color: $colorTransparent;
        box-shadow: none;
    }
}

.popupOption.new {
    color: $clrSiteBgWhite;
    background-color: $colorBlackMedium;

    @include media-breakpoint-down(md) {
        color: $colorDimGray;
        background-color: transparent;
    }
}
