.booking-failed {
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    .popup__header {
        padding: 50px 0 0;
        border-bottom: none;
    }

    .popup__body {
        padding: 30px 60px 50px;
    }

    .booking-failed__text {
        margin-bottom: 10px;
        color: $clrTextMain;
    }

    .booking-failed__divider {
        height: 12px;
        margin: 20px 0 32px;
        text-align: center;
        border-bottom: 1px solid $colorGrayLight;
    }

    .booking-failed__divider-text {
        padding: 0 8px;
        color: $clrTxtLight;
        text-transform: uppercase;
        background-color: $clrSiteBgWhite;
    }

    .booking-failed__phone {
        margin-bottom: 28px;
    }

    .booking-failed__phone-link {
        font-size: 24px;
        line-height: 32px;
        color: $clrEjOrangeLight;
    }

    .booking-failed__button {
        width: 240px;
    }
}
