.find-booking-popup {
    text-align: left;

    .popup__dialog {
        max-width: 590px;
    }

    .popup__header {
        margin: 0 45px;
        padding: 50px 0 0;
        border: none;
    }

    .popup__body {
        padding: 0 45px 40px;
    }

    .popup__title {
        font-size: 32px;
        line-height: 32px;
    }

    .subtitle {
        margin: 20px 0 40px;
        font-size: 18px;
        line-height: 24px;
    }
}
