.filtersHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    padding: 16px 16px 16px 32px;
    background: #fff;

    :global(.btn) {
        margin-left: auto;
        padding: 0;
        font-family: $fontRoundedDemy;
        font-size: 16px;
        line-height: 20px;
    }

    :global(.filter-count) {
        font-family: $fontRoundedDemy;
        font-size: 17px;
        line-height: 24px;

        display: flex;
        gap: 5px;
    }
}
