.confirmation-checkbox {
    .error-message {
        display: inline-flex;
        margin-top: 20px;
    }

    .checkbox--disabled {
        color: $clrTextMain;
        opacity: .7;
        cursor: default;

        .checkbox__control {
            border-color: $borderColorGrayMiddle;
        }
    }
}

.confirmation-checkbox__region {
    padding: 20px;
    font-size: 14px;
    background-color: rgba(255, 125, 0, 0.1);
    border-radius: $box_border-radius_sm;

    .confirmation-checkbox--large & {
        border-radius: $box_border-radius_bg;

        @include media-breakpoint-up(sm) {
            padding: 30px 25px;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 15px;
        font-size: 13px;

        .checkbox--label {
            padding-left: 8px;
        }
    }
}

.confirmation-checkbox__title {
    margin: 0 0 15px;
    font-family: $fontRoundedBook;
    font-size: 20px;
    font-weight: 700;
    color: $clrTextMain;

    @include media-breakpoint-down(md) {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 1.3;
    }
}
