.flight-info {
    width: 40%;
    color: $clrTextMain;

    h3 {
        margin: 0;
        font-family: $fontRoundedBook;
        font-size: 18px;
        line-height: 22px;
        color: $clrTextMain;
    }

    p {
        margin: 0 0 10px;
        font-family: $fontRoundedBook;
        font-size: 18px;
        color: $clrTextMain;
    }
}
