.page-title {
    font-family: $fontRoundedHeadline;
    font-size: $page-title-font-size;
    font-weight: 700;
    line-height: 1.166;
    color: $clrTextMain;

    @include media-breakpoint-down(md) {
        font-size: $page-title-font-size_sm;
    }
}

.page-title--thin {
    font-weight: 400;
}
