$primary-color: #a9b9bd;
$dark-color: #979797;

.separator {
    height: 1px;
    color: $primary-color;
    background-color: $primary-color;
    border: none;

    &--dark {
        height: 2px;
        color: $dark-color;
        background-color: $dark-color;
    }
}
