.show-more {
    padding: 15px 0;

    .btn {
        font-size: 18px;

        svg {
            width: .8em;
            height: .8em;
            margin-left: 10px;
            vertical-align: -.116em;
        }
    }
}
