.banner {    
    font-size: 18px;
    line-height: 1.2;
    border: 2px solid;
    border-radius: 4px;
}

.text {
    padding: 12px 24px;
    font-weight: 700;

    @include media-breakpoint-down(md) {
        padding: 8px 16px;
    }
}
