$clrSiteBgWhite: #fff;
$clrSiteBgGrey: #f1f5f6;
$clrEjOrangeLight: #ff7d00;
$clrEjOrange: #f60;
$clrEjOrangeDark: #f50;
$clrEjOrangeShadow: #d84c00;
$clrEjOrangeDarkShadow: #ff4600;
$clrTextHeading: #000;
$clrTextMain: #333;
$clrTextMainLight: #535353;
$clrTxtLight: #7c7c7c;
$clrTxtLighter: #aaa;
$clrBorderGray: #d8d8d8;
$shadowColor: rgba(0, 0, 0, 0.21);
$blackShadowColor: rgba(0, 0, 0, 0.5);
$lightShadowColor: rgba(0, 0, 0, 0.13);
$softShadowColor: rgba(51, 51, 51, 0.15);

// -----------------------------

$colorGrayBorder: #4d5051;
$colorBlackLight: #333;
$colorBlackMedium: #666;
$colorBlack: #000;
$colorBlackShadow: #00000021;
$colorBoulder: #767676;
$colorSilverDarkSeparator: #8f9496;
$colorSilver: #b8b8b8;
$colorWhite: #fff;
$colorOrange: #f60;
$colorGrayMedium: #d3d3d3;
$colorGrayMediumDark: #c0c0c0;
$colorGrayDark: #cbd5d8;
$colorGray: #dae2e4;
$colorGrayLight: #e5e5e5;
$colorGrayLighter: #f1f5f6;
$colorBlackLighter: #515151;
$colorPorcelain: #f5f7f8;
$colorSilverDark: #b2b2b2;
$colorDimGray: #686868;
$colorMidnightGray: #898989;
$colorMercury: #e4e4e4;
$colorGeyser: #d7e2e5;
$colorGeyserLight: #f2f5f6;
$colorAlto: #ddd;
$colorDustyGrey: #999;
$colorSilverChalice: #afafaf;
$colorGreenLight: #f2fdee;
$colorIron: #e1e3e5;
$clrErrorBg: rgba(255, 0, 0, 0.1);
$clrErrorShadow: rgba(255, 0, 0, 0.3);
$colorRed: #f00;
$colorSystemError: #b00020;
$colorGrayMiddle: #ccc;
$colorScrollTrackGray: #d9d9d9;
$borderColorGrayMiddle: #a9b9bd;
$borderColorGray: #dde4e6;
$colorGreen: #55a446;
$colorGreenSuccess: #03a947;
$colorGreenLight: #f0feed;
$colorGreenLight2: #d2f2dd;
$colorGreenBadgeBg: #ebf2da;
$colorGreenBadgeText: #367c00;
$colorBlueDark: #005bbf;
$colorGreenDark: #1bae67;
$colorBlue: #005abe;
$colorBlue2: #1c6dc5;
$colorBlueGray: #d0e4ed;
$colorBlueGray2: #e1f2fa;
$colorBlueLight: #09f;
$colorTransparent: rgba(255, 255, 255, 0);
$colorYellowSuperLight: #fff5e6;
$colorYellow: #ffca00;
$colorYellow2: #f8ce5d;
$colorYellow3: #ffc838;
$colorYellowLight: #f9d147;
$colorDisabled: $colorDustyGrey;
$colorTripadvisor: #00aa6c;
$colorTripadvisorLight: #34e0a1;
$colorLightBlue: #09f;
$colorConcrete: #f2f2f2;
$colorWhiter: #eee;
$colorTiara: #cfd8da;
$colorUrgencyRed: #eb3223;
$colorLightGreen: #cdeeda;
$colorLinen: #fff0e6;
$colorProofingOrange: #e87a00;
$colorLuxuryOrange: #ff6602;
$colorLuxuryYellow: #f2c173;
$colorLuxuryWhiteTitle: #fafafa;
$colorLuxuryWhiteSubtitle: #f1f1f1;
$colorLuxuryBlack: #2d333c;
$colorLuxuryBlackDark: #1a1c1f;
$colorLuxuryChampagne: #ffc992;
$colorInteractiveActive: #cc3700;
$colorSurfaceDisabled: #6a6d6f;
$colorDisabledLight: #eaf0f2;
$colorRedFphDiscount: #DC0E0E;

// Header
$ejhGradient: linear-gradient(0deg, rgba(255, 125, 0, 0.15) 0%, rgba(255, 125, 0, 0.15) 100%),
    linear-gradient(270deg, #fa9a00 54.12%, $clrEjOrange 100%);
$tradeGradient: linear-gradient(90deg, $clrEjOrange 0%, $clrEjOrangeLight 101.82%);
$tradeAccountGradient: linear-gradient(90deg, $clrEjOrangeLight 0, $clrEjOrange 100%);

// Filter
$orangeFilter: brightness(0) saturate(100%) invert(40%) sepia(100%) saturate(1000%) hue-rotate(-10deg) contrast(160%); // Orange: #f60

$luxuryThemeGradient: linear-gradient(90deg, $colorLuxuryOrange 49.93%, $colorLuxuryYellow 74.96%);
$luxuryNewThemeGradient: linear-gradient(315deg, $colorLuxuryYellow 0%, $colorOrange 100%);
