$fontGenerationHeadline: 'easyjet_generation_headline', Arial, Helvetica, sans-serif;
$fontRoundedHeadline: 'easyjet_rounded_headline', Arial, Helvetica, sans-serif;
$fontRoundedBook: 'easyjet_rounded_book', Arial, Helvetica, sans-serif;
$fontRoundedDemy: 'easyjet_rounded_demi', Arial, Helvetica, sans-serif;
$fontRoundedLight: 'easyjet_rounded_light', Arial, Helvetica, sans-serif;
$fontRoboto: 'Roboto', Arial, Helvetica, sans-serif;
$fontUnboundedSans: 'unbounded_sans_w_bd', Arial, Helvetica, sans-serif;
