// typography
$body_color: $clrTextMain;
$body_font-family: $fontRoundedBook;
$body_font-size: 16px;
$body_line-height: 1.5;
$body_font-size_mobile: 14px;

// border radius
$border-radius_none: 0;
$box_border-radius_sm: 2px;
$box_border-radius_md: 4px;
$box_border-radius_bg: 6px;
$box_border-radius_round: 50%;

// animation
$animationDuration: 400ms;
$animationDurationFast: 150ms;

// Container
$container-max-width: 1200px;
$container-padding-x_mobile: 15px;

// Page Title
$page-title-font-size: 40px;
$page-title-font-size_sm: 24px;

// Booking Card Title (sm - mobile styles)
$booking-card-padding: 50px 35px;
$booking-card-padding_sm: 15px;

// Holday Summary Item
$holiday-summary-item_padding-left: 66px;
$holiday-summary-item_padding-left_sm: 40px;
$holiday-summary-item_icon-size: 36px;
$holiday-summary-item_icon-size_sm: 24px;

// Search Pod
$search-pod-form-control_height: 48px !default;
$search-pod-form-control_border-radius: $box_border-radius_md !default;

// Promo Blocks
$promo-blocks-gutter: 20px;

// Masonry carousel
$masonry-row_height: 270px;

// View booking
$view-booking-card-padding: 20px;
$view-booking-card-border: 1px solid $colorMercury;
$view-booking-card-border-radius: 3px;

// Seat Map
$seat-map-bar-height: 66px;
$seat-map-bar-height--mobile: 62px;

// z-indexes
$z-index-negative: -1;
$z-index-element: 1;
$z-index-over-element: 2;
$z-index-dropdown: 4;
$z-index-tooltip: 5;
$z-index-fixed: 10;
$z-index-menu: 15;
$z-index-popup: 1050;
$zIndexSuperOverlay: 1051;
$zIndexSuperPopup: 1060;
$zIndexMapButtons: 301;
$zIndexMapLoaderOverlay: 302;
$zIndexMapLoaderAnimation: 303;
$zIndexCardTooltip: 9;

// Box shadow
$lightCardShadow: 0 0 4px 0 $shadowColor;
$cardShadow: 0 0 12px 2px $shadowColor;
$generalBoxShadow: 0 0 12px 2px $lightShadowColor;
$panelShadow: 0 0 4px rgba(0, 0, 0, 0.25);
