.leftAlignedTitle {
    text-align: start;
    padding-inline-start: 60px;

    @include media-breakpoint-down(md) {
        margin-bottom: 24px;
        padding-inline-start: 0;
    }
}

.noTitle {
    padding-top: 8px;
}
