.capitalize {
    text-transform: capitalize;
}

.primary {
    display: flex;
    min-width: 220px;
    min-height: 48px;
    max-height: 56px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: $clrEjOrange;

    font-size: 16px;
    font-family: $fontRoundedDemy;
    font-weight: 400;

    &:hover {
        background-color: $clrEjOrangeShadow;
    }
}

.secondary {
    display: flex;
    min-width: 220px;
    min-height: 48px;
    max-height: 56px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    border: 2px solid $clrEjOrange;

    font-size: 16px;
    font-family: $fontRoundedDemy;
    font-weight: 400;

    &:hover {
        color: $colorWhite;
        background-color: $clrEjOrange;
    }
}
