<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <settings>
            <setting name="AwsDynamoDb.Tables.EmailMessages" value="#{Sitecore.Delta.EmailMessagesTable}" />
            <setting name="AwsDynamoDb.Tables.LiveChatMessages" value="#{Sitecore.Delta.LiveChatMessagesTable}" />
            <setting name="AwsDynamoDb.Tables.SingleUsePromocodes" value="#{Sitecore.Voucherify.SingleUserPromoCodeTable}" />
            <setting name="AwsDynamoDb.Region" value="#{Sitecore.Aws.Region}" />
        </settings>
        <services>
            <configurator type="easyJet.Foundation.DynamoDb.Infrastructure.AwsDynamoDbServiceConfigurator, easyJet.Foundation.DynamoDb"/>
        </services>
    </sitecore>
</configuration>
