<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <log4net>
            <appender name="AmazonSqsFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
                <file value="$(dataFolder)/logs/easyJet.Foundation.AmazonSqs.log.{date}.{time}.txt" />
                <appendToFile value="true" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
                </layout>
                <encoding value="utf-8" />
            </appender>
            <logger name="easyJet.Foundation.AmazonSqs.Logger" additivity="false">
                <level value="INFO" />
                <appender-ref ref="AmazonSqsFileAppender" />
            </logger>
        </log4net>
    </sitecore>
</configuration>
