.noMargin {
    margin: 0 !important;
}

.noMarginTop {
    margin-top: 0 !important;
}

.tilesContainer.carouselContainer {
    display: flex;

    .carouselItem {
        margin: 0 30px;
    }

    .defaultCarouselItem {
        width: auto;
    }
}

.tile {
    word-break: break-word;
}
