<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Project.Holidays.Content" dependencies="Foundation.*, Feature.*" extends="Helix.Project">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\Holidays.Content\serialization" useDataCache="false" singleInstance="true" />

                    <!--This is an example of how to configure a Unicorn configuration that overrides the default Evaluator
					    (the code that decides what to do when item differences are found) so that instead of having the disk be the master
					    and all changes syncing to that state, only brand new items are synced. Existing items, deleted items, or changed items
					    are ignored because we've overridden the default Evaluator.-->
                    <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true" />

                    <!--Note: when using custom evaluators keep Transparent Sync OFF for those configurations (the line below).
						Transparent Sync operates by reading from the serialization store directly.
						In other words transparent sync always acts like SerializedAsMasterEvaluator because disk is literally the master.
						See https://github.com/kamsar/Unicorn/wiki/The-Transparent-Sync-Guide-->
                    <dataProviderConfiguration enableTransparentSync="false" />

                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <!-- Commands and Schedules commented to avoid overrides on PROD -->
                        <!-- Moved from Atcom Module to support DeployOnce option -->
                        <include name="Atcom.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/Atcom"/>
                        <include name="Atcom.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/Atcom"/>

                        <!-- Commands and Schedules commented to avoid overrides on PROD -->
                        <!-- Moved from HotelBeds Module to support DeployOnce option -->
                        <include name="HotelBeds.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/HotelBeds"/>
                        <include name="HotelBeds.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/HotelBeds"/>

                        <include name="AmazonS3.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/AmazonS3"/>
                        <include name="AmazonS3.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/AmazonS3"/>

                        <!-- Commands and Schedules commented to avoid overrides on PROD -->
                        <!-- Moved from Multisite Module to support DeployOnce option -->
                        <include name="Multisite.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/Multisite"/>
                        <include name="Multisite.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/Multisite"/>

                        <!-- Moved from TripAdvisor Module to support DeployOnce option -->
                        <include name="TripAdvisor.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/TripAdvisor"/>
                        <include name="TripAdvisor.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/TripAdvisor"/>

                        <include name="Redirects.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Feature/Redirects"/>
                        <include name="Redirects.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Feature/Redirects"/>

                        <!-- Modules - used for tracking alerady executed PowerShell content scripts -->
                        <include name="Holidays.Modules" database="master" path="/sitecore/system/Modules/Update Scripts"/>

                        <!-- Modules - used for tracking alerady executed PowerShell content scripts -->
                        <include name="Holidays.Scripts.Content" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Content Sync">
                            <exclude path="/sitecore/system/Modules/PowerShell/Script Library/Content Sync/Archive"/>
                        </include>

                        <!-- Media - Keep untill provide an example of how to deliver images via PowerShell Extensions -->
                        <include name="Holidays.Content.Media" database="master" path="/sitecore/media library/Project/Holidays/Default" />

                        <!-- Moved from SiteModes Module to support DeployOnce option -->
                        <include name="SiteModes.System.Settings" database="master" path="/sitecore/system/Settings/Foundation/SiteModes"/>

                        <!-- Goals -->
                        <!-- Moved from Foundation.Presentation Module to support DeployOnce option -->
                        <include name="Presentation.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/easyJet Holidays" />

                        <!-- Bulk Tool commands -->
                        <!-- Moved from Feature.Booking to support DeployOnce option -->
                        <include name="Core.ContextMenues.Default.RunBulkToolProcess" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Bulk Tool Process" />
                        <include name="Core.ContextMenues.Default.StopBulkToolProcess" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Stop Bulk Tool Process" />
                        
                        <include name="Core.ContextMenues.MoveHotels" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Move Hotels to Neighbourhood Resorts" />

                        <!-- Profiles -->
                        <!-- Moved from Foundation.Tracking to support DeployOnce option -->
                        <include name="Destinations.Profiles.HotelThemes" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/easyJet Holidays/Hotel Themes" />

                        <!--Content Sync Module-->
                        <include name="Modules.UpdateScripts" database="master" path="/sitecore/templates/Modules/Update Scripts" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>