.wrapper {
    width: 100%;
}

.main {
    position: relative;
    width: 100%;
    min-height: 660px;
}

.blur {
    position: absolute;
    inset: 0;
    background-color: white;
    filter: blur(7px);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(51, 51, 51, 0.3);
    }

    @media (width <= 2000px) {
        display: none;
    }
}

.image {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;
    max-width: 2000px;
    text-align: center;
}

.content {
    position: relative;
    max-width: 1230px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 40px 15px;
    display: flex;
    justify-content: space-between;
}

.btnWrapper {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-family: $fontRoundedDemy;
    width: fit-content;

    &.larger {
        padding: 10px 16px;

        .expand {
            padding: 0;
        }
    }

    .expand {
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin: 0;
        border: none;

        svg {
            @include sizeSquare(20px);
        }

        .text {
            font-size: 14px;
            margin-left: 12px;
            color: $clrTextMain;
        }
    }

    .play {
        display: flex;
        align-items: center;
        margin-left: 12px;
        padding: 0;

        .text {
            font-size: 14px;
            margin: 0 16px 0 12px;
            color: $clrTextMain;
        }

        &:before {
            content: '';
            width: 1px;
            height: 34px;
            background-color: $clrTextMain;
        }
    }

    .expand,
    .play {
        font-size: 14px;
        cursor: pointer;
        border: none;
        background: none;

        path {
            fill: $clrTextMain;
        }
    }

    .triangle {
        width: 0;
        height: 0;
        border-top: 13.5px solid transparent;
        border-bottom: 13.5px solid transparent;
        border-left: 27px solid $clrTextMain;
    }
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardWrapper {
    width: 360px;
}

.carouselWrapper {
    position: relative;
    width: 100%;
    padding: 20px 0 5px 0;
    background-color: $colorGrayLighter;
}

.carousel {
    position: relative;
    max-width: 1230px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}
