.pill {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 2px 8px;
    background-color: $colorWhite;
    border-radius: 4px;
    cursor: default;

    @include media-breakpoint-down(md) {
        padding: 0 8px;
        border-radius: 4px;
    }
}

.pillText {
    display: inline-flex;
    gap: 2px;
    font-family: $fontRoundedDemy;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.6;
}

.pillLeft {
    right: auto;
    left: 0;
}

.tooltip {
    text-underline-offset: 3px;
}
