.wrapper {
    @include sizeSquare(24px);

    display: flex;
    align-items: center;
    justify-content: center;
    background: $colorLuxuryOrange;
    border-radius: 50%;
    padding: 3px 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: $fontRoundedBook;
}
