<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="easyJet.BeCause.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/BeCause Settings" />
            <setting name="easyJet.BeCause.CustomIdentifierId" value="#{Sitecore.BeCause.CustomIdentifierId}" />
            <setting name="easyJet.BeCause.Endpoint" value="#{Sitecore.BeCause.Endpoint}" />
            <setting name="easyJet.BeCause.Enabled" value="#{Sitecore.BeCause.Enabled}" />
            <setting name="easyJet.BeCause.CertificationTags" value="#{Sitecore.BeCause.CertificationTags}" />
        </settings>
        <commands>
            <command name="item:syncecocertificates" type="easyJet.Foundation.BeCause.Commands.CertificateSynchronisationCommand, easyJet.Foundation.BeCause" resolve="true"/>
        </commands>
        <pipelines>
            <PushHotelDataPipeline>
                <processor type="easyJet.Foundation.BeCause.Pipelines.PushHotelDataPipeline.PushHotelDataProcessor, easyJet.Foundation.BeCause" resolve="true"/>
            </PushHotelDataPipeline>
            <SyncEcoCertificatesPipeline>
                <processor type="easyJet.Foundation.BeCause.Pipelines.SyncEcoCertificatesPipeline.SyncEcoCertificatesProcessor, easyJet.Foundation.BeCause" resolve="true"/>
            </SyncEcoCertificatesPipeline>
        </pipelines>
    </sitecore>
</configuration>
