.nameValidation {
    margin-top: -32px;
    margin-bottom: 20px;

    p {
        font-size: 12px;
        color: $colorBlack;

        a {
            font-family: $fontRoundedDemy;
        }
    }
}

.characterInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0;
}

.characterInfo--error {
    margin-bottom: -15px;

    p {
        color: $colorRed !important;
    }
}
