.maxGuestsError {
    align-self: center;
    width: calc(100% - 6px); // for shadow

    @include media-breakpoint-down(md) {
        width: auto;
        margin-top: 0 !important;
        margin-right: 16px !important;
        margin-left: 16px !important;
    }
}
