.articlesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 30px;

    @include media-breakpoint-up(lg) {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 0;
    }
}
