<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.PushNotification" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="PushNotification.Activity" database="master" path="/sitecore/system/Settings/Analytics/Marketing Automation/Activity Types/Send Push Notification" />
                        <include name="PushNotification.Channel" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Channel/Online/Automation programs/Web Push Notification automation" />
                        <include name="PushNotification.XConnectRule" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - Contact Personal Details/Where Contact is subscribed for Web Push" />
                        <include name="PushNotification.MarketingAutomationTemplate" database="master" path="/sitecore/system/Marketing Control Panel/Marketing Automation Templates/Push Notification" />
                        <include name="PushNotification.ContactList" database="master" path="/sitecore/system/Marketing Control Panel/Contact Lists/Push Notification Registration List-729aa178-ad29-46fb-8317-1df3b65a3a09" />
                        <include name="PushNotification.AbandonBasketCampaing" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Abandon basket campaign-800f04e4-eb3b-4200-8782-ad7747a027f0" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
