.singleColumn {
    @include media-breakpoint-down(md) {
        height: 100%;
    }
}

.item {
    @include media-breakpoint-down(md) {
        flex: 1;
        max-height: none;
    }
}
