<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="xconnect:cleancontacts" type="easyJet.Foundation.XConnect.Common.Commands.CleanContactsCommand, easyJet.Foundation.XConnect.Common" resolve="true"/>
            <command name="xconnect:cleaninteractions" type="easyJet.Foundation.XConnect.Common.Commands.CleanInteractionsCommand, easyJet.Foundation.XConnect.Common" resolve="true"/>
        </commands>
    </sitecore>
</configuration>