<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.XConnect.Common" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Rules.Bookings" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - Bookings"/>
                        <include name="Rules.Destinations" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - User Search"/>
                        <include name="Rules.Destinations.ElementsGroup" database="master" path="/sitecore/system/Settings/Rules/Definitions/ElementGroups/User Search"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>