<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.SitecoreEnhancment" dependencies="Foundation.Serialization" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Core.Types.ImageWithFocalPoint" database="core" path="/sitecore/system/Field types/Simple Types/Image with Focal Point" />
                        <include name="Core.ListTypes.MutliRootTreelistEx" database="core" path="/sitecore/system/Field types/List Types/Multi Root TreelistEx" />
                        <include name="Core.ListTypes.TreeListWithSearch" database="core" path="/sitecore/system/Field types/List Types/Treelist with Search" />
                        <include name="Core.ListTypes.OrderedList" database="core" path="/sitecore/system/Field types/List Types/Ordered List" />
                        <include name="Core.ListTypes.RenderingMapping" database="core" path="/sitecore/system/Field types/List Types/Rendering Mapping" />
                        <include name="Core.App.WorkboxForm" database="core" path="/sitecore/content/Applications/Content Editor/Applications/WorkboxForm" />
                        <include name="Core.App.WorkboxLaunchPadButton" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/ContentEditing/Workbox" />
                        <include name="Core.Launchpad.Buttons.Reports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports">

                            <exclude children="true" />
                        </include>
                        <include name="Core.ContextMenues.ForceRepublish" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Force Republish" />
                        <include name="Core.ContextMenues.GenerateContentSyncScript" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Generate Content Sync Script" />
                        <include name="Core.Ribbon.Versions.VersionNames" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Versions/Version Names" />
                        <include name="Core.Ribbon.Chunks.ECP" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Experience Context Provider" />
                        <include name="Core.Ribbon.Strips.ECP" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Experience Context Provider" />
                        <include name="Core.Ribbon.Defaults.ECP" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Experience Context Provider" />

                        <include name="Core.Preferences.Labels" database="core" path="/sitecore/client/Applications/ExperienceProfile/Common/System/Texts/Preferences" />
                        <include name="Core.Preferences.DetailsPanel" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/Details/DetailsPanel" />
                        <include name="Speak.ExperienceProfile.Bookings.Styling" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/BookingTabStyle"/>
                        <include name="Speak.ExperienceProfile.Bookings.Tab" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/Bookings"/>
                        <include name="Speak.ExperienceProfile.Emails.Styling" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/EmailsTabStyle"/>
                        <include name="Speak.ExperienceProfile.Emails.Tab" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/Emails"/>
                        <include name="Speak.ExperienceProfile.ChatBotMessages.Tab" database="core" path="/sitecore/client/Applications/ExperienceProfile/Contact/PageSettings/Tabs/ChatBotMessages"/>
                        <include name="System.Layout.Caching" database="master" path="/sitecore/templates/System/Layout/Sections/Caching">
                            <exclude children="true" />
                        </include>
                        <include name="System.Layout.Caching.Options" database="master" path="/sitecore/templates/System/Layout/Sections/Advanced Caching" />
                        <include name="Powershell.CopyToMultipleTargets" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE/Copy To Multiple Locations" />
                        <include name="Powershell.ContentReordering" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SPE/Content Reordering" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
