<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <controlSources>
            <source mode="on" namespace="easyJet.Feature.SitecoreEnhancment.Fields" assembly="easyJet.Feature.SitecoreEnhancment" prefix="easyjet"/>
            <source mode="on" namespace="easyJet.Feature.SitecoreEnhancment.CustomFields.FieldTypes" assembly="easyJet.Feature.SitecoreEnhancment" prefix="easyjet"/>
        </controlSources>
        <fieldTypes>
            <fieldType name="rendering mapping"
                       type="easyJet.Feature.SitecoreEnhancment.Fields.RenderingMappingField, easyJet.Feature.SitecoreEnhancment"
                       control="easyjet:RenderingMappingEditor"
                       icon="Applications/32x32/table.png"/>
        </fieldTypes>
    </sitecore>
</configuration>
