<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="ExperienceProfileContactViews">
                <pipelines>
                    <speakbookings>
                        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.Bookings.ConstructBookingsDataTableProcessor, easyJet.Feature.SitecoreEnhancment" />
                        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.Bookings.GetBookingsProcessor, easyJet.Feature.SitecoreEnhancment" resolve="true" />
                        <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
                        <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
                    </speakbookings>
                    <speakemails>
                        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.EmailsList.ConstructEmailsDataTableProcessor, easyJet.Feature.SitecoreEnhancment" />
                        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.EmailsList.GetEmailsProcessor, easyJet.Feature.SitecoreEnhancment" resolve="true" />
                        <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
                        <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
                    </speakemails>
                    <speakchatbotmessages>
                        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.ChatBotMessages.ConstructChatBotMessagesDataTableProcessor, easyJet.Feature.SitecoreEnhancment" />
                        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.ChatBotMessages.GetChatBotMessagesProcessor, easyJet.Feature.SitecoreEnhancment" resolve="true" />
                        <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
                        <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
                    </speakchatbotmessages>
                </pipelines>
            </group>
        </pipelines>
        <experienceProfile>
            <resultTransformManager>
                <resultTransformProvider>
                    <intelResultTransformers>
                        <add viewName="speakbookings" type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.Common.GenericActionResultTransformer, easyJet.Feature.SitecoreEnhancment"/>
                        <add viewName="speakemails" type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.Common.GenericActionResultTransformer, easyJet.Feature.SitecoreEnhancment"/>
                        <add viewName="speakchatbotmessages" type="easyJet.Feature.SitecoreEnhancment.Pipelines.ContactFacets.Common.GenericActionResultTransformer, easyJet.Feature.SitecoreEnhancment"/>
                    </intelResultTransformers>
                </resultTransformProvider>
            </resultTransformManager>
        </experienceProfile>
    </sitecore>
</configuration>