<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <!--5 minutes-->
            <setting name="UnorderedListControl.NumberOfItemsToShowFromStart" value="5"/>
            <setting name="Workbox.DictionaryXpath" value="workbox_dictionary/dictionary"/>
            <setting name="ForceRepublish.RootPath" value="/sitecore/content/EasyJet"/>
            <setting name="EnvironmentHint.Font.Color" value="#{Sitecore.EnvironmentHint.FontColor}"/>
            <setting name="EnvironmentHint.Background.Color" value="#{Sitecore.EnvironmentHint.BackgroundColor}"/>
            <setting name="EnvironmentHint.EnvironmentName" value="#{Sitecore.EnvironmentHint.Text}"/>
            <setting name="EnvironmentHint.Paths" value="~/sitecore/login/default.aspx|~/sitecore/shell/default.aspx|~/sitecore/shell/applications/Content Manager/default.aspx"/>
            <setting name="GenerateContentSyncScripts.RootPath" value="/sitecore/content/"/>
            <setting name="GenerateContentSyncScripts.IsEnabled" value="False" localenv:require="Production"/>
            <setting name="GenerateContentSyncScripts.IsEnabled" value="True" localenv:require="!Production"/>
            <setting name="VersionNames.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/Version Names Settings" />
        </settings>
        <controlSources>
            <source assembly="easyJet.Feature.SitecoreEnhancment" namespace="easyJet.Feature.SitecoreEnhancment.HtmlControls" prefix="html" mode="on"/>
            <source patch:before="*[@namespace='Sitecore.Shell.Applications.ContentEditor']" mode="on" namespace="easyJet.Feature.SitecoreEnhancment.CustomFields.FieldTypes" assembly="easyJet.Feature.SitecoreEnhancment" prefix="content"/>
            <source mode="on" namespace="Sitecore.Web.UI.XmlControls" folder="/sitecore/shell/Applications/easyJet" deep="true"/>
        </controlSources>
        <commands>
            <command name="item:unclone" type="easyJet.Feature.SitecoreEnhancment.Commands.Unclone, easyJet.Feature.SitecoreEnhancment"/>
            <command name="item:uncloneitem" type="easyJet.Feature.SitecoreEnhancment.Commands.UncloneSingleItem, easyJet.Feature.SitecoreEnhancment"/>
            <command name="item:forcerepublishsubmenu" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishSubMenuContainerCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:forcerepublishsubmenusingle" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishSubMenuContainerSingleItemCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:forcerepublishsubmenutree" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishSubMenuContainerTreeCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:forcerepublishsingleitemalllanguages" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishSingleItemAllLanguagesCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:forcerepublishsingleitemcurrentlanguage" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishSingleItemCurrentLanguageCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:forcerepublishtreealllanguages" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishTreeAllLanguagesCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:forcerepublishtreecurrentlanguage" type="easyJet.Feature.SitecoreEnhancment.Commands.ForceRepublishTreeCurrentLanguageCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="item:generatecontentsyncscript" type="easyJet.Feature.SitecoreEnhancment.Commands.GenerateContentSyncScriptCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
            <command name="contenteditor:showversionsgallery" type="easyJet.Feature.SitecoreEnhancment.Commands.ShowVersionsGalleryCommand, easyJet.Feature.SitecoreEnhancment"/>
            <command name="item:resolveallowedrenderings" type="easyJet.Feature.SitecoreEnhancment.Commands.ResolveAllowedRenderingsCommand, easyJet.Feature.SitecoreEnhancment" resolve="true"/>
        </commands>
        <workbox_dictionary>
            <dictionary type="easyJet.Feature.SitecoreEnhancment.Workbox.WorkboxDictionary, easyJet.Feature.SitecoreEnhancment">
                <entries hint="raw:AddEntries">
                    <entry key="Resort" value="Update to geography location"/>
                </entries>
            </dictionary>
        </workbox_dictionary>
        <fieldTypes>
            <!-- Custom Types -->
            <fieldType name="Image with Focal Point" type="Sitecore.Data.Fields.ImageField,Sitecore.Kernel" />
        </fieldTypes>
        <pageextenders localenv:require="!Dev">
            <pageextender type="easyJet.Feature.SitecoreEnhancment.Pipelines.PageExtenders.EnvironmentHintPageExtender, easyJet.Feature.SitecoreEnhancment"/>
        </pageextenders>
        <reflection>
            <allowedMethods>
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.TreeListWithSearch" methodName="DeselectAll" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="TreeListWithSearch.DeselectAll" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.TreeListWithSearch" methodName="AddFromSearchResults" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="TreeListWithSearch.AddFromSearchResults" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.OrderedList" methodName="First" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="OrderedList.First" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.OrderedList" methodName="Up" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="OrderedList.Up" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.OrderedList" methodName="Down" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="OrderedList.Down" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.OrderedList" methodName="Last" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="OrderedList.Last" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.Fields.OrderedList" methodName="Goto" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="OrderedList.Goto" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.CustomFields.FieldTypes.RenderingMappingEditor" methodName="EditParametersClick" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="RenderingMappingEditor.EditParametersClick" />
                <descriptor type="easyJet.Feature.SitecoreEnhancment.CustomFields.FieldTypes.GroupedItemMappingEditor" methodName="EditParametersClick" assemblyName="easyJet.Feature.SitecoreEnhancment" hint="GroupedItemMappingEditor.EditParametersClick" />
            </allowedMethods>
        </reflection>
        <pipelines>
            <renderingParametersEditor>
                <processor type="easyJet.Feature.SitecoreEnhancment.Handlers.RenderingParametersEditorHandler, easyJet.Feature.SitecoreEnhancment" />
            </renderingParametersEditor>
        </pipelines>
    </sitecore>
</configuration>
