<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/"
    xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <settings>
      <setting name="Jss.ExcludedFieldNames" value="#{Sitecore.Jss.ExcludedFieldNames}"/>
    </settings>
    <layoutService>
      <configurations>
        <config name="jss">
          <rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
            <itemSerializer type="easyJet.Feature.SitecoreEnhancment.Serialization.ItemSerializer.JssItemSerializer, easyJet.Feature.SitecoreEnhancment" resolve="true">
              <AlwaysIncludeEmptyFields>true</AlwaysIncludeEmptyFields>
            </itemSerializer>
          </rendering>
        </config>
      </configurations>
    </layoutService>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getFieldSerializer performanceCritical="true">
            <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.GetFieldSerializer.GetStrippingRichTextFieldSerializer, easyJet.Feature.SitecoreEnhancment" resolve="true" patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetRichTextFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">rich text</fieldType>
              </FieldTypes>
            </processor>
            <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.GetFieldSerializer.GetInternalLinkFieldSerializer, easyJet.Feature.SitecoreEnhancment" resolve="true" patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetInternalLinkFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">droplink</fieldType>
                <fieldType id="2">droptree</fieldType>
                <fieldType id="3">grouped droplink</fieldType>
              </FieldTypes>
            </processor>
            <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, easyJet.Feature.SitecoreEnhancment" resolve="true" patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">checklist</fieldType>
                <fieldType id="2">multilist</fieldType>
                <fieldType id="3">multilist with search</fieldType>
                <fieldType id="4">treelist</fieldType>
                <fieldType id="5">treelist with search</fieldType>
                <fieldType id="6">treelistex</fieldType>
                <fieldType id="7">multi root treelistex</fieldType>
              </FieldTypes>
            </processor>
            <processor type="Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Sitecore.LayoutService" resolve="true">
              <FieldTypes hint="list">
                <fieldType id="1">image</fieldType>
                <fieldType id="2">image with focal point</fieldType>
              </FieldTypes>
            </processor>
            <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, easyJet.Feature.SitecoreEnhancment" resolve="true" patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Sitecore.LayoutService']">
              <FieldTypes hint="list">
                <fieldType id="1">general link</fieldType>
              </FieldTypes>
            </processor>

            <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.GetFieldSerializer.GetRenderingMappingFieldSerializer, easyJet.Feature.SitecoreEnhancment" resolve="true">
              <FieldTypes hint="list">
                <fieldType id="1">rendering mapping</fieldType>
              </FieldTypes>
            </processor>
          </getFieldSerializer>
        </pipelines>
      </group>
      <mvc.renderRendering>
        <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"
                   type="easyJet.Feature.SitecoreEnhancment.Pipelines.RenderRendering.GenerateCacheKeyWithPersonalizedDatasource, easyJet.Feature.SitecoreEnhancment"
                   resolve="true" />
      </mvc.renderRendering>
      <renderField>
        <processor type="easyJet.Feature.SitecoreEnhancment.Pipelines.RenderField.GetImageFocalPointFieldValue, easyJet.Feature.SitecoreEnhancment" patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>