.pill {
    background-color: $colorRed;

    p, span {
        color: $colorWhite;
    }

    svg {
        fill: $colorWhite;

        path {
            fill: $colorWhite;
        }
    }
}
