<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <settings>
            <setting name="easyJet.ExternalExtras.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/ExternalExtras Settings" />
        </settings>
    </sitecore>
</configuration>
