<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.ExternalExtras" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                      <include database="master" name="ExternalExtras.PlaceholderSettings" path="/sitecore/Layout/Placeholder Settings/Foundation/ExternalExtras"/>
                      <include database="master" name="ExternalExtras.Templates" path="/sitecore/templates/Foundation/ExternalExtras"/>
                      <include database="master" name="ExternalExtras.Renderings" path="/sitecore/layout/Renderings/Foundation/ExternalExtras"/>
                      <include database="master" name="ExternalExtras.MediaLibrary" path="/sitecore/media library/Foundation/External Extras"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
