.trigger {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
}

// To increase selector strength
.content.tooltipContent {
    z-index: $zIndexSuperPopup;
}
