<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore search:require="solr">
        <contentSearch>
            <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
                <indexes hint="list:AddIndex">
                    <!-- Content Management Configuration -->
                    <index role:require="Standalone or ContentManagement" id="sitecore_destinations_master_index" type="Sitecore.ContentSearch.SolrProvider.SwitchOnRebuildSolrCloudSearchIndex, Sitecore.ContentSearch.SolrProvider">
                        <param desc="name">$(id)</param>
                        <param desc="mainalias">sc.holidays_destinations_master_MainAlias</param>
                        <param desc="rebuildalias">sc.holidays_destinations_master_RebuildAlias</param>
                        <param desc="collection">sc.holidays_destinations_master_index</param>
                        <param desc="rebuildcollection">sc.holidays_destinations_master_index_rebuild</param>
                        <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
                        <configuration ref="contentSearch/indexConfigurations/destinationsIndexConfiguration" />
                        <strategies hint="list:AddStrategy">
                            <!--TODO: Temparary octopus variable, remove once issue with EE (EJH-15615) performance will be resolved  -->
                            <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/#{Sitecore.DestinationsMasterIndex.Strategy}" />
                        </strategies>
                        <locations hint="list:AddCrawler">
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Home/Destinations</Root>
                            </crawler>
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data/Airports</Root>
                            </crawler>
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data/Room Types</Root>
                            </crawler>
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data/Board Types</Root>
                            </crawler>
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data/Facility Types</Root>
                            </crawler>
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data/Countries</Root>
                            </crawler>
                            <crawler type="easyJet.Foundation.Translation.ContentSearch.LanguageFallbackContextItemCrawler, easyJet.Foundation.Translation">
                                <Database>master</Database>
                                <Root>/sitecore/content/EasyJet/Holidays/Data/Dialing Codes</Root>
                            </crawler>
                        </locations>
                        <enableItemLanguageFallback>true</enableItemLanguageFallback>
                        <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>