<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">

        <settings>
            <setting name="ContentSearch.Solr.EnforceAliasCreation" value="true" />
        </settings>

        <contentSearch>
            <indexConfigurations>
                <destinationsIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">

                    <fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="description" storageType="YES" indexType="UNTOKENIZED" returnType="string" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider">
                                <analyzer type="Sitecore.ContentSearch.SolrProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.SolrProvider"/>
                            </field>
                            <field fieldName="code" returnType="string" patch:instead="field[@fieldName='code']"  />
                            <field fieldName="hotelbedscode" returnType="string" patch:instead="field[@fieldName='hotelbedscode']"  />
                            <field fieldName="tripadvisorid" returnType="string" patch:instead="field[@fieldName='tripadvisorid']"  />  
                        </fieldNames>
                    </fieldMap>

                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <IndexAllFields>false</IndexAllFields>
                        <include hint="list:AddIncludedTemplate">
                            <AirportsGroup>{1DF13BFC-E83F-4B30-91F4-A082A6F94900}</AirportsGroup>
                            <Airport>{9B7D85B4-E5CF-42E7-B533-B20FB55EC18D}</Airport>
                            <Country>{5F03C6EF-EF52-4F2E-BC5A-B1F065A1E745}</Country>
                            <Location>{2F42EC14-7E56-467A-B300-AB9723C74546}</Location>
                            <LocationCity>{33B3542E-1316-40CA-8971-1CDB3C1D452D}</LocationCity>
                            <Resort>{538939B3-07EC-4C23-BF8C-3A68DE0FDC93}</Resort>
                            <VirtualResort>{31FC60A9-A529-4081-BB33-7B1751F0BDAD}</VirtualResort>
                            <Hotel>{28E5E169-8F72-4F90-A277-280A8302B607}</Hotel>
                            <RoomType>{85911381-FCEA-453C-89A7-D8B86532EBE0}</RoomType>
                            <BoardType>{13ECBEA2-A890-4D6E-A4FF-4AD65D455124}</BoardType>
                            <UserCountry>{C5C485D2-C352-4E12-AC74-7A23DF280E45}</UserCountry>
                            <DialingCode>{D333F42F-ADB6-402F-84C7-9015755BC38E}</DialingCode>
                            <VirtualRegion>{799ECB20-C605-4A6C-A32B-27222BDBB91E}</VirtualRegion>
                            <VirtualCountry>{3BB7CB0A-8F57-48D6-9602-30A6198720D0}</VirtualCountry>
                            <FacilityType>{0AE072FB-5BCF-4E09-95B5-239CBE370B2B}</FacilityType>
                            <AccommodationRoomFolder>{1762DFC8-B872-41A2-A7C1-A54B93DD6CCD}</AccommodationRoomFolder>
                        </include>
                        <include hint="list:AddIncludedField">
                            <AtcomCode>{66229976-26F6-4BCD-B86D-97974C0912A8}</AtcomCode>
                            <Code>{68324654-7020-4F55-B17B-8B58C9E16DBB}</Code>
                            <Name>{F9D78BF5-6AEC-4B4B-895A-C10AD6AEBAE2}</Name>
                            <Description>{4FB8EB00-E06B-4C0A-9371-9BD9CA84716E}</Description>
                            <StarRating>{8432551B-FE4A-4BC5-BCE1-494EF5E33D6B}</StarRating>
                            <Longitude>{533F7A62-65F3-4278-A3FE-98247CE278FC}</Longitude>
                            <Latitude>{9E29D7A7-37FF-42EA-A7F6-4A97C036D11B}</Latitude>
                            <Airports>{F5DF1EBA-7246-4DBE-8C72-1992F8E1C0D1}</Airports>
                            <Boards>{9E6BD973-9DC0-410A-A170-431BE59AE8A2}</Boards>
                            <Rooms>{D22528C3-92A1-42C0-A546-0AC9B97798A4}</Rooms>
                            <Images>{D0D57559-EFC7-45C8-9AAD-1EE181A17F23}</Images>
                            <Website>{D9A08E84-8FF9-4F10-96E4-1C25AB7D2EFB}</Website>
                            <Email>{74F4DC51-76D4-4743-A941-F95FFC5793BD}</Email>
                            <City>{3FE0AB3A-D78A-4489-880F-7F412C2B9543}</City>
                            <Address>{9BB6143A-E51F-4CC0-9C83-D810A77C579C}</Address>
                            <PostalCode>{0FB187AB-7806-4A7A-A23C-25D4E64275B4}</PostalCode>
                            <BookingPhone>{FDBC73D4-D04F-4308-BD9D-2A6F3EF24A5D}</BookingPhone>
                            <ManagementPhone>{AB37A07E-752E-4357-809C-2957C6BBA9C8}</ManagementPhone>
                            <HotelPhone>{616CC7B5-443D-47D4-B9C0-2D1D9AD7A23F}</HotelPhone>
                            <FaxNumber>{2DDA426A-D4B3-4F36-BEF4-C96A448B6C0A}</FaxNumber>
                            <Strapline>{F68BF21A-1F38-4D0D-B9CC-6110614DA040}</Strapline>
                            <TotalNumberOfReviews>{96381B35-5BFA-4E5A-AEC7-58C18D40E0DD}</TotalNumberOfReviews>
                            <HotelRating>{BC873DDA-052D-4760-B48E-22D53F9441BA}</HotelRating>
                            <HotelBedsCode>{D7B2D300-DE15-407A-9527-EF6F9FAAAB2E}</HotelBedsCode>
                            <TripAdvisorId>{4E92DD4F-0274-40F2-BF4F-98A3DAE7C4E9}</TripAdvisorId>
                            <UserCountryTitle>{50382E36-3D20-4776-BCB3-ABC8DB373CE9}</UserCountryTitle>
                            <UserCountryCode>{919BE0CC-F6B8-4646-B67B-DC320EBA20AA}</UserCountryCode>
                            <DialingCodeTitle>{746A7529-1F7E-4167-8AAC-1B49B69B9579}</DialingCodeTitle>
                            <DialingCode>{E42FAB47-9708-4B37-8F1C-E241BCA8F8B3}</DialingCode>
                            <KeySellingPoint1>{14EE47C6-AC5B-4B46-8349-A9D1291498F0}</KeySellingPoint1>
                            <KeySellingPoint2>{73C08F2C-0652-4743-A0FF-302D3E273673}</KeySellingPoint2>
                            <BaseDescription>{11A44B94-E7ED-4B78-830F-0482D8B5A614}</BaseDescription>
                            <Image>{7CCFFCD4-C679-49F9-884C-55BADC43B72C}</Image>
                            <Content>{AA915102-2E00-46DD-8436-4A1A8B50C115}</Content>
                            <ShowOnSearchPod>{1731743A-6B23-4C7B-A0E0-0295049EC41C}</ShowOnSearchPod>
                            <ShowOnSite>{369DBAC7-FD19-4955-9ADC-28939AB08061}</ShowOnSite>
                            <ShowInAutocomplete>{28319A9A-8423-4653-98BA-543386E90AA8}</ShowInAutocomplete>
                            <ShowOnDropdown>{A3AF4D7B-B647-4BA7-B972-E0A73B46F2F8}</ShowOnDropdown>
                            <GiataCode>{879DC5EF-E54A-443E-8ED4-716731901F25}</GiataCode>
                            <GreatDeal>{E66249F1-F760-4C47-A6B6-CBF0759C5681}</GreatDeal>
                            <MuzementId>{57725E30-F6D1-4895-BFA3-96E23F3B0150}</MuzementId>
                            <YoutubeVideoId>{6A8B33F2-5105-45E8-8913-A6FFE9CD4D76}</YoutubeVideoId>
                            <CloudinaryVideoSrc>{5B73CD1F-7773-415F-8160-47D457F5B6F0}</CloudinaryVideoSrc>
                            <IsMatrixOverriden>{B581B615-72E5-448B-B5AB-B4EE4F69EAE3}</IsMatrixOverriden>
                            <MatrixOverride>{E1EC2DCE-E3AA-4EE8-99BD-1CFA2C51201E}</MatrixOverride>
                        </include>
                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="rooms_list" returnType="text" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.RoomsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="images_list" returnType="text" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ImagesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="boards_list" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.BoardsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="facilities_list" returnType="text" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.FacilitiesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="country" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.CountryComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="location" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.LocationComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="resort" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ResortComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="parents" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ParentsComputedField, easyJet.Foundation.Destinations</field>
                            <!--this field is temporrary workaround-->
                            <field fieldName="closest_facility" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ClosestFacilityComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="closest_facility_list" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ClosestFacilitiesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="filtered_facility" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.FilteredFacilitiesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="eco_facility" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.EcoFacilityComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="children" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ChildrenComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="image_url" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ImageComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="icon_url" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.IconComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="airports_list" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.AirportsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="airport_codes" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.AirportCodesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="sort_order" returnType="long" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.DestinationSortOrderComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="transfers_list" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.TransfersComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="hotel_theme" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.HotelThemeComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="types_list" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.TypeComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="board_group" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.BoardGroupComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="resort_image_url" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ResortImageComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="resort_description" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ResortDescriptionComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="promo_facilities_list" siteName="holidays" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.PromoFacilitiesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="children" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.VirtualCountryResortsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="related_regions" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.RelatedRegionsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="related_resorts" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.RelatedResortsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="errata_facilities" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.ErrataFacilitiesComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="sources" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.SourceComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="tmp_code" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.CodeComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="hotel_url" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.HotelUrlComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="virtual_regions" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.AccommodationVirtualRegionComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="virtual_resorts" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.AccommodationVirtualResortComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="videoplaceholder" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.VideoThumbnailImageComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="normalazied_name" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.NormalaziedNameComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="tracking_id" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.TrackingIdComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="promo_collections" returnType="stringCollection" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.PromoCollectionsComputedField, easyJet.Foundation.Destinations</field>
                            <field fieldName="hotel_highlights" returnType="string" storageType="YES" indexType="UNTOKENIZED">easyJet.Foundation.Destinations.ContentSearch.Fields.HotelHighlightsComputedField, easyJet.Foundation.Destinations</field>
                        </fields>
                    </documentOptions>
                </destinationsIndexConfiguration>
                <solrManagedSchemaConfigurations>
                    <solrManagedSchema type="easyJet.Foundation.Indexing.Schema.Configurations.SolrSchemaConfiguration">
                        <param desc="name">sitecore_destinations_master_index|sitecore_destinations_web_index</param>
                        <fields hint="raw:AddField">
                            <!-- Add default _text_ field to enable spellcheck feature  -->
                            <field name="_text_" type="text_general" indexed="true" stored="true" multiValued="true"/>
                        </fields>

                        <copyFields hint="raw:AddCopyField">
                            <copyField source="name_*" dest="_text_"/>
                            <copyField source="normalazied_name_s" dest="_text_"/>
                        </copyFields>
                    </solrManagedSchema>
                </solrManagedSchemaConfigurations>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>