<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">

         <settings>
            <setting name="ContentSearch.Solr.EnforceAliasCreation" value="true" />
        </settings>

        <contentSearch>
            <indexConfigurations>
                <transferInfoIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
                    <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                        <IndexAllFields>false</IndexAllFields>
                        <include hint="list:AddIncludedTemplate">
                            <TransferInfo>{434E365E-D63B-4A66-9E88-88C07EC2B97D}</TransferInfo>
                        </include>
                        <include hint="list:AddIncludedField">
                            <AirportID>{0F210397-EE16-4505-A276-EF18D6007CB8}</AirportID>
                            <ResortID>{74C8AC9A-DD0E-4EDC-9C4B-1B54D08A1DED}</ResortID>
                            <ResortName>{5A533C39-44D3-4347-ACF8-A1F6661D5CDA}</ResortName>
                            <Duration>{0D2F2EE3-D6AE-4FB8-B06F-57FE709EA01B}</Duration>
                            <ArrivalInstr>{4B422EA5-0FE1-49F0-A585-20898A34C691}</ArrivalInstr>
                            <DepInstr>{4734AF0E-225E-424F-9916-F5890F96F6EB}</DepInstr>
                            <Type>{BDDA320B-36A2-418C-8B6C-808E6E1953EF}</Type>
                            <ProductId>{9AEC69A2-E75F-4357-B88A-816BF9EEC215}</ProductId>
                        </include>
                    </documentOptions>
                </transferInfoIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>