<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="item:syncboardtypes" type="easyJet.Foundation.Destinations.Commands.RunBoardsSyncCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:transfersimporting" type="easyJet.Foundation.Destinations.Commands.RunTransfersImportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:checkout" patch:instead="command[@name='item:checkout']" type="easyJet.Foundation.Destinations.Commands.ExtendedCheckoutCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:roomfacilitiesupload" type="easyJet.Foundation.Destinations.Commands.RunRoomFacilitiesUploadCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:roomnamesupload" type="easyJet.Foundation.Destinations.Commands.RunRoomNamesUploadCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:createhotel" type="easyJet.Foundation.Destinations.Commands.AddHotelCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:uploadhotelstopromopage" type="easyJet.Foundation.Destinations.Commands.RunUploadHotelsToPromoPageCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:exporthotelsfrompromopage" type="easyJet.Foundation.Destinations.Commands.RunExportHotelsFromPromoPageCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:facilityimport" type="easyJet.Foundation.Destinations.Commands.RunHotelFacilityImportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:boarddescriptionsimport" type="easyJet.Foundation.Destinations.Commands.RunHotelBoardDescriptionImportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:overviewdescriptionsupload" type="easyJet.Foundation.Destinations.Commands.RunHotelOverviewDescriptionUploadCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:exportboardtypes" type="easyJet.Foundation.Destinations.Commands.RunBoardTypesExportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:greatdealsupload" type="easyJet.Foundation.Destinations.Commands.GreatDealsUploadCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:reorderingroomtypefacilities" type="easyJet.Foundation.Destinations.Commands.RunReorderingRoomTypeFacilitiesCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:runmuzementdestinationsmapping" type="easyJet.Foundation.Destinations.Commands.RunMuzementImportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:runhotelthemesexport" type="easyJet.Foundation.Destinations.Commands.RunThemesExportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:runhotelthemesupload" type="easyJet.Foundation.Destinations.Commands.RunHotelThemesTypesUploadCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:foodanddrinkupload" type="easyJet.Foundation.Destinations.Commands.RunFoodAndDrinkImportCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:familyfacilitiesupload" type="easyJet.Foundation.Destinations.Commands.FamilyFacilitiesUploadCommand, easyJet.Foundation.Destinations" resolve="true" />
            <command name="item:movehotelstoneighbourhoodresorts" type="easyJet.Foundation.Destinations.Commands.MoveHotelsToNeighbourhoodResortsCommand, easyJet.Foundation.Destinations" resolve="true" />
        </commands>

        <processors>
            <saveUI>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Validators, Sitecore.Kernel']" type="easyJet.Foundation.Destinations.Pipelines.SaveUI.ShowValidationDetailsProcessor, easyJet.Foundation.Destinations" resolve="true">
                    <templates hint="list:AddTemplate">
                        <destinationsCarousel>{4D269A7E-22E7-4D5C-84FF-05FF0CD0C98B}</destinationsCarousel>
                    </templates>
                </processor>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Foundation.Destinations.Pipelines.SaveUI.CancelCreditCrossValidationProcessor, easyJet.Foundation.Destinations" resolve="true"/>
                <processor patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" type="easyJet.Foundation.Destinations.Pipelines.SaveUI.RequestedSearchesProcessor, easyJet.Foundation.Destinations" resolve="true"/>
            </saveUI>
        </processors>

        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Foundation.Destinations.Pipelines.GetLayoutServiceContext.ExtendContextDataProcessor, easyJet.Foundation.Destinations" resolve="true" />
                        <processor type="easyJet.Foundation.Destinations.Pipelines.GetLayoutServiceContext.PageProfileDataContext, easyJet.Foundation.Destinations" resolve="true" />
                        <processor type="easyJet.Foundation.Destinations.Pipelines.GetLayoutServiceContext.AccommodationCodesDataContext, easyJet.Foundation.Destinations" />
                        <processor type="easyJet.Foundation.Destinations.Pipelines.GetLayoutServiceContext.ExtendAccommodationForGoogleStructuredData, easyJet.Foundation.Destinations" resolve="true" />
                    </getLayoutServiceContext>
                </pipelines>
            </group>
            <mvc.requestBegin>
                <processor type="easyJet.Foundation.Destinations.Pipelines.RequestBegin.DynamicPromoPageContextItemResolverExtended, easyJet.Foundation.Destinations"
                           patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']" resolve="true" />
                <processor type="easyJet.Foundation.Destinations.Pipelines.RequestBegin.DestinationContextItemResolver, easyJet.Foundation.Destinations"
                           patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']" resolve="true" />
                <processor type="easyJet.Foundation.Destinations.Pipelines.RequestBegin.DestinationRootItemResolver, easyJet.Foundation.Destinations"
                           patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']" resolve="true" />
                <processor type="easyJet.Foundation.Destinations.Pipelines.RequestBegin.HolidayTypesContextItemResolver, easyJet.Foundation.Destinations"
                           patch:after="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']" resolve="true" />
            </mvc.requestBegin>
            <CleanUpReportsPipeline>
                <processor type="easyJet.Foundation.Destinations.Pipelines.CleanUpReportsPipeline.CleanUpReportsProcessor, easyJet.Foundation.Destinations" resolve="true"/>
            </CleanUpReportsPipeline>
            <GreatDealsUpload>
                <processor type="easyJet.Foundation.Destinations.Pipelines.GreatDealsUpload.GreatDealsProcessor, easyJet.Foundation.Destinations" resolve="true"/>
            </GreatDealsUpload>
            <indexing.filterIndex.inbound>
                <processor type="easyJet.Foundation.Destinations.Pipelines.IndexingFilterIndexInbound.ApplyInboundIndexVersionFilter, easyJet.Foundation.Destinations"/>
            </indexing.filterIndex.inbound>
            <HbgBrokenImagesLinksReport>
                <processor type="easyJet.Foundation.Destinations.Pipelines.HbgBrokenImagesLinksReport.HbgBrokenImagesLinksReport, easyJet.Foundation.Destinations" resolve="true"/>
            </HbgBrokenImagesLinksReport>
            <S3BrokenImagesLinksReport>
                <processor type="easyJet.Foundation.Destinations.Pipelines.S3BrokenImagesLinksReport.S3BrokenImagesLinksReport, easyJet.Foundation.Destinations" resolve="true"/>
            </S3BrokenImagesLinksReport>
        </pipelines>
        <events>
            <event name="item:saving">
                <handler patch:before="handler[1]" type="easyJet.Foundation.Destinations.Events.DestinationItemEventHandler, easyJet.Foundation.Destinations"
                         method="OnItemSaving" resolve="true"/>
            </event>
            <event name="item:saved">
                <handler type="easyJet.Foundation.Destinations.Events.HotelChildrenItemsEventHandler, easyJet.Foundation.Destinations"
                         method="OnItemSaved" resolve="true"/>
            </event>
            <event name="item:deleting">
                <handler type="easyJet.Foundation.Destinations.Events.HotelChildrenItemsEventHandler, easyJet.Foundation.Destinations"
                         method="OnItemDeleting" resolve="true"/>
            </event>
            <event name="item:versionAdded">
                <handler type="easyJet.Foundation.Destinations.Events.DestinationItemEventHandler, easyJet.Foundation.Destinations"
                         method="OnVersionAdded" resolve="true"/>
            </event>
            <event  name="item:created">
                <handler type="easyJet.Foundation.Destinations.Events.FacilityMatrixItemEventHandler, easyJet.Foundation.Destinations" method="OnItemCreated" resolve="true"/>
            </event>
        </events>

        <settings>
            <setting name="ContentSearch.Destinations.IndexName" value="sitecore_destinations_{0}_index" />
            <setting name="ContentSearch.Destinations.RootPath" value="/sitecore/content/easyJet/Holidays" />
            <setting name="ContentSearch.FacilityMatrix.Configuration" value="/sitecore/content/EasyJet/Holidays/Data/Facility Matrix Configuration" />
            <setting name="ContentSearch.TransferInfo.IndexName" value="sitecore_transferinfo_{0}_index" />
            <setting name="Destinations.ImageSize.Small" value="320" />
            <setting name="Destinations.ImageSize.Medium" value="800" />
            <setting name="Destinations.ImageSize.Large" value="1024" />
            <setting name="Destinations.ChunkSize" value="50" />
            <setting name="Destinations.CacheSize" value="50MB" />
            <setting name="Destinations.CacheExpiredInMinutes" value="1440" />
            <setting name="Destinations.VirtualFacilities.CacheExpiredInMinutes" value="10" />
            <setting name="Destinations.FacilityHeaders.CacheExpiredInMinutes" value="10" />
            <setting name="Destinations.JssApiPrefix" value="/Destinations" />
            <setting name="Destinations.RootFolderStartPath" value="/sitecore/content/EasyJet/Holidays/Home" />
            <setting name="Destinations.DynamicPromoPages.JssApiPrefix" value="/DynamicPromoPages" />
            <setting name="Destinations.HolidayTypes.JssApiPrefix" value="/Holiday Types" />
            <setting name="Destinations.IsAutoSyncEnabled" value="true" />
            <setting name="Destinations.AutoPublishEnabled" value="false" />
            <setting name="Destinations.GreatDeals.AutoPublishEnabled" value="true" />
            <setting name="Destinations.GetByAirportCodes.Pagination" value="50" />
            <setting name="Destinations.ClosestFacilityByHotelThemeMaping" value="City,City centre|Beach,Beach" />
            <setting name="Destinations.TransferInfoIdsPerSolrQuery" value="200" />
            <setting name="Destinations.ShouldReindexParentsUpatedDestinationItem" value="false" />
            <setting name="Destinations.WorkflowScheduleQueueFolderPath" value="/sitecore/system/Tasks/Schedules/Foundation/Schedule Publish Queue" />
            <setting name="Destinations.AtcomRoomTypesFolderPath" value="/sitecore/content/EasyJet/Holidays/Data/Room Types/Atcom" />
            <setting name="Destinations.DCFacilityTypesFolderPath" value="/sitecore/content/EasyJet/Holidays/Data/Facility Types/Room Type Facilities" />
            <setting name="Destinations.RecentlyAddedDestinationIcon" value="network/32x32/alarm.png" />
            <setting name="Destinations.HotelBranchTemplatePath" value="/sitecore/templates/Branches/Project/Holidays/Hotel" />
            <setting name="Destinations.RoomNamesUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Room Names Upload Report" />
            <setting name="Destinations.RoomFacilitiesUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Room Facilities Upload Report" />
            <setting name="Destinations.ReportLifeSpanInDays" value="10" />
            <setting name="Destinations.FacilitiesUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Hotel Facilities Upload Report" />
            <setting name="Destinations.HotelBoardDescriptionsUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Hotel Board Description Upload Report" />
            <setting name="Destinations.HotelOverviewDescriptionsUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Hotel Overview Description Upload Report" />
            <setting name="Destinations.HotelThemesUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Hotel Themes Upload Report" />
            <setting name="Destinations.HotelThemeProfilePath" value="/sitecore/system/Marketing Control Panel/Profiles/easyJet Holidays/Hotel Themes" />
            <setting name="Destinations.RequestedSearchesUrlPrefix" value="mixedresultlist" />
            <setting name="Destinations.LiveSiteUrl" value="#{Sitecore.SiteModes.LiveSiteUrl}" />
            <setting name="Destinations.FacilityHeadersFolderPath" value="/sitecore/content/EasyJet/Holidays/Data/Facilities Headers" />
            <setting name="Destinations.SearchFiltersFolderPath" value="/sitecore/content/EasyJet/Holidays/Data/Search Filters" />
            <setting name="Destinations.FoodAndDrinkUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Food And Drink Upload Report" />
            <setting name="Destinations.FamilyFacilitiesUploadReportPath" value="/sitecore/system/Reports/Foundation/Destinations/Family Facilities Upload Report" />
            <setting name="Acmi.SettingsPath" value="/sitecore/content/EasyJet/Holidays/Settings/ACMI Settings" />
            <setting name="Destinations.IncludeSearchByAirportCode" value="#{Sitecore.Destinations.IncludeSearchByAirportCode}" />
            <setting name="Destinations.LanguagesToBuildUrlsForHreflangs" value="#{Sitecore.Destinations.LanguagesToBuildUrlsForHreflangs}" />
            <setting name="Destinations.ShouldBeCultureSearch" value="#{Sitecore.Destinations.ShouldBeCultureSearch}" />
            <setting name="Destinations.HotelWithReviews.HotelTakeCount" value="#{Sitecore.Destinations.HotelWithReviews.HotelTakeCount}" />
            <setting name="Destinations.AddLanguageVersionForRooms" value="#{Sitecore.Destinations.Rooms.AddLanguageVersions}" />
            <setting name="Destinations.RequiredRoomLanguages" value="#{Sitecore.Destinations.Rooms.RequiredLanguageVersions}" />
            <setting name="Destinations.FacilityTypes.Path" value="/sitecore/content/EasyJet/Holidays/Data/Facility Types" />
            <setting name="Destinations.BrokenImagesLinksReportPath" value="/sitecore/media library/Files/easyJet Hotel Report Export/Broken Image Links Reports" />
            <setting name="Destinations.SearchPodDefaultPath" value="/sitecore/content/EasyJet/Holidays/Data/Search Pods/Search Pod" />
        </settings>

        <exportingCommandParamList>
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:exporthotelsfrompromopage" templateId="{C0CB2F05-AFD2-41CE-B53F-6F15A1033740}" />
            <exportingCommandParam patch:after="exportingCommandParam[last()]" commandName="item:runhotelthemesexport" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" />
        </exportingCommandParamList>
        <uploadingCommandParamList>
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:greatdealsupload" templateId="{D295563C-B3E4-45B1-97C4-F91EFC38261F}" fileFieldId="{4C4CBC7E-6EB7-4923-B36E-131F82A00D5D}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:reorderingroomtypefacilities" templateId="{AC73B887-BF1B-4ACE-9F29-77B00BCF1983}" fileFieldId="{2B93D770-513C-49CD-B3DF-76E020CE5E5D}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:runmuzementdestinationsmapping" templateId="{26DC94DC-3A89-4BB8-856D-02A3E89897D4}" fileFieldId="{A1ADFE66-8ADA-4C3E-B869-5E998A599C77}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" name="runhotelthemesupload" commandName="item:runhotelthemesupload" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{72B0E1F4-4DA6-46D8-B269-5BF0A3F9D34C}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" name="runfoodanddrinkupload" commandName="item:foodanddrinkupload" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{63EF8AAE-0ACB-43FE-97B8-1A35D8643FD9}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:boarddescriptionsimport" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{41F56FFA-5BB7-4742-B69E-0DA67B068073}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" name="runhoteloverviewdescriptionsupload" commandName="item:overviewdescriptionsupload" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{106C6C26-B490-4C44-93F0-9E19A4AE381F}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:roomnamesupload" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{8ABA5385-C4FE-45C4-9CC6-E341A9ED15C1}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:roomfacilitiesupload" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{A0BE2A39-1808-4E41-9414-55322E8A5BBF}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:transfersimporting" templateId="{E0E3304E-7D21-4DB5-A57E-24C42B935A68}" fileFieldId="{D604BACA-7BED-41C8-82E7-8BA0D0B44CBC}" csvDelimiter="," />
            <uploadCommandParam patch:after="uploadCommandParam[last()]" commandName="item:familyfacilitiesupload" templateId="{41831D30-A4BD-4AD0-B5F2-A3D0A6F7828A}" fileFieldId="{55BD6457-D8BA-4C30-A394-BEFFB29CCFDD}" csvDelimiter="," />
        </uploadingCommandParamList>
    </sitecore>
</configuration>
