<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <settings>
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.LiveSiteUrl" value="http://sc.holidays.local/{language}/Holidays/" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.IncludeSearchByAirportCode" value="true" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.LanguagesToBuildUrlsForHreflangs" value="en,fr-CH,de-CH" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.ShouldBeCultureSearch" value="true" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.HotelWithReviews.HotelTakeCount" value="0" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.AddLanguageVersionForRooms" value="true" />
            <setting xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="Destinations.RequiredRoomLanguages" value="de-DE,fr-FR" />
        </settings>
    </sitecore>
</configuration>