<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Destinations" dependencies="Foundation.TripAdvisor" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        
                        <include name="Destinations.Renderings" database="master" path="/sitecore/Layout/Renderings/Foundation/Destinations"/>
                        <include name="Destinations.PlaceholderSettings" database="master" path="/sitecore/Layout/Placeholder Settings/Foundation/Destinations"/>
                        <include name="Destinations.Templates"  database="master" path="/sitecore/templates/Foundation/Destinations"/>
                        <include name="Destinations.ContentResolvers"  database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers/Foundation/Destinations"/>
                        <include name="Destinations.ValidationRules.FieldRules" database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/Destinations"/>
                        <include name="Destinations.Settings"  database="master" path="/sitecore/system/Settings/Foundation/Destinations">
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Filters"/>
                        </include>
                        <include name="Destinations.Modules.PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/Destinations Sync"/>
                        <include name="Destinations.Workflows" database="master" path="/sitecore/system/Workflows/Destinations Workflow"/>
                        <include name="Destinations.PublishingQueueSchedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/Schedule Publish Queue">
                            <exclude children="true" />
                        </include>
                        <include name="Destinations.PublishingSchedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/Publishing" />
                        <include name="Destinations.PublishingCommands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/Publishing" />
                        <include name="Destinations.Reports" database="master" path="/sitecore/system/Reports/Foundation/Destinations" >
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Room Names Upload Report"/>
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Room Facilities Upload Report"/>
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Hotel Facilities Upload Report"/>
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Hotel Board Description Upload Report"/>
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Hotel Overview Description Upload Report"/>
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Hotel Themes Upload Report"/>
                            <exclude childrenOfPath="/sitecore/system/Reports/Foundation/Destinations/Food And Drink Upload Report"/>
                        </include>

                        <include name="Destinations.Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/Destinations"/>
                        <include name="Destinations.Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/Destinations"/>

                        <include name="Core.ContextMenues.Default.SyncAirportsCountries" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Airports Countries" />
                        <include name="Core.ContextMenues.Default.SyncCountries" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Countries" />
                        <include name="Core.ContextMenues.Default.SyncBoardTypes" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sync Board Types" />
                        <include name="Core.ContextMenues.Default.RunTransfersImportings" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Transfers Importing" />
                        <include name="Core.ContextMenues.Default.RunRoomNamesUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Room Names Upload" />
                        <include name="Core.ContextMenues.Default.RunRoomFacilitiesUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Room Facilities Upload" />
                        <include name="Core.ContentEditor.Gutters.RecentlyAddedDestinations" database="core" path="/sitecore/content/Applications/Content Editor/Gutters/Recently Added Destinations" />
                        <include name="Core.ContextMenues.Default.CreateHotel" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Create Hotel" />
                        <include name="Core.ContextMenues.Default.RunUploadHotelsToPromoPage" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Upload Hotels To Promo Page" />
                        <include name="Core.ContextMenues.Default.RunExportHotelsFromPromoPage" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Export Hotels From Promo Page" />
                        <include name="Core.ContextMenues.Default.RunFacilitiesExport" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Facilities Export" />
                        <include name="Core.ContextMenues.Default.RunFacilitiesUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Hotel Facility Import" />
                        <include name="Core.ContextMenues.Default.RunHotelBoardDescriptionsUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Hotel Board Descriptions Import" />
                        <include name="Core.ContextMenues.Default.RunOverviewDescriptionsUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Overview Descriptions Upload" />
                        <include name="Core.ContextMenues.Default.RunBoardTypesExport" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Board Types Export" />
                        <include name="Core.ContextMenues.Default.GreatDealsUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Great Deals Upload" />
                        <include name="Core.ContextMenues.Default.RunReorderingRoomTypeFacilities" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Reordering Room Type Facilities" />
                        <include name="Core.ContextMenues.Default.RunMuzmentDestinationImport" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Muzement Destinations Mapping" />
                        <include name="Core.ContextMenues.Default.RunHotelThemesExport" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Hotel Themes Export" />
                        <include name="Core.ContextMenues.Default.RunHotelThemesUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Hotel Themes Upload" />
                        <include name="Core.ContextMenues.Default.RunFoodAndDrinkUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Food And Drink Upload" />
                        <include name="Core.ContextMenues.Default.RunFamilyFacilitiesUpload" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Run Family Facilities Description Upload" />
                        
                        <include name="Core.Launchpad.Buttons.RoomNameUploadReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Room Name Upload Report" />
                        <include name="Core.Apps.RoomNameUploadReports" database="core" path="/sitecore/client/Your Apps/easyJet/RoomNameUploadReport" />
                        <include name="Core.Launchpad.Buttons.RoomFacilityUploadReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Room Facility Upload Report" />
                        <include name="Core.Apps.RoomFacilityUploadReports" database="core" path="/sitecore/client/Your Apps/easyJet/RoomFacilityUploadReport" />
                        <include name="Core.Launchpad.Buttons.FacilityUploadReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Hotel Facility Upload Report" />
                        <include name="Core.Apps.FacilityUploadReports" database="core" path="/sitecore/client/Your Apps/easyJet/HotelFacilityUploadReport" />
                        <include name="Core.Launchpad.Buttons.HotelBoardDescriptionsReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Hotel Board Description Upload Report" />
                        <include name="Core.Apps.HotelBoardDescriptionsReports" database="core" path="/sitecore/client/Your Apps/easyJet/HotelBoardDescriptionUploadReport" />
                        <include name="Core.Launchpad.Buttons.HotelThemesReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Hotel Themes Upload Report" />
                        <include name="Core.Apps.HotelThemesReports" database="core" path="/sitecore/client/Your Apps/easyJet/HotelThemesUploadReport" />
                        <include name="Core.Launchpad.Buttons.FoodAndDrinkReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Food And Drink Upload Report" />
                        <include name="Core.Apps.FoodAndDrinkReports" database="core" path="/sitecore/client/Your Apps/easyJet/FoodAndDrinkUploadReport" />
                        <include name="Core.Launchpad.Buttons.FamilyFacilitiesReports" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Reports/Family Facilities Tab Upload Report" />
                        <include name="Core.Apps.FamilyFacilitiesReports" database="core" path="/sitecore/client/Your Apps/easyJet/HotelFamilyFacilitiesUploadReport" />
                        
                        <include name="Core.ContentEditor.Gutters.MissingLanguageVersion" database="core" path="/sitecore/content/Applications/Content Editor/Gutters/Missing Language Version" />
                    </predicate>

                    <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Roles" singleInstance="true" />
                    <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                        <include domain="sitecore" pattern="eJ Approver"/>
                        <include domain="sitecore" pattern="easyJet Content Author"/>
                        <include domain="sitecore" pattern="easyJet SEO Manager"/>
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
