<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <boardsProvider type="easyJet.Foundation.Destinations.Services.MasterDataProvider, easyJet.Foundation.Destinations">
            <boards hint="list:AddItem">
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>AB</Code>
                    <Name>American Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>AI</Code>
                    <Name>All Inclusive</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>AS</Code>
                    <Name>All Inclusive Premium</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>BB</Code>
                    <Name>Bed and Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>BH</Code>
                    <Name>1 Bed and Breakfast + 1 Half Board</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>CB</Code>
                    <Name>Continental Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>DB</Code>
                    <Name>Buffet Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>DD</Code>
                    <Name>Disney Dining</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>DX</Code>
                    <Name>Disney Deluxe Dining</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>FB</Code>
                    <Name>Full Board</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>FH</Code>
                    <Name>1 Half Board + 1 Full Board</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>FL</Code>
                    <Name>Disney FB Plus: + 15 Restaurants</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>FR</Code>
                    <Name>Disney FB Premium: + 20 Restaurants</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>FS</Code>
                    <Name>Disney FB Standard: + 5 Restaurants</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>GB</Code>
                    <Name>English Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>HB</Code>
                    <Name>Half Board</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>HH</Code>
                    <Name>Disney HB Hotel: Dinner at Hotel</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>HL</Code>
                    <Name>Disney HB Plus: + 15 Restaurants</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>HR</Code>
                    <Name>Disney HB Premium: + 20 Restaurants</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>HS</Code>
                    <Name>Disney HB Standard: + 5 Restaurants</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>IB</Code>
                    <Name>Irish Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>LB</Code>
                    <Name>Light Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>MB</Code>
                    <Name>Half Board with Beverages Included</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>PB</Code>
                    <Name>Full Board Beverages Included</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>QB</Code>
                    <Name>Disney Quick Service Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>QM</Code>
                    <Name>Disney Quick Service Meal</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>QS</Code>
                    <Name>Disney Quick Service</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>RO</Code>
                    <Name>Room Only</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>SB</Code>
                    <Name>Scottish Breakfast</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>SC</Code>
                    <Name>Self Catering</Name>
                </board>
                <board type="easyJet.Foundation.Destinations.Services.MasterData, easyJet.Foundation.Destinations">
                    <Code>TL</Code>
                    <Name>All Inclusive Soft</Name>
                </board>
            </boards>
        </boardsProvider>
    </sitecore>
</configuration>
