.wrapper {
    display: grid;
    grid-template-columns: 3fr 5fr 5fr;

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
        padding: 16px 0;
        border-top: 1px solid $borderColorGray;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.wrapperFull {
    grid-template-columns: 3fr 10fr;

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
    }
}

.wrapperFullAlt {
    grid-template-columns: 1fr 2.5fr;

    @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
    }
}

.container {
    position: relative;
    padding: 24px 48px;
    border-top: 1px solid $borderColorGray;
    border-bottom: none;

    @include media-breakpoint-down(lg) {
        padding: 0;
        border-top: none;
    }
}

.addAction {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 24px 0 24px 48px;
    line-height: 1.4;
    border-top: 1px solid $colorGeyser;

    &::before {
        content: '';
        position: absolute;
        top: 24px;
        bottom: 24px;
        left: 0;
        width: 1px;
        background-color: $colorGeyser;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: 0;
        padding-top: 8px;
    }
}

.addActionLabel {
    align-self: center;
    font-size: 16px;
    line-height: 1.4;
    text-align: right;

    @include media-breakpoint-down(lg) {
        align-self: flex-start;
        font-size: 14px;
        text-align: left;
    }
}

.addButton {
    flex-shrink: 0;
    align-self: center;
    width: 120px;
    margin-left: 16px;
    white-space: nowrap;

    @include media-breakpoint-down(lg) {
        align-self: flex-start;
        width: 100%;
        margin: 8px 0 0;
    }
}

.passengerType {
    @include media-breakpoint-between(md, lg) {
        padding: 0;
        border: none;
    }
}
