.hasBalanceHeader {
    margin-bottom: 48px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }
}

.noBalanceHeader {
    margin-top: 24px;
    padding: 24px;
    border-radius: 6px;
    box-shadow: $generalBoxShadow;

    @include media-breakpoint-up(sm) {
        margin-top: 32px;
    }

    h2 {
        margin-bottom: 25px;
    }
}
