.item {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    border: 1px solid $colorGrayMiddle;
    border-radius: 80px;
}

.button {
    display: flex;
    padding: 0 10px;

    svg {
        width: 16px;
        height: 16px;
        color: $colorOrange;
    }
}
