.container {
    padding: 0 0 8px 16px;

    @include media-breakpoint-down(md) {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.headerTitle {
    margin: 0;
    font-family: $fontRoundedDemy;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: $clrTextMain;

    @include media-breakpoint-down(md) {
        font-size: 18px;
    }
}

.expandButton {
    font-family: $fontRoundedDemy;
    font-size: 14px;
    line-height: 1.285;
    color: $colorOrange;
    text-align: center;
    text-decoration-line: underline;
}

.showMoreBtn:global(.btn) {
    display: none;
    font-size: 14px;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

.mobileButton:global(.btn) {
    border-width: 2px;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.btnWrapper {
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    padding-left: 18px;

    @include media-breakpoint-down(md) {
        padding-left: 0;
    }

    .itineraryItem {
        align-items: baseline;
        padding-bottom: 16px;

        &:first-of-type {
            align-items: flex-start;
        }
    }
}
