<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Feature.Redirects" dependencies="Foundation.*" extends="Helix.Feature">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Redirects.Templates" database="master" path="/sitecore/templates/Feature/Redirects"/>
                        <include name="Redirects.System.Settings" database="master" path="/sitecore/system/Settings/Feature/Redirects"/>
                        <include name="Core.Launchpad.Buttons.RedirectTool" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/easyJet Apps"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
