<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <mvc.requestBegin>
                <processor patch:before="*[@type='easyJet.Foundation.Multisite.Pipelines.HttpRequestBegin.HandleItemNotFoundProcessor, easyJet.Foundation.Multisite']"
                           type="easyJet.Feature.Redirects.Pipelines.HttpRequestBegin.HandleItemNotFoundRedirectProcessor, easyJet.Feature.Redirects" resolve="true" />
            </mvc.requestBegin>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="easyJet.Feature.Redirects.Pipelines.GetLayoutServiceContext.RedirectDataContext, easyJet.Feature.Redirects" resolve="true" />
                    </getLayoutServiceContext>
                </pipelines>
            </group>
        </pipelines>
        <settings>
            <setting name="Redirect.RedirectMapResolver.CacheExpiration" value="#{Sitecore.RedirectMapResolver.CacheExpiration}" />
            <setting name="Redirects.RedirectRulesRootPath" value="/sitecore/content/EasyJet/Holidays/Data/Redirect Rules" />
        </settings>
        <events>
            <event name="publish:end">
                <handler type="easyJet.Feature.Redirects.Cache.RedirectRulesCacheClearer, easyJet.Feature.Redirects" method="ClearCache" />
            </event>
            <event name="publish:end:remote">
                <handler type="easyJet.Feature.Redirects.Cache.RedirectRulesCacheClearer, easyJet.Feature.Redirects" method="ClearCache" />
            </event>
            <event name="item:saved">
                <handler type="easyJet.Feature.Redirects.Events.HotelRenameRedirectEventHandler, easyJet.Feature.Redirects"
                         method="OnItemSaved" resolve="true" />
            </event>
        </events>
    </sitecore>
</configuration>
