.wrapper {
    position: relative;
    display: block;
}

.closePopupButton {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: auto;
    margin: 0 !important;
    padding: 0;
    line-height: 1;
    background: 0;
    border: none;

    svg {
        width: 15px;
        height: 15px;
        margin-right: 13px;
    }
}

.list {
    padding-right: 0;
    padding-left: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    border-top: 1px solid $clrBorderGray;

    &:first-child {
        border-top: none;
    }
}

.point {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    margin: 10px 0;
    padding-right: 10px;
    padding-left: 55px;
    font-size: 16px;
    line-height: 25px;

    &>svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
    }
}

.pointHead {
    font-family: $fontRoundedBook;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .3px;
}

.icon {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.seatNumberWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
}

.noSeats {
    margin: 5px 0;
    font-family: $fontRoundedBook;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $colorDustyGrey;
}
