.hotelInfoTitle {
    height: 47px;
    margin-bottom: 0.5rem;
}

.hotelInfoDescription {
    height: 160px;
}

.hotelInfoBanner {
    height: 100px;
}

.hotelInfoFacilities {
    height: 300px;
}

.hotelDescription {
    margin-bottom: 1.5rem;
}
