<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <renderItem performanceCritical="true">
                        <!-- SC Hotfix-PDXP-7762 -->
                        <processor type="Sitecore.LayoutService.ItemRendering.Pipelines.RenderItem.ResolveSerializer, Sitecore.LayoutService" resolve="true" />
                        <processor type="Sitecore.LayoutService.ItemRendering.Pipelines.RenderItem.SerializeFields, Sitecore.LayoutService" resolve="true" />
                        <processor type="Sitecore.LayoutService.Analytics.Pipelines.RenderItem.PageLevelTestVariantResolver, Sitecore.LayoutService.Analytics"
                                   patch:before="processor[@type='Sitecore.LayoutService.Analytics.Pipelines.RenderItem.ContentTestVariantResolver, Sitecore.LayoutService.Analytics']"
                                   resolve="true" />
                        <processor type="Sitecore.LayoutService.Analytics.Pipelines.RenderItem.ContentTestVariantResolver, Sitecore.LayoutService.Analytics"
                                   patch:before="processor[@type='Sitecore.LayoutService.ItemRendering.Pipelines.RenderItem.SerializeFields, Sitecore.LayoutService']"
                                   resolve="true" />
                    </renderItem>
                </pipelines>
            </group>
        </pipelines>
        <services>
            <configurator type="Sitecore.LayoutService.Analytics.RegisterDependencies, Sitecore.LayoutService.Analytics" />
        </services>
    </sitecore>
</configuration>