.tooltipWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    align-self: center;
    width: auto;
    max-height: 45px;
    padding: 0;

    .icon {
        margin: 0;
    }
}
