.confirmWrapper {
    @include media-breakpoint-down(md) {
        display: flex;
        flex: 1;
    }
}

.btn {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid $clrEjOrange;
    border-radius: 4px;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.confirmBtn {
    color: $colorWhite;
    background: $clrEjOrange;
}
