.newLabelPill {
    margin-right: 6px;
}

.count {
    display: inline;
    line-height: 1.5;
    vertical-align: middle;

    span {
        display: inline-flex;
        align-items: center;
    }
}
