<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <pipelines>
            <dianogaOptimizeImageMagickJpeg>
                <processor type="Dianoga.ImageMagick.ImageMagickResizer, Dianoga.ImageMagick">
                    <AdditionalImageMagick xdt:Transform="Replace">-quality 60 -dither None -define jpeg:fancy-upsampling=off -interlace none -colorspace sRGB</AdditionalImageMagick>
                </processor>
            </dianogaOptimizeImageMagickJpeg>
        </pipelines>
    </sitecore>
</configuration>