.title {
    margin: 0;
    padding-top: 64px;
    font-family: $fontRoundedBook;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.333;
    text-align: center;

    @include media-breakpoint-down(md) {
        padding-top: 24px;
        font-size: 24px;
        line-height: 1.5;
    }
}

.infoTitle {
    @include media-breakpoint-down(md) {
        padding-top: 40px;
        font-size: 24px;
        line-height: 1.5;
    }
}

.infoDescription {
    padding-top: 16px;
    padding-bottom: 36px;
    text-align: center;

    @include media-breakpoint-down(md) {
        padding-top: 10px;
        padding-bottom: 40px;
        font-size: 18px;
        line-height: 1.22;
    }
}

.flightAndHotelBlock {
    margin-top: 64px;
    margin-bottom: 64px;

    @include media-breakpoint-down(md) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
