.header {
    background-color: $colorWhite;
    box-shadow: $cardShadow;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.content {
    flex-grow: 1;
    padding: 16px 0;
}

.price {
    display: flex;
    flex-grow: 1;
    max-width: 238px;
    min-height: 100%;
    margin: 0 10px;
    justify-self: flex-end;
}

.price::before {
    content: '';
    width: 35px;
    background-color: $colorPorcelain;
    background-image: linear-gradient(-75deg, $colorPorcelain 50%, $colorWhite 50%);
}

.price::after {
    content: '';
    width: 35px;
    background-color: $colorPorcelain;
    background-image: linear-gradient(-77deg, $colorWhite 50%, $colorPorcelain 50%);
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 18px 16px;
    background-color: $colorPorcelain;

    :global(.summary-fee) {
        margin-top: 4px;
    }
}

.additional {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto 0;
}

.additionalLabel {
    font-size: 14px;
}
