@font-face {
    font-family: "easyjet_rounded_book";
    font-display: swap;
    font-weight: 400;
    src: url("./../../public/static/fonts/easyJetRoundedBook.woff2") format("woff2"),
        url("./../../public/static/fonts/easyJetRoundedBook.woff") format("woff2");
}

@font-face {
    font-family: "easyjet_rounded_light";
    font-display: swap;
    src: url("./../../public/static/fonts/easyJetRoundedLight.woff2") format("woff2"),
        url("./../../public/static/fonts/easyJetRoundedLight.woff") format("woff");
}

@font-face {
    font-family: "easyjet_rounded_demi";
    font-display: swap;
    src: url("./../../public/static/fonts/easyJetRoundedDemi.woff2") format("woff2"),
        url("./../../public/static/fonts/easyJetRoundedDemi.woff") format("woff");
}

@font-face {
    font-family: "unbounded_sans_w_bd";
    font-display: swap;
    src: url("./../../public/static/fonts/UnboundedSans_W_Bd.woff2") format("woff2"),
        url("./../../public/static/fonts/UnboundedSans_W_Bd.woff") format("woff");
}
