.padding-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.padding-top-32 {
    padding-top: 32px !important;
}

.padding-top-64 {
    padding-top: 64px !important;
}

.padding-bottom-32 {
    padding-bottom: 32px !important;
}

.padding-bottom-64 {
    padding-bottom: 64px !important;
}

.padding-top-mobile-32 {
    @include media-breakpoint-down(md) {
        padding-top: 32px !important;
    }
}

.padding-bottom-mobile-32 {
    @include media-breakpoint-down(md) {
        padding-bottom: 32px !important;
    }
}
