.wrapper {
    + .wrapper {
        margin-top: 20px;
    }

    .title {
        font-weight: 700;
    }

    .options {
        display: flex;
        flex-direction: row;
        margin: 35px 0 30px;

        :global {
            .radio,
            .checkbox {
                margin-right: 30px;
            }
        }
    }
}