@font-face {
    font-family: "easyjet_rounded_book";
    font-display: swap;
    font-weight: 400;
    src: url("../static/fonts/easyJetRoundedBook.woff2") format("woff2"),
        url("../static/fonts/easyJetRoundedBook.woff") format("woff2");
}

@font-face {
    font-family: "easyjet_rounded_book";
    font-display: swap;
    font-weight: 300;
    src: url("../static/fonts/easyJetRoundedLight.woff2") format("woff2"),
        url("../static/fonts/easyJetRoundedLight.woff") format("woff");
}

@font-face {
    font-family: "easyjet_rounded_demi";
    font-display: swap;
    src: url("../static/fonts/easyJetRoundedDemi.woff2") format("woff2"),
        url("../static/fonts/easyJetRoundedDemi.woff") format("woff");
}
