// The next fonts are loaded in two stages on JavaScript (see <FontLoader /> in React app)
@font-face {
    font-family: "easyjet_rounded_headline";
    font-display: swap;
    font-weight: 400;
    src: url("../static/fonts/easyJetRoundedHeadline.woff2") format("woff2"),
        url("../static/fonts/easyJetRoundedHeadline.woff") format("woff");
}

@font-face {
    font-family: "easyjet_rounded_headline";
    font-display: swap;
    font-weight: 700;
    src: url("../static/fonts/easyJetRoundedHeadlineBook.woff2") format("woff2"),
        url("../static/fonts/easyJetRoundedHeadlineBook.woff") format("woff");
}

@font-face {
    font-family: 'easyjet_generation_headline';
    font-display: swap;
    src: url('../static/fonts/easyJetGenerationHeadline.woff2') format('woff2'),
        url('../static/fonts/easyJetGenerationHeadline.woff') format('woff');
}
