.sticky-wr {
    .sticky-gap {
        display: none;
        height: 0;
        transition: height $animationDuration;
    }

    .sticky-box {
        position: relative;
        max-height: 100%;

        &::-webkit-scrollbar-track {
            background-color: $colorGrayLight;
        }

        &::-webkit-scrollbar {
            width: 11px;
            height: 3px;
            background-color: $colorGrayLight;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $clrEjOrange;
            border-radius: 3px;
        }

        @include media-breakpoint-up(md) {
            &.sticky {
                position: fixed;
                z-index: $z-index-fixed + 1;
                top: 0;
                left: 0;
                width: 100%;

                .basket .diagonal-cells {
                    min-height: 81px;
                }

                + .sticky-gap {
                    display: block;
                }

                .diagonal-cell__inner {
                    max-width: 250px;
                }

                .diagonal-cell__inner-price:not(.no-flex) {
                    display: flex;
                    align-items: center;
                }

                .basket__price-pp {
                    margin-left: 8px;
                }

                .basket__price-pills {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                }

                .basket__price-pills .price-pill {
                    margin-bottom: 4px;
                }
            }
        }

        &.sticky-mobile.sticky {
            position: fixed;
            z-index: 100;
            top: 0;
            width: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            + .sticky-gap {
                display: block;
                height: 0;
            }
        }
    }
}
