<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore role:require="Standalone or ContentManagement" unicorn:require="On">
        <unicorn>
            <configurations>
                <configuration name="Foundation.Tracking" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Channel" database="master" path="/sitecore/system/Marketing Control Panel/Taxonomies/Channel/Online/Website" />
                        <include name="XConnectRule.VisitSearch" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - Visit Search" />
                        <include name="Tasks.Commands" database="master" path="/sitecore/system/Tasks/Commands/Foundation/Tracking"/>
                        <include name="Tasks.Schedules" database="master" path="/sitecore/system/Tasks/Schedules/Foundation/Tracking"/>
                        <include name="Templates" database="master" path="/sitecore/templates/Foundation/Tracking"/>
                        <include name="Profiles.VacationStay" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/easyJet Holidays/Vacation Stay" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>