<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="Tracking.SearchChannelId" value="{B418E4F2-1013-4B42-A053-B6D4DCA988BF}" />
            <setting name="Tracking.BatchSize" value="20" />
            <setting name="Profile.VacationStay" value="/sitecore/system/Marketing Control Panel/Profiles/easyJet Holidays/Vacation Stay" />
        </settings>
        <pipelines>
            <convertToXConnectInteraction>
                <processor patch:after="processor[@type='Sitecore.Analytics.XConnect.DataAccess.Pipelines.ConvertToXConnectInteractionPipeline.ConvertToXConnectInteractionProcessor, Sitecore.Analytics.XConnect']"
                           type="easyJet.Foundation.Tracking.Pipelines.ConvertToXConnectInteractionPipeline.ConvertInteractionUserSearchFacet, easyJet.Foundation.Tracking"/>
            </convertToXConnectInteraction>
        </pipelines>
    </sitecore>
</configuration>
